[2020-10-22 20:22] #280 closed

[2020-10-22 20:37] tima commented on #264
Galaxy  cannot and will not remove a release regardless of its status.

[2020-10-22 20:37] #264 closed

[2020-10-22 20:42] tima commented on #277
Closing. This is being tracked thru #279.

[2020-10-22 20:42] #277 closed

[2020-10-22 20:43] #275 closed

[2020-10-22 20:45] tima commented on #249
@stiller-leser Glad you figured out something that works for your needs.

[2020-10-22 20:45] #249 closed

[2020-10-22 20:50] tima commented on #215
We're going to track this issue through #253.

[2020-10-22 20:50] #215 closed

[2020-10-22 20:57] tima commented on #138
@djzager In addition to the suggestions about rollouts, a `k8s_rollback` module was added by #26 and was released as part of 1.1. Is that sufficient that this one can be closed.

[2020-10-22 21:00] tima commented on #121
Closing because of inactivity. If this is still an issue, all OKD/OpenShift development is happening in ansible-collections/community.okd.

[2020-10-22 21:00] #121 closed

[2020-10-23 11:57] rahulagrawalpsl opened #283 "Ansible based operator on openshift 4.3 fails with error "urllib3.exceptions.MaxRetryError: HTTPConnectionPool(host='localhost', port=80): Max retries exceeded with url: /version""
##### SUMMARY

We have suddenly started facing this error while creating instance with our ansible based operator. There hasn't been any code change for about a month though. The error is coming from ansbile role when its trying to check if an application pod already exists on the cluster. It was working perfectly file until about 10 days back and nothing has been changed in the operator code for

[2020-10-23 12:46] geerlingguy commented on #283
If you haven't changed the operator code or built a new version of the operator in a while, I doubt the issue has anything to do with the collection.

It looks like something in the cluster may have changed, as the Kubernetes API seems to be continually giving back "Connection refused".

[2020-10-26 08:11] jaydesl commented on #283
See #273 and the PR that resolves it #276

In the meantime, this can be resolved in the playbook by pinning the kubernetes-client version (kubernetes<12.0.0)

[2020-10-26 08:40] Akasurde commented on #283
@rahulagrawalpsl The version `kubernetes<12.0.0` @jaydesl saying is for the Kubernetes Python Client library. The above output is for `kubectl` and `oc` command. Please do `pip list | grep kubernetes`.

Mine is -

[code]

[2020-10-26 08:56] rahulagrawalpsl commented on #283
thanks @Akasurde . I don't have pip on my machine though. let me install it and check.

btw, could you please advise how to define kubernetes-client version in ansible playbook/role?

[2020-10-26 09:22] Akasurde commented on #283
@rahulagrawalpsl Kuberentes collection uses `kubernetes-client` directly and you can not define the version in the playbook. You may need to check pip on the machine where you are using Ansible (localhost in your case).

[2020-10-26 10:00] nergalex opened #284 "No module named google.auth"
##### SUMMARY
**CONTEXT**
first install and play with `community.kubernetes collection`. It doesn't work before. (see attached playbook `get_test.yaml`)

**SYMPTOM**
job output `No module named google.auth` (see attached file job_24196_output.txt)

**WORKAROUND**
add `__init__.py` in package `google`. File copied from `https://raw.githubusercontent.com/googleapis/google-auth-library-python/master/

[2020-10-26 11:01] rahulagrawalpsl commented on #283
@Akasurde
Thanks. Since here ansible is being used by operator, i am wondering if this issue is on openshift cluster or on the operator. In other works, do we need to check kubernetes client on openshift cluster itself or within the operator container.

Our operator image is using this ansible operator image as base -

quay.io/operator-framework/ansible-operator:v0.15.0

Could it be the version is

[2020-10-26 11:47] rahulagrawalpsl commented on #283
I don't actually see a kubernetes version when i run "pip list".
I see 12.0.0 when i run the same in operator container.

[2020-10-26 13:21] geerlingguy commented on #284
It looks like the primary issue is the openshift  Python library is not installed on the machine where the playbook runs. It should be installed with `pip install openshift`

[2020-10-26 21:39] nergalex commented on #284
`openshift` package is well installed but during module import, `google `package is not found. In `detailed_job_output.txt`, you will find the detailed error:
[code]
[detailed_job_output.txt](https://github.com/ansible-collections/community.kubernetes/files/5441688/detailed_job_output.txt)

[2020-10-27 05:21] felixfontein commented on #221
@geerlingguy @tima I guess the main repository for community.kubevirt should live in github.com/ansible-collections/. Right now, the kubevirt modules have no tests in CI anyway, so I think releasing a first version without tests would be fine as well, or even releasing 1.0.0 so we get this included in Ansible 2.10.x (and then remove the kubevirt modules from community.general 2.0.0). What do you t

[2020-10-27 08:22] rahulagrawalpsl commented on #283
@Akasurde @geerlingguy @jaydesl ,
Thanks for all your inputs. Issue seems to be fixed now after i changed the kubernetes version to 11.0.0 explicitly in our operator image.

Could you guys please answer following 3 questions as well ?

1) Is it okay to use 11.0.0 version , is there any drawback of using lower version ?
2) How would we know when the issue is fixed with latest version of kubernetes,

[2020-10-27 09:00] Akasurde commented on #283
I think yes. There is no drawback of using a lower version as such. Not that I am aware of.

I think this change https://github.com/kubernetes-client/python/commit/b4d11b02a3479e63957a729614a616002f13e9c4#diff-59aff6ce4d28aa662f8b411b9d0dfe4f3e949c32a5edaf8e08905b58e7a41ee3L69-R71 caused the regression. This is being tracked under https://github.com/kubernetes-client/python/issues/1284. So I think

[2020-10-27 16:56] SleepyBrett opened #285 "Support for `helm template` and/or `helm install/upgrade --dry-run`"
##### SUMMARY
There are broadly two ways to use Helm. You can use it how the module supports, with full 'package management' features ('helm install, helm upgrade'). Another way is to use it to generate raw manifests ('helm template'). I'm not seeing support for the later, I may be missing something, and if so maybe this is a 'make the documentation clearer' ticket.

##### ISSUE TYPE
- Feature Ide

[2020-10-27 17:39] tima commented on #284
@nergalex Understood, but all of the things you are reporting -- Ansible Tower custom environment and the installation of the python openshift client library -- are outside of the scope of this project. Have you contacted Red Hat support on this?

[2020-10-27 17:48] tima commented on #285
Have you tried using [`check_mode`](https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html#enforcing-or-preventing-check-mode-on-tasks) on the helm task? It should have the same effect as a helm `--dry-run`.

[2020-10-27 18:49] SleepyBrett commented on #285
Thanks for the reply @tima

https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/modules/helm.py#L539

I'm not super python literate, however... It looks like checkmode does not run a dry-run at all. (a simple grep on the source code contains no reference to `dry-run`)

Instead it seems to compare the values provided with the values already present in the release on the cl

[2020-10-28 07:52] ikke-t opened #286 "jenkins oauth redirect fails with k8s module definition due json quoting"
##### SUMMARY

I'm doing GitOps with Ansilbe k8s module. I setup jenkins, but k8s definition for jenkins oauth route fails to be set due ansible adding extra " around the json. Jenkins is so picky, that it will fail. I find no way to remove the extra " around json in k8s definition, other than doing a template and doing it in jinja. Which is ugly, as none of the other files are not templated.

How

[2020-10-28 10:40] nergalex commented on #284
OK I will
Thank you for your answer

[2020-10-28 10:40] #284 closed

[2020-10-28 15:28] el-pako opened #287 "k8s update SecurityContextConstraint users list without specifying whole list"
##### SUMMARY
I am unable to add a users list entry to the non-custom Kubernetes resource named 'privileged' of kind SecurityContextConstraint without overwriting all existing users list entries, as strategic-merge does not work.

##### ISSUE TYPE
- Bug Report / Usage error?

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
/bin/pip3 show o

[2020-10-28 20:33] fabianvf commented on #287
Looks like that API doesn't support strategic merge, so the list would need to be merged manually. May be a good candidate for another openshift-specific module

in the meantime you'll need to get the existing list, add the new user to it by hand, and issue a request with the full list, which is unfortunate

merge-patch clobbers lists and since strategic-merge is unsupported there's really no reco

[2020-10-28 22:02] tima commented on #286
@ikke-t  A couple of us have tried to reproduce this quoting of the entire line problem and cannot do it. I'm not using RHEL8 and I'm running python 3.8, but I used the same versions of Ansible and the openshift client (fresh install in virtualenv).

Have you tried reproducing this using different versions of ansible or python or OSs? Is it only `to_json` on that one specific annotation?

[2020-10-29 00:32] tima commented on #287
@el-pako: We're in the process of splitting standard Kubernetes functionality from OpenShift specific functionality. We've already moved active development to ansible-collections/community.okd.

I did some checking and was shown this blog posts @sabre1041:

http://blog.andyserver.com/2020/08/declarative-security-context-contraints-using-rbac/

Hope that helps.

[2020-10-29 18:27] tima commented on #221
The developer and product manager winces at the thought of putting something out there without comprehensive CI testing in place. ;)

I talked this over with @gundalow and he suggested transferring my personal repo where I was working on this extraction as you requested @felixfontein.

https://github.com/ansible-collections/community.kubevirt

He and his community team will work on straightening t

[2020-10-30 10:06] Spredzy opened #288 "Action plugins link not properly created in galaxy tar ball collection"
##### SUMMARY

All the action plugins are symlink to `k8s_info.py` - When retrieving the tar ball from https://galaxy.ansible.com/community/kubernetes and un-taring locally, those symlinks seem to have tared in a wrong way

[code]

**Note**: The Jan 1, 1970 date on all symlinks

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- Released tar ball

##### ANSIBLE VERSION

- N/A

##### CONFIGURAT

[2020-10-30 10:59] Akasurde commented on #288
Seems like the following works -

[code]

[code]

[2020-10-30 14:52] tima commented on #288
@Spredzy This looks like an ansible/ansible issue you'll need to open over there.

[2020-10-30 14:52] #288 closed

[2020-11-01 17:23] tima commented on #283
( here is the one we are using currently - quay.io/operator-framework/ansible-operator:v0.15.0)

Like 2, this is an independent project from this one that we are only dependent on. You'll have to go over to the oeperrator-sdk project where this is developed and managed: https://github.com/operator-framework/operator-sdk

[2020-11-01 17:24] #283 closed

[2020-11-02 04:25] Akasurde commented on #285
@SleepyBrett Do you think we can add a parameter to specify `--dry-run` in helm command?

[code]

but not sure if we can use the same stdout YAML in helm command. Comments?

[2020-11-02 20:50] kdelee opened #289 "provide consistent env vars for authentication configuration"
##### SUMMARY

some of the modules here support the use of:
[code]

But not all. The helm modules in particular only seem to support `K8S_AUTH_KUBECONFIG`. Ansible tower greatly prefers handling authentication secrets in env vars rather than files, so we prefer fixing this here by providing the options rather than changing how we inject k8s authentication info into the job environment.

this is a

[2020-11-02 21:27] tima commented on #289
This is a duplicate of #279

[2020-11-02 21:27] #289 closed

[2020-11-02 21:29] kdelee commented on #279
This is desirable for awx/tower as well as this will make the kubernetes credentials users can attach to job templates work with the helm modules

[2020-11-02 21:46] howardjones commented on #279
@kdelee This is my actual use-case. For now, I generate a kubeconfig from the passed awx credentials as a workaround:

[code]

[code]

[2020-11-04 07:00] andiolsi opened #290 "k8s module quotes integer variables"
##### SUMMARY
The k8s module incorrectly quotes entries such as port and replicas when they are read from a dict using jinja2 templating

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Mac OS X 10.15.6

##### STEPS TO REPRODUCE

Define variables
[code]

create playbook
[code]

##### EXPECTED RESULTS
[code]

[2020-11-04 13:35] ikke-t commented on #286
odd, now I made a simplified reproducal for you guys, and tested again before sending, and it works. However, I updated my rhel8 ansible, and ocp clustere from 4.5 to 4.6. I will re-test the fevermap one too.

[2020-11-04 13:44] ikke-t commented on #286
ok, some problem with my reproducal. It works, however the original fevermap one does not.

[2020-11-04 14:02] ikke-t commented on #286
od. Now it works with fevermap too. I wonder how this is possible, I've put so many hours into figuring this out. Something behaves diferently after the updates. Well, I'll close this one. Sorry for the trouble, and thanks for looking into it.

[2020-11-04 14:02] #286 closed

[2020-11-05 00:02] kdelee commented on #279
@howardjones thanks for sharing that snippet, yeah I ran into this because we are going to start pulling helm in as a dependency so folks don't have to install it themselves (at least in tower, I can only assume will end up in awx container)...but when I went to verify I could use it...ran into this :D

[2020-11-05 09:59] stanislaw55 opened #292 "Module for creating Job from CronJob"
##### SUMMARY

It may be very specific use case but I need to create Job using CronJob object. Right now, I have to resort to `command` module in order to do that:
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

k8s_job

##### ADDITIONAL INFORMATION

One use case would be to test CronJobs that are running very seldom. Other use case may that: there's already defined but complicated

[2020-11-05 10:38] Akasurde commented on #292
@stanislaw55 Thanks for reporting this issue. Why not use existing `k8s` module like

[code]

[code]

[code]

[2020-11-05 12:03] stanislaw55 commented on #292
Hi @Akasurde
thanks for rapid response.

Your advise is completely valid but in my case I have pretty complex CronJob manifest which is stored in different repository. So basically it would be hard to reuse it. Or I would have to copy manifest and adjust it for Job which what I'm avoiding by using `kubectl`.

The goal was to have something as simple as `kubectl job --from=cronjob/my-cron test-job`

[2020-11-05 17:00] tima commented on #290
@andiolsi Have you tried this: `replicas: "{{ item.replicas | int }}"`?

[2020-11-05 17:02] andiolsi commented on #290
yes, absolutely, even ```replicas: "{{variable | to_json | from_json | int}}"```does have the same issue

[2020-11-05 17:18] andiolsi commented on #290
i was told that each modules code should have something like
```'replicas': dict(type='int' ....```
to sanitize json creation.

it actually should even make a string "8080" into a unquoted integer when creating the request to kuberentes.

the k8s module does not do this

[2020-11-05 18:53] andiolsi commented on #290
Found something else.
If you set an environment variable:
[code]

You get:
[code]

In this case it is non fatal as basically every linux environment variable is a string and every application that wants to treat it like an integer has to read and typecast it.

The k8s module code should auto-quote all "value" items that are passed in "env:"

I am a little astonished, that noone has stumbled across

[2020-11-05 19:39] tima commented on #290
@andiolsi

I've had to make some changes to what you've provided here to get something that runs and I can now reproduce the problem.

To your point RE: `'replicas': dict(type='int' ....`. This is true if Ansible is managing a module parameter. In the `k8s` module things like `definition` is treated as YAML and everything else is essentially a pass thru to the underlying client and the K8s API.

h

[2020-11-05 20:31] tima commented on #290
It seems that this issue has been seen before in the kubernetes client library that the openshift client depends upon.

http://mail-archives.apache.org/mod_mbox/airflow-commits/201907.mbox/%3CJIRA.13232744.1557522669000.43644.1564007280393@Atlassian.JIRA%3E

Passing this along to some one more knowledgeable for further review.

[2020-11-05 20:40] tima commented on #290
One detail I left out -- I was able to reproduce this message without using a `dict`.

[2020-11-05 21:35] tima commented on #290
@andiolsi:

I got ahold of @fabianvf offline to take a look at this. It is related to Jinja treating everything as a string.  He said you "got to use a template to work around that, since we don't have a schema we can't tell Ansible how to coerce those types and it seems to really like making them strings."

I move your definition into an external template file (removed the wrapping quotes on all

[2020-11-05 21:36] #290 closed

[2020-11-05 21:43] tima commented on #292
I think I understand the problem and the convenience of `--from=cronjob/my-cron-test-job`. I'm not opposed to a `k8s_job` module if it provides more functionality or benefit than what can be done in `k8s` or without dropping in `shell`.

This proposal is for this one very specific feature. What other features would this module that wouldn't be as easy using just `k8s`? Perhaps a module named somet

[2020-11-06 07:08] stanislaw55 commented on #292
I agree that `k8s_job` module should provide more functionality than what I described. Currently I do not see anything more that can be added so maybe name `k8s_exec_job` or `k8s_launch_job` or `k8s_run_job` would be better (since `exec` already has a meaning in Kubernetes context).

For sake of completeness, I'm attaching my whole workaround

[code]

Another approach would to combine `k8s_info` a

[2020-11-08 18:06] stephenmoloney opened #296 "Support for `--skip-crds` with helm v3 cli"
### SUMMARY
Support for `--skip-crds` with helm v3 cli

##### ISSUE TYPE
Support for `--skip-crds` with helm v3 cli

##### COMPONENT NAME
helm

##### ADDITIONAL INFORMATION
This is sometimes desired behaviour or required behaviour

[2020-11-08 18:16] tima commented on #296
@stephenmoloney Thanks for filing this. Could you expand your description on the uses cases for this feature? Why and when would you use this. Why is this important. Things that "sell" the idea for inclusion in a future release.

[2020-11-08 20:19] stephenmoloney commented on #296
@tima
Sure. But essentially the reason for inclusion of `--skip-crds` will be the same reason as helm cli includes it.
Give me some time and I will document this

The tricky part will be the difference in behavior and how this is achieved between helm v3 and helm v2.
How is the ansible module going to handle differences between them.

Does it try to abstract those differences away and support on b

[2020-11-09 17:20] tima commented on #296
@stephenmoloney The `helm` modules in here only support Helm3. We have no intention of supporting Helm2. There is a deprecated `helm` module that kind of does that. (It's based on a python library that wasn't keeping up with helm2 and went unmaintained.)

[2020-11-09 20:04] stephenmoloney commented on #296
Ok @tima

That is a good thing.

Then I definitely think `--skip-crds` should be supported in the same way as arguments like `atomic` and `wait-timeout` are.

[2020-11-10 04:55] Akasurde commented on #296
@stephenmoloney Are you working on the PR? Let me know.

[2020-11-10 10:08] Akasurde commented on #24
resolved_by_pr #298

[2020-11-10 10:35] Akasurde commented on #179
Closing this due to inactivity from the user.

[2020-11-10 10:35] #179 closed

[2020-11-10 12:28] stephenmoloney commented on #296
Gimme a bit of time. I will let you know within 1 month.

[2020-11-10 14:26] Akasurde commented on #278
resolved_by_pr #299

[2020-11-10 14:26] Akasurde commented on #278
@el-pako Could you please try PR #299 and let me know if it works for you? Thanks.

[2020-11-10 16:15] el-pako commented on #278
@Akasurde I am afraid I can not do that as I was using Ansible from a productive, shared environment at work (that also has been upgraded to a newer Ansible version since then).

[2020-11-10 19:14] #24 closed

[2020-11-10 19:15] #278 closed

[2020-11-10 19:25] tima opened #300 "Remove older_openshift_fail.yml from tests"
Remove tests for older OpenShift distros patched in #291 to deal with python 3.7 support issues. These systems are several generation behind latest now and are not likely to be in use that this can be removed. Also, development of OpenShift content is being migrated and deprecated to community.okd making this even less of a concern to this collection going forward.

[2020-11-10 23:23] shinebayar-g commented on #135
This really helped. Thank you!
I guess `pip uninstall ansible` doesn't really clean everything.

[2020-11-17 15:56] sylvainOL opened #307 "k8s module src options doesn't seems to work"
##### SUMMARY

Use of `src` options for `k8s` module seems to work only if Ansible Controller and Host are the same

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s
role version: `v1.1.1`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

had the issue on both MacOs and Debian

##### STEPS TO REPRODUCE

use two different machines:
* one where you launch th

[2020-11-17 16:21] geerlingguy commented on #307
@sylvainOL - One quick question: for the copy task, you're using the folded scalar option:

[code]

That seems like it would result in an invalid file being copied into place.

Can you try using the literal scalar instead, so newlines are preserved?

[code]

[2020-11-17 16:39] sylvainOL commented on #307
Hi @geerlingguy, the file is OK when I look at it:
[code]

But I can make the test with `|` (Actually, I've created this bug report by simplifying a playbook I'm working on where the files are retrieved by url --> https://gitlab.com/Orange-OpenSource/lfn/infra/kubernetes-monitoring-role/-/blob/ansible_collection/tasks/prometheus-stack-helmv2.yml)

[2020-11-17 16:42] sylvainOL commented on #307
[code]

results (with one `-v` as I believe it changes nothing):

ansible-playbook -i inventory /tmp/test.yaml -v
Using /Users/sylvain/.ansible.cfg as config file

PLAY [other] *******************************************************************************************************************************************************************************************************************************

[2020-11-17 16:44] sylvainOL commented on #307
[code]

[code]

[2020-11-17 16:45] sylvainOL commented on #307
so the behavior is the same than before

And thanks for the quick reply!

[2020-11-19 18:44] #138 closed

[2020-11-22 16:27] jam01 commented on #163
+1 on this feature, I think the lookup function would be idiomatic therefore easy to understand... Until then, what'd be a decent way to achieve that manually, would something like this work?

[code]

[2020-11-22 18:28] jam01 commented on #80
@stmarier is it possible for you to share the kustomize lookup plugin?

We're thinking of doing some manual work to get around this diff issue, but the kustomize lookup would be super useful

[2020-11-23 17:45] stephenmoloney commented on #296
@Akasurde I won't be able to get to this soon I'm afraid.

[2020-11-25 05:00] Akasurde commented on #300
resolved_by_pr #311

[2020-11-25 17:27] #300 closed

[2020-12-01 18:40] kwoodson opened #314 "Difficulty specifying correct kubeconfig"
##### SUMMARY
I'm attempting to run a few `k8s` commands.  For example,

[code]

I'm receiving the following error:
[code]

I have attempted to supply the environment variable `K8S_AUTH_KUBECONFIG` as well as pass the `kubeconfig` argument.  The `K8S_AUTH_KUBECONFIG` does not change anything or is being ignored.  The `kubeconfig` fails with an error that it cannot be found.  This is a bit puzzling

[2020-12-01 22:43] richm opened #315 "k8s modules lose configuration when using python-kubernetes v12"
##### SUMMARY
When using python-kubernetes v12, the k8s module does not read the configuration from `~/.kube/config` correctly - attempts to use the module will give some odd error because it will default to localhost.
[code]
When using python-kubernetes v11, it works as expected - it correctly looks up the current context and configuration and uses it.

The ansible k8s module first uses the `load

[2020-12-01 22:58] tima commented on #315
@richm Have you upgraded the community.kubernetes then what shipped with those versions or installed the kubernetes.core collection? I'm just verifying which version you are running with here.

[2020-12-01 22:59] tima commented on #314
@kwoodson Have you upgraded the community.kubernetes then what shipped with those ansible distros or maybe installed the kubernetes.core collection? I'm just verifying which version you are running with here.

[2020-12-02 00:09] richm commented on #315
I see that it is fixed (in the way I suggested) in the latest code: https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/module_utils/common.py#L256-L261

So perhaps I can close this issue, but I would request that this fix is backported to ansible 2.9, and that the public python packages on pypi get the fix.  https://github.com/ansible/ansible/issues/72784

[2020-12-02 00:09] #315 closed

[2020-12-02 14:22] stanislaw55 commented on #314
I think I know what's the problem here:
currently unreleased version of `community.kubernetes` has a fix to work with python's `kubernetes` library of version 12 and up. The last released version of `community.kubernetes` (1.1.1) does not contain this fix hence it breaks when used with Python's `kubernetes` library of version 12 and up. The error looks exactly as one I've encountered when using th

[2020-12-02 15:59] kwoodson commented on #314
@stanislaw55 This appears to be correct:
[code]

[2020-12-02 16:26] kwoodson commented on #314
@stanislaw55 I was able to find a copy the older rpm:
[code]

This solved my problem.

[2020-12-02 16:30] goneri commented on #314
@kwoodson can you confirm if the current git version of community.kubernetes works for you with 12.0.0?

[2020-12-02 17:10] geerlingguy opened #316 "CI is currently failing with 'HTTP Error 403: SSL is required'"
##### SUMMARY

On the task:

[code]

There is currently a failure when running `pip3 install kubernetes==12.0.0 openshift>=0.9.2 coverage`:

[code]

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

CI tests.

[2020-12-02 17:28] ClementGautier commented on #314
I confirm that python2-kubernetes-12.0.1-1.el7.noarch is causing the problem (I just tested on a server that had python2-kubernetes-11.0.0-2.el7.noarch, it worked, then I updated that precise package and reproduced this error).

[2020-12-02 17:30] kwoodson commented on #314
@goneri if there is an easy way to test that the git version works I'll be happy to test.  I installed the collection from git but this still fails because of the underlying python2-kubernetes-12.0.1 is causing the issue not the collection itself.  When removing the rpm it is missing and collection doesn't provide it AFAIK.

[2020-12-02 17:58] goneri commented on #314
@kwoodson, You can install the collection from `git` this way:

    rm -r ~/.ansible/collections/ansible_collections/community/kubernetes/
    git clone https://github.com/ansible-collections/community.kubernetes ~/.ansible/collections/ansible_collections/community/kubernetes/

You will still need python2-kubernetes-12.0.1.

[2020-12-02 18:12] kwoodson commented on #314
@goneri
[code]
Still receiving this error with the latest collection:
[code]

[2020-12-02 20:09] geerlingguy commented on #316
Yuck. It looks like that version of `distribute` is from 2012! https://pypi.org/project/distribute/0.6.27/

[2020-12-02 20:12] geerlingguy commented on #316
Hmm...

[code]

It keeps resolving back to older and older and older `coverage` packages until it hits `3.5.3` and explodes.

[2020-12-02 20:33] geerlingguy commented on #316
With the above PR, I'm getting:

[code]

It looks like the error is happening in the downstream tests as a result of https://github.com/ansible-collections/community.kubernetes/pull/276 from @jaydesl — @Akasurde do you know of any quick fix? It seems like it could be we need the openshift library to update its own dependencies?

[2020-12-03 07:11] stanislaw55 commented on #314
@kwoodson
So just to sum up:
 - `community.kubernetes` 1.1.1 with `kubernetes` 11.0.0 works fine.
 - `community.kubernetes` 1.1.1 with `kubernetes` 12.0.0 and up is broken (expected by me).
 - latest `community.kubernetes` from `main` with `kubernetes` 12.0.0 and up is broken - this is unexpected. To clarify - I did not test this combination but the solutions I found in web suggest that fix provid

[2020-12-03 10:51] Akasurde commented on #307
@sylvainOL Could you please try #320 and the following playbook?

[code]

[2020-12-03 12:52] Akasurde commented on #316
@geerlingguy This is due to new pip dependency resolver. We can't install

[code]

with this combination we get -

[code]

[2020-12-03 12:56] Akasurde commented on #316
trying option `--use-deprecated=legacy-resolver`

[2020-12-03 16:00] geerlingguy commented on #316
@Akasurde - But is there any way to get a resolvable set of dependencies? It seems like that would be a good goal, regardless of how strict Pip wants to be about it.

[2020-12-03 16:52] jmazzitelli opened #321 "failure in k8s task when using a definition list should have better error message"
##### SUMMARY

Use a list in k8s definition list:
[code]

If there is a syntax error in one of the templates (or simply that a resource in the list fails to be created), the error message that k8s spits out doesn't tell you WHICH item in the list fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
2.9

##### STEPS TO REPRODUCE
See above.

##### EXPECTED RESULTS
A

[2020-12-03 16:52] jmazzitelli commented on #321
cc @fabianvf

[2020-12-03 16:54] jmazzitelli commented on #321
@fabianvf my example might not be exactly what you are looking for (because it really isn't a list that my example pulls in). Feel free to change any of this to get this to what you want :) I think you understand what I was doing though - maybe this isn't exactly what you were thinking I was doing.

[2020-12-04 07:03] #316 closed

[2020-12-04 09:54] sylvainOL commented on #307
Hi @Akasurde
thanks for the proposal.
I'm a bit of an idiot so I'm not sure how I can grab / test #320 version for k8s community kubernetes :S

[2020-12-04 10:40] Akasurde commented on #307
Either you can copy all the files from this PR to the respective location in community.kubernetes or

[code]

[2020-12-04 10:46] sylvainOL commented on #307
👍 , I'll do it asap

[2020-12-04 12:39] sylvainOL commented on #307
this playbook worked with #320:

[code]

[2020-12-04 12:46] sylvainOL commented on #307
so #320 fixes one of the two issues (actually the one that I wanted ;) )
but we still have an issue when trying to access on the controller.

Here are two examples and none is working:

both are launched this way:
`ansible-playbook -vvvi inv /tmp/test2.yaml`

[code]

[code]

(almost) same results both times:  msg:
`Error accessing /tmp/files/deploy.yml. Does the file exist?`

and:
[code]

[2020-12-04 12:46] sylvainOL commented on #307
@Akasurde , thanks for the PR, it makes (half of) the bug disappears!

[2020-12-07 08:46] Akasurde commented on #307
@sylvainOL

1. The first case is valid and I am not able to reproduce this.

[code]

[code]

2. The second case is not valid since we are not specifying the full path of `src`.

[2020-12-07 08:48] Akasurde commented on #307
@sylvainOL you are not specifying `remote_src: True` in `community.kubernetes.k8s` task - https://github.com/ansible-collections/community.kubernetes/issues/307#issuecomment-738765081.

[2020-12-07 10:36] sylvainOL commented on #307
@Akasurde, well, as far as I understand the stuff, we have two options when using `community.kubernetes.k8s`:

* with `remote_src: True`: here the file has to be in the host where the playbook is played, not on ansible controller (`other` in my example). With your patch (#320), it works
* without  `remote_src` (or `remote_src: False`): here the file has to be in the ansible controller. I've tried

[2020-12-07 15:44] geerlingguy opened #323 "Two new CI failures in sanity and molecule tests"
##### SUMMARY

We are now hitting two new errors in CI causing failed builds: https://github.com/ansible-collections/community.kubernetes/actions/runs/405144301

First, in the sanity test:

[code]

Second, in the molecule test:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

CI

[2020-12-08 04:52] Akasurde commented on #323
- Sanity checks resolved in https://github.com/ansible-collections/community.kubernetes/pull/325
- I'm still investigating the molecule issue
- Found another issue in molecule test - https://github.com/ansible-collections/community.kubernetes/pull/326

[2020-12-08 15:41] geerlingguy commented on #323
@Akasurde - All right, looks like those PRs have fixed up all the current failures, and I'm seeing passing tests now, so I am happy to close this out now :)

[2020-12-08 15:41] #323 closed

[2020-12-08 16:00] tashoyan opened #328 "Create ConfigMap from a directory containing configuration files"
##### SUMMARY

Our application has all configuration files in a directory `conf`. When deploying to Kubernetes, we used to create a ConfigMap from the entire directory:
[code]
With Ansible k8s module it is impossible for now. It is especially bad, because now we deploy applications from a Docker container running in a Jenkins pipeline. This Docker container has Ansible inside, but it is not suppos

[2020-12-08 17:08] netw0rm opened #329 "support for community.kubernetes.kubeadm to create cluster?"

[2020-12-08 17:10] netw0rm commented on #329
like docker_swarm.

[2020-12-08 17:11] Akasurde commented on #329
I think there are already playbooks to create K8S clusters like this https://kubernetes.io/blog/2019/03/15/kubernetes-setup-using-ansible-and-vagrant/

[2020-12-08 18:09] geerlingguy commented on #329
There are also roles like `geerlingguy.kubernetes` that install via `kubeadm` (https://github.com/geerlingguy/ansible-role-kubernetes), and playbooks to install specific distributions like Rancher's K3s: https://github.com/k3s-io/k3s-ansible

In the past, we thought about this and decided that we didn't want to try to support K8s installation in this collection since there are at least dozens (if

[2020-12-08 19:24] tima commented on #328
I'm not opposed to this idea, but I'd have an issue with adding a param and functionality for a specific resource to the `k8s` module. That module is meant to be generic utility so something this specific wouldn't work. (Imagine adding *all* of the resource specific functions to this one module over time.)

Have you tried using the `template` param and building the configmap using a fileglob filte

[2020-12-08 20:22] tima commented on #329
Closing based on feedback from @geerlingguy and @Akasurde.

[2020-12-08 20:22] #329 closed

[2020-12-09 08:08] tashoyan commented on #328
My first attempt was "true Ansible" - template + jinja + fileglob. The solution turned out to be cumbersome, unmaintainable and unreadable. That's why I resorted back to a helper shell script.

Is it necessary to add a new parameter? It might be possible to use the existing `src` parameter and pass the directory with configuration files as an argument.
[code]
It would be great to make it in one An

[2020-12-09 13:25] Muscule commented on #314
I confirm that python2-kubernetes-12.0.1-1.el7.noarch is causing the problem (I just tested on a server that had python2-kubernetes-11.0.0-2.el7.noarch, it worked, then I updated that precise package and reproduced this error).

[2020-12-09 14:10] goneri commented on #274
Hi @SpikePy, thank for reporting this.

Helm provides a plugin called `helm-diff` that would be handy to address this problem. However since it's a plugin, we're not sure if it's a good idea to rely on it. On the other side, we don't feel like it's a good idea to rewrite it internally just for this case. @fabianvf how do you feel about that?

[2020-12-09 19:39] tima commented on #328
I agree about avoiding workarounds. My suggestion was to help with what you have to work with now.

I think we need to be careful we don't overload params with too much and resource specific logic. That could make things unwieldy and confusing. While `src` works for your specific example of this use case, we need to consider if there more to it. Will it be useful and work for another resource kind

[2020-12-09 20:56] goneri commented on #279
The following PR should resolve the situation: https://github.com/ansible-collections/community.kubernetes/pull/319
Feedback are welcome.

[2020-12-09 22:24] tashoyan commented on #328
Let me try to answer some questions.

_Will it be useful and work for another resource kind?_
For Secrets it could work the same way as for ConfigMaps.

_What if a user has files in the directory that should not be read in?_
Just include all files in the target ConfigMap. If user does not want some files, he does not put them in the `src` directory.
For example, there might be a file with a SSL pr

[2020-12-10 05:02] Akasurde commented on #321
@jmazzitelli I am not sure if we can tell which definition file failed since we are generating a "big" YAML file using jinja for loop.

I don't have the background for your requirement but I think the helm chart is the way to go forward. Helm chart handles multiple resources.

[2020-12-10 05:25] Akasurde commented on #233
@wayne-o Do you still encounter this issue?

[2020-12-10 07:57] Akasurde commented on #314
https://github.com/openshift/openshift-restclient-python/issues/389

[2020-12-10 08:58] jmazzitelli commented on #321
You are saying re-implement my entire operator in helm to workaround this issue? That's obviously a no-go for me.

@fabianvf thoughts?

[2020-12-10 09:03] Akasurde commented on #321
OK. Will wait for @fabianvf to comment.

[2020-12-10 09:04] netw0rm commented on #329
ok

[2020-12-10 10:45] Akasurde commented on #83
@tima Do you think we should add a new parameter as @willthames suggested?

[2020-12-10 17:58] #307 closed

[2020-12-10 18:20] goneri commented on #285
Can we use the check mode for that? https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html#using-check-mode

[2020-12-11 05:09] Akasurde commented on #274
resolved_by_pr #332

[2020-12-11 05:09] Akasurde commented on #274
@SpikePy Could you please check if #332 works for you and let us know? Thanks.

[2020-12-11 16:41] #279 closed

[2020-12-14 05:31] Akasurde commented on #164
@geerlingguy @tima @gravesm Do you think we should have individual modules for helm plugins?

[2020-12-14 17:27] geerlingguy commented on #164
@Akasurde - In some ways I'm beginning to feel like it would've been nice to keep Helm in a separate collection :)

But I don't feel too bad having plugins in separate modules.

[2020-12-15 14:27] a-meynard opened #333 "k8s module search for kubeconfig on the Ansible Controller"
##### SUMMARY

I passed my playbooks from community.kubernetes == 0.11.1 to 1.1.1 and the `kubeconfig` parameter stopped working correctly. This parameter used to search for kubeconfig on the Ansible Target but it seems that it is now searching for kubeconfig path on the Ansible Controller.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

`community.kubernetes.k8s`

##### ANSIBLE VERSION

[c

[2020-12-18 17:25] er1z opened #335 "lookup and module_defaults"
Don't know where to classify this issue. Is it possible to have following to be successful?

[code]

or should I specify `api_key` and `host` arguments every time?

[2020-12-18 18:20] tima commented on #335
I don't think so @er1z. Your indention is off (`set_fact` under `module_defaults` should be over one) but I'm assuming that is just a typo.

Have you tried a `k8s_info` task and register that to a variable? That module and other `k8s_` modules works with `module_detaults` groups. That is the more conventional approach to avoid setting `api_key` and `host` throughout a play and limiting those defau

[2020-12-18 18:49] fabianvf commented on #321
@Akasurde there shouldn't be any need for a helm chart here, there should be nothing you can do easily with helm that you can't easily do with pure Ansible (if there is we should address that gap).

The `k8s` module doesn't actually process the single yaml file any different than it would a normal list of resources, it will `yaml.load_all` the file and then iterate over the resources, sending each

[2020-12-18 19:06] tima commented on #321
Thanks @fabianvf. Any opinions on how to handle an error? Should the module stop processing once a resource operation fails or continue to try more?

[2020-12-18 19:45] er1z commented on #335
Yeah, just copied with an incorrect indent, now I redacted. Limiting is intentional because I need to pass previously fetched host name and token.

Gonna try later and post an update. Thanks.

[2020-12-18 19:53] jmazzitelli commented on #321
Can you make that configurable? `abort_on_error` boolean or something? I actually have both use-cases... in one case, I would want to abort immediately and not try the rest... in another use case, I want to try them all even if one fails (I plan on having a ignore_errors:true on that task - these are optional resources that should not fail my operator's reconciliation run if one or more fails to g

[2020-12-19 14:58] er1z commented on #335
Using `k8s_info` let me gather all required information with `module_defaults`. Thank you!

[2020-12-19 14:58] #335 closed

[2020-12-21 17:37] a-meynard commented on #333
Hello @tima

I think my issue is different from #307, but it seems that #320 will solve it
I'll give it a try tomorrow and close this issue if it's solved by the PR :)

[2020-12-22 10:09] thanos1983 opened #336 ""Unprocessable Entity", "status": 422"
##### SUMMARY

I am trying to use the module [community.kubernetes.k8s – Manage Kubernetes (K8s) objects][1] with variables from the role (e.g. role/sampleRole/vars file).

I am failing when it comes to the integer point e.g.:

[code]

When I deploy with this format obviously it will fail at it can not parse the "reference" to the var.

Sample of error:

[code]

When I use quotes on the variable e

[2020-12-24 13:11] SpikePy commented on #274
Just had time and the opportunity to test it and it worked like a charm. showed changed state if i changed the charts version tag and if I re-rolled it with the same module parameters without any changes it shows "ok" 👍

[2021-01-04 13:43] ader1990 commented on #135
this is the correct solution.

[2021-01-04 22:25] goneri commented on #248
Does https://github.com/ansible-collections/community.kubernetes/pull/332 address the problem?

[2021-01-05 16:03] PengBAI opened #337 "helm_repository add repo failed with auth"
##### SUMMARY
use module helm_repository to add helm repo
[code]
the first time of run playbook is OK.
the second time is failed with
[code]

##### ISSUE TYPE
- bug

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=20.04
DISTRIB_CODENAME=focal
DISTRIB_DESCRIPTION="Ubuntu 20.04.1 LTS"

##### STEPS TO REPRODUCE

[2021-01-05 16:10] PengBAI opened #338 "community.kubernetes.helm support values in template j2 file"
##### SUMMARY

add new parameter like values_template to support j2 template file.
Or
update the existing parameter values_files to support j2 file

[code]

##### ISSUE TYPE
- Feature Idea

[2021-01-05 19:53] #274 closed

[2021-01-06 13:51] goneri commented on #336
Hi @thanos1983,

The problem seems to actually be this error: `readUint32: unexpected character: \\\\ufffd, error found in #10 byte of ...|nerPort`. It looks like you've got some unexpected characters either in the variable configuration file or maybe in the playbook itself. These UTF8 characters are not displayed by text-editor and may be hard to find.

[2021-01-06 13:59] goneri commented on #338
Hi @PengBAI,

If I understand properly, this change is actually not required. You can already use the `template` module to prepare a "values file" and in a second step, pass the result file to `helm` through its `values_files` key.

If you think we misunderstood something, feel free to reopen the issue.

[2021-01-06 13:59] #338 closed

[2021-01-06 14:08] thanos1983 commented on #336
Hello @goneri,

I do not think that the problem is there. In my vars file I pass the variable as e.g.:

[code]

I tried also to pass it as string e.g.:

[code]

Then I cast it to int e.g.:

[code]

But none of them worked.

My workaround for the moment is that I am using templates with the module e.g. (from documentation examples):

[code]

Where I can pass the variables without any problems. I th

[2021-01-06 16:56] goneri commented on #336
I just took a look at our melecule test, and we pass a dict to the `template`... and it works. So I'm a bit confused.

[2021-01-06 17:24] thanos1983 commented on #336
I get the same error when I replace also the var:

[code]

[2021-01-07 15:35] stiller-leser opened #339 "Add hint for `pod/exec` RBAC resource to `k8s_exec`"
##### SUMMARY
When working with limited RBAC rules and the `k8s_exec` module it would be very helpful to be aware of the requirement to add
[code]
to the RBAC rule. I for one was not aware of the sub-resouces.

Happy to add it myself, but I am not sure how the documentation is generated.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

community.kubernetes.k8s_exec

[2021-01-07 15:51] Akasurde commented on #339
@stiller-leser Thanks for reporting this. Would you be interested in raising PR? thanks.

[2021-01-07 15:57] stiller-leser commented on #339
`Happy to add it myself, but I am not sure how the documentation is generated.` ;)

Am I right to assume that I would only need do add something like this here: https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/modules/k8s_exec.py#L32

[code]

[2021-01-07 15:58] Akasurde commented on #337
@PengBAI Thanks for reporting this issue. Could you please provide `helm repo list` before and after?

[2021-01-07 16:19] PengBAI commented on #337
first run from scratch:
[code]
second run the same playbook:
[code]

[2021-01-07 16:28] uda opened #340 "Add context argument to k8s_cluster_info module"
##### SUMMARY
Add context argument to the `k8s_cluster_info` module so I can get the relevant cluster's info (like version)

Currently this module only gives me the option to get the info of the default context.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugins/modules/k8s_cluster_info.py

##### ADDITIONAL INFORMATION
[code]

[2021-01-07 16:39] PengBAI commented on #337
if I run with command
[code]
it's just:
[code]
I'm using Helm 3 for information

[2021-01-08 14:18] alinabuzachis commented on #337
Hi @PengBAI, I would like to thank you for your quick replies. Could you kindly share the playbook you used? Also, I wanted to kindly ask you to ckeck whether both URLs (during the first and second execution of the playbook) of the repo are the same. Thank you.

[2021-01-08 15:10] goneri commented on #336
Hi @thanos1983, May I ask you to playbook on a github repository that reproduce the issue?

[2021-01-08 16:45] thanos1983 commented on #336
Hello again @goneri,

I was replicating the code and I noticed that there was a new version of the package:

[code]

I updated and the problem is fixed.

We can close the ticket. :)

Thank you for your time and effort to help me.

[2021-01-08 17:02] goneri commented on #336
Great! Thank you for the update.

[2021-01-08 17:02] #336 closed

[2021-01-08 19:07] fabianvf commented on #314
I think the modules will need to be updated to be compatible with these changes kubernetes 12.x, by the time the dynamic client is created the configuration has already been loaded

[2021-01-08 19:52] gravesm commented on #340
@uda Thank you for posting this. Would you be willing to submit a PR for this feature?

[2021-01-08 20:08] gravesm commented on #71
We believe that this has been fixed. If this is still a problem, feel free to reopen.

[2021-01-08 20:08] #71 closed

[2021-01-09 16:49] romogo17 opened #341 "src parameter doesn't work as expected when using the FQCN of the k8s module"
##### SUMMARY
When using the FQCN of the `k8s` module with the `src` parameter, the module fails to find or access the referenced file
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

*Controller*
- OS: Mac OS X
- Version: 10.15.7

*Remote*
- CentOS Linux release 8.3.2011

##### STEPS TO REPRODUCE

[2021-01-10 17:51] kubealex opened #342 "k8s module should not require 'openshift' python module to work."
##### SUMMARY
k8s modules should not require 'openshift' python module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.kubernetes.k8s

##### ANSIBLE VERSION

2.9+

##### OS / ENVIRONMENT
All

##### STEPS TO REPRODUCE

Creating a namespace or whatever object.

[code]

##### EXPECTED RESULTS

A namespace is created

##### ACTUAL RESULTS

Failure

[code]

[2021-01-11 10:01] PengBAI commented on #337
hello all,

My bad...
I set the variable as
[code]
so https://github.com/ansible-collections/community.kubernetes/blob/221631c06a89dc1ff53140c57adbd8522259258c/plugins/modules/helm_repository.py#L219

It's a users' entry error, but maybe add a trim() on repo_url is better. what do you think

[2021-01-11 14:16] a-meynard commented on #333
the bug does not appear when using the main branch. I assume #320 resolves the problem
Thank you @tima I will close this Issue and wait for a new release of this repo (I'm using 1.1.1 right now)

[2021-01-11 14:17] #333 closed

[2021-01-11 14:58] tima commented on #342
The `openshift` python library has always been [a requirement](https://github.com/ansible-collections/community.kubernetes/blob/main/requirements.txt) of the `k8s` modules. This content used to handle kubernetes and openshift automation and that library handles both. That said, we began the gradual process of [extracting all of the openshift functionality](https://github.com/ansible-collections/co

[2021-01-11 14:58] #342 closed

[2021-01-12 19:17] #253 closed

[2021-01-12 23:27] hojerst opened #344 "k8s_info with wait option returns immediately when resource doesn't exist"
##### SUMMARY

`k8s_info` with the `wait` option does return immediately when no object is found.

From the example in the

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`community.kubernetes.k8s_info` (in collection v1.1.1)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

run the example from the documentation without a object "

[2021-01-13 04:34] Akasurde commented on #282
@eMCeee89 Could you please check if #343 works for you and let us know? Thanks.

needs_info

[2021-01-13 04:35] Akasurde commented on #282
resolved_by_pr #343

[2021-01-13 13:30] alinabuzachis commented on #89
@fabianvf Are you still working on this?

[2021-01-13 13:38] alinabuzachis commented on #169
@wkulhanek Thank you for reporting this. This issue implies quite a lot of work and is this something we really want?

[2021-01-13 13:41] alinabuzachis commented on #82
Hello @ericsysmin, by policy we don't push any role in this collection. Can you please use galaxy to publish it?

[2021-01-13 13:41] #82 closed

[2021-01-13 13:47] alinabuzachis commented on #187
@fabianvf I took the freedom to remove you from the assignees, it is ok for you?

[2021-01-13 13:51] alinabuzachis commented on #185
@fabianvf Are still want to implement this by yourself? This feature can be implemented easily on the top of the turbo mode.[https://meet.google.com/linkredirect?authuser=0&dest=https%3A%2F%2Fgithub.com%2Fansible-collections%2Fcommunity.kubernetes%2Fpull%2F313](url)

[2021-01-13 13:58] alinabuzachis commented on #226
Hello @tima, this looks like a good candidate for the Bullhorn.

[2021-01-13 14:13] alinabuzachis commented on #221
Hello @tima, do you have any timeline for doing this?

[2021-01-13 14:14] goneri commented on #221
I would appreciate if we land https://github.com/ansible-collections/community.kubernetes/pull/313 before the renaming, this to avoid a painful rebase.

[2021-01-13 15:14] tima commented on #341
@romogo17 I think this may be a duplicate of #307 and #333. Could you verify what version of this collection you are using here?

[2021-01-13 18:20] fabianvf commented on #169
@alinabuzachis the work required isn't too extreme, most of the complexity is determining the interface we want to expose for users to provide the patch commands (ie, yet another argument for `k8s` or maybe a separate module) and then passing them through to the client.

[2021-01-13 18:21] fabianvf commented on #89
@alinabuzachis I haven't really looked at it, and definitely won't have the bandwidth to pick it up anytime soon

[2021-01-13 18:23] fabianvf commented on #185
@alinabuzachis I think I'm assigned to a lot of these issues just as a default as I was the primary maintainer for quite a while, certainly won't be able to pick this one up myself anytime soon

[2021-01-13 19:08] eMCeee89 commented on #282
@Akasurde I can confirm it works well using a version from [#343](https://github.com/ansible-collections/community.kubernetes/pull/343), thank you.

[2021-01-13 23:18] tima commented on #221
Both of these are "2.0" work items. Which gets done as part of that effort I leave to you. We should finalize v1.2 first before starting on that.

[2021-01-14 02:51] romogo17 commented on #341
Hi @tima, I'm currently using `v1.1.1`
[code]

After reading #307 (and #320) I tried to install the collection directly from the `main` branch.

##### TEST
I used the playbook I was having issues with, and it worked fine with and without the FQCN
[code]
[code]
##### RESULTS
[code]

Thank you for pointing me into the right direction!

[2021-01-14 02:51] #341 closed

[2021-01-14 16:05] #282 closed

[2021-01-14 17:15] sreese4u opened #347 "urllib3.exceptions.ProtocolError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')) with k8s module"
##### SUMMARY
Getting the following exception when using k8s module in Ansible Versions 2.9.13 and 2.10.4.

[code]

The task looks like this.

[code]
If I remove the `tls` part of this task it works again. If I add `|-` behind `certificate:`, `key:` and `caCertificate:` then it works as well but OpenShift does not accept the configuration.

This is what I mean, when I say OpenShift does not accept

[2021-01-14 17:19] alinabuzachis commented on #337
Hello @PengBAI, no problem! I am closing the issue since the problem was in the playbook.

[2021-01-14 17:19] #337 closed

[2021-01-14 21:38] tima commented on #347
@sreese4u We'd need to know a couple of additional things here before we could start debugging what's happened.

- Can you verify the version of this collection you are using? Have you installed the latest release (1.1.1) or are you working with the versions in the 2.9.13 and 2.10.4 distros?
- Can you verify the version of the python-kubernetes client you have installed? ([v12 caused a lot of prob

[2021-01-14 22:59] sreese4u commented on #347
@tima
- I am working with ansible==2.9.16 currently and get the same error.
- I am testing with kubernetes==11.0.0.

1. Not sure I get what you mean. It looks like the functionality for this is inside the kubernetes module?
2. This works in that there is no exception but the certificate content is not properly formatted and the kubernetes route definition gets rejected from haproxy/router. This me

[2021-01-15 10:16] sreese4u commented on #347
I don't think it's a bug in the module anymore. It seems to be my local network at home that causes this somehow.

[2021-01-15 15:40] plicon opened #348 "Failure executing helm command "unknown flag --filter""
##### SUMMARY
When running trying to install a helm chart using the community.kubernetes.helm module the ansible breaks with:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
  - name: install helm chart
     community.kubernetes.helm:
        name: my-helm-chart
        namespace: default
        binary_path: "{{ helm_bin }}"
        chart_ref: my/helm-chart

helm version:
[code]

###

[2021-01-15 15:49] tima commented on #348
@plicon The helm module in this collection is for Helm3 only. Looks like you're using Helm 2.16.12.

[2021-01-15 15:55] gravesm commented on #344
@hojerst Thank you for reporting this. I'll take a look.

[2021-01-15 18:11] plicon commented on #348
right I'm using helm2 .. didn't see in the requirements an exclusion of helm2 ..
I'll give community.general.helm a try and see if that one get's the job done.
Thanks!

[2021-01-15 19:54] goneri commented on #272
Thank you for issue report @memelet. I close it per @geerlingguy comment. Feel free to reopen if you think we've misunderstood something.

[2021-01-15 19:54] #272 closed

[2021-01-18 17:23] #348 closed

[2021-01-21 15:59] gravesm commented on #248
helm diff [doesn't support](https://github.com/databus23/helm-diff/issues/213) using a repository url so this feature won't be able to be used in that scenario. I guess we just fall back to the existing diff functionality and add a warning message for now?

cc @Akasurde

[2021-01-22 08:13] Akasurde commented on #328
@tashoyan Could you please check if #350 works for you? I am still testing this.

$ cat k8s_config.yml

[code]

[code]

[code]

[2021-01-22 12:47] tashoyan commented on #328
Hi @Akasurde
The PR #350 does not seem to address the issue.
Let's start with an example: we want to create a ConfigMap from a directory containing 3 configuration files:
[code]
We want exactly the same result as the following command does:
[code]
So the ConfigMap `app-conf` will have content like:
[code]
[code]
Having this ConfigMap `app-conf`, we can mount it in a directory inside a pod and have

[2021-01-23 17:42] aneurinprice opened #351 "Unexpected CronJob behavior. fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to find exact match for v1.CronJob by [kind, name, singularName, shortNames]""
##### SUMMARY
Attempting to create a cronjob with kind `CronJob` and apiVersion `batch/v1beta1` yields `"Failed to find exact match for v1.CronJob by [kind, name, singularName, shortNames]"`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A c

[2021-01-23 22:41] aneurinprice commented on #351
Seems to work fine if importing from a template

[2021-01-25 14:55] fabianvf commented on #351
@aneurinprice everything in `definition` is sent directly the the api server, so `metadata.api_Version` needs to be `metadata.apiVersion` (no underscore separating them). It's just ignoring that field and that's why it has defaulted to `v1` for the api version

[2021-01-25 21:56] sbarre-esit commented on #314
https://github.com/kubernetes-client/python/issues/1333 appears to be related to this

[2021-01-26 05:33] geerlingguy opened #352 "Add example k8s usage to apply manifest from URL"
##### SUMMARY

Today I wanted to apply the official `metrics-server` manifest from a URL instead of from a local file or a file copied to my remote Kubernetes cluster server.

I noticed the documentation lacks any examples of URL-based deployments, so I think we should add an example to show how to do it.

Then I realized I'm not even sure if there's a way using a `lookup` with `url` or any other

[2021-01-26 19:16] jeremytourville opened #353 "K8s Error: name is required to patch v1.Namespace"
##### SUMMARY

K8s module fails stating name is required to patch v1.Namespace
I am running the following playbook https://galaxy.ansible.com/geerlingguy/k8s

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

!component =lib/ansible/modules/clustering/k8s/k8s.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ansible control node
`CentOS Linux release 8.2.20

[2021-01-26 19:42] tima commented on #353
@jeremytourville It's hard to say what's happening here without seeing the play or task that is failing. This seems like the problem is with the https://galaxy.ansible.com/geerlingguy/k8s more than something in the modules of this collection though. According to Galaxy, @geerlingguy hasn't made a release of that content in 8 months. We've made a few significant releases of this content in that tim

[2021-01-26 19:58] jeremytourville commented on #353
I greatly appreciate the comment to help troubleshoot.  I hadn't thought of getting the latest from the content source repo.  I'll try that and report back.  I did update the failure to reflect which play/task was failing.

[2021-01-26 21:01] jeremytourville commented on #353
ok, I found a newer kubernetes roles to run  https://galaxy.ansible.com/geerlingguy/kubernetes  and was able to get the master built without issue.  I'd expect the nodes should go smoothly at this point.  I am satisfied to close this.  Thanks again!

[2021-01-26 21:38] geerlingguy commented on #353
@jeremytourville - Yeah, sorry about that—note that my collections on galaxy are a _lot_ harder to maintain than the individual roles, so for the time being I am a lot more lazy about updating them (it's like a 4 part process right now).

Stick to the individual roles instead. (Annoyingly, Ansible Galaxy lists collections before roles in searches, which gives them some sort of implied superiority.

[2021-01-26 22:24] #353 closed

[2021-01-27 15:28] dojones1 opened #354 "helm module should support the equivalent of the command line --history-max flag"
##### SUMMARY
HELM module should allow equivalent configuration of the --history-max field.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.kubernetes.helm

##### ADDITIONAL INFORMATION
When the helm module is invoked to trigger an upgrade it results in additional secrets being created up to the default maximum (10) of the form: sh.helm.release.v1.<release>.v<deployment#>.

This r

[2021-01-28 10:34] oshoval opened #356 "Unable to patch node status in order to create extended resources"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s (k8s_raw)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

k8s v1.17.0

##### STEPS TO REPRODUCE

Trying to create extended resources with ansible.
Ansible playbook finishes successfully, but nothing actually happens.
I believe its related to
https://github.com/kubernetes/kubernetes/issues/6

[2021-01-28 12:05] Akasurde commented on #340
@uda This is already supported. Can you please try like -

[code]

[code]

I hope this solves your requirement.

needs_info
-waiting_on_contributor

[2021-01-28 15:34] ecksun opened #357 "helm_plugin requires release_namespace"
##### SUMMARY
release_namespace is required in the helm_plugin task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.kubernetes.helm_plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

Looking at [the souce](https://github.com/Akasurde/community.kubernetes/blob/main/plugins/modules/helm_plugin.py#L105) this se

[2021-01-29 01:20] spikeburton commented on #356
I am running into this exact same issue. Looks like the Kubernetes issue referenced is 2 years stale. Following

[2021-01-29 08:29] Akasurde commented on #357
@ecksun Thanks for reporting this. Do you think we should make this as an optional parameter?

[2021-01-29 08:35] Akasurde commented on #351
@aneurinprice Please update your yaml as -

[code]

[2021-01-29 11:23] ecksun commented on #357
probably?

I'm not super familiar with helm and helm plugins so there might be something I haven't understood correctly or that I have missed. But consider my current task:

[code]

[2021-01-29 19:47] gravesm commented on #356
@oshoval Thank you for reporting this issue!

[2021-01-29 19:49] gravesm commented on #354
@dojones1 Thank you for reporting this! Would you be interested in creating a PR for this feature?

[2021-02-01 13:24] gravesm commented on #344
@tima @Akasurde Thinking about this and I'm not actually sure what the behavior should be. In the case of a specific object as described here--we're given a `name`, for example--we can wait until the object is created or `wait_timeout`, whichever comes first. If we are given a less specific query, like listing all the pods in a namespace, for example:
[code]
the only way that's ever satisfied is t

[2021-02-01 16:51] hojerst commented on #344
imho there are two sane algorithms which might work in this case:

1. query once and then check/wait for all resulting items to reach the desired condition (which seems to be implemented right now)
2. query continuously (on every iteration) and then check if the desired condition is reached

maybe this can be switched by parameter which defaults to the current implementation. (or use a "magic defa

[2021-02-02 10:29] Akasurde commented on #357
resolved_by_pr #358

[2021-02-02 11:39] Akasurde commented on #351
@aneurinprice Could you please update if above comment works for you? Thanks.

[2021-02-02 13:27] Akasurde commented on #292
@stanislaw55 Thanks for information. Could you please following -

[code]

[code]

[2021-02-02 13:32] Akasurde commented on #328
@tashoyan Thanks for information. Could you please try following -

[code]

[code]

[2021-02-02 13:33] Akasurde commented on #292
Last comment was irrelvant to this issue and I deleted it.

[2021-02-03 08:15] #357 closed

[2021-02-03 08:16] #248 closed

[2021-02-03 08:40] Akasurde commented on #352
@geerlingguy For now, I documented the current way of downloading and applying the manifest. In near future we may consider adding this functionality. PR welcome.

[2021-02-03 08:40] Akasurde commented on #352
resolved_by_pr #359

[2021-02-03 15:46] #352 closed

[2021-02-03 15:54] gravesm commented on #292
I think I'm -1 on creating a `k8s_job` module since it's not clear that it offers anything more than just this functionality. A `k8s_trigger_job` (or some other suitable name) module is probably the better approach, although even that covers only a very specific use case. I'm fine if we want to go that route. I'd also be okay leaving this open for a bit longer to see how much interest there is in

[2021-02-05 11:16] ecksun opened #364 "Secret keys are printed on error"
##### SUMMARY
When I run `helm` and get a hook error it prints a secret (which I expect to be hidden)

Since I'm running ansible-playbook as part of a jenkins job I have to hide the output (`no_log: True`).

My chart does not have a secret in it, it only references one (deployed manually via another ansible task)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.kubernetes.helm

####

[2021-02-05 11:27] Akasurde commented on #364
@ecksun Thanks for reporting this issue. `helm` module prints the stderr presented by helm command. I am thinking about possible solutions. Suggestion welcome.

[2021-02-05 11:42] ecksun commented on #364
Right, so possibly this could/should be an issue with helm itself.

If it really is helm that prints this then the "proper" solution is probably to start modifying helm somehow, but how I have no idea.

The only other thing I can think of is to have logging disabled by default so people don't make mistakes. Then you could have a big warning for the documentation of that parameter that explains the

[2021-02-05 14:41] gravesm commented on #364
I may be wrong, but I believe this error message is coming from kubernetes, not helm. It's also curious as it suggests the name of the secret (secret names must be a valid DNS subdomain name) is what's being revealed, not the value. Would it be possible to post the pod spec you are using that's having issues?

[2021-02-05 19:52] ecksun commented on #364
No, that is not true, I just censored the value manually.

Sorry for not making that clearer

Possible, yes, but rather cumbersome.

First of, we have changed it a lot since we got the error (since we are trying to fix it). Secondly because it is quite long and I need to vet it for mistakes (like putting secrets in it).

Do you think it is important to solve the issue?

[2021-02-08 14:37] gravesm commented on #285
I want to clarify what the feature here is. Are we just adding support for `helm template` to output a local rendering of the chart? Or are we supporting the option for helm to adopt existing resources in the chart that it doesn't own?

[2021-02-08 14:40] Akasurde commented on #285
I think we need a separate module (like `helm_template`) to satisfy this requirement. Since we are just dealing with templates here.

[2021-02-08 18:35] sreese4u commented on #347
I have to reopen this issue. It's really strange but I don't think it's my network anymore because everything else works as intended.

[2021-02-09 00:35] tima commented on #364
This does seem to be something that helm is producing and Ansible is passing through. One thought I had was to find a pattern we could use to conditionally XXXXX out the secret in helm's message, but from what you've provided it doesn't look like there is a common pattern to give us a clue -- you have to know `cloud-sql-proxy.service-account-credentials` contains a secret to know to remove its val

[2021-02-09 00:42] #339 closed

[2021-02-09 01:43] tima commented on #285
I'm getting lost in the what and the why here also.

What I am getting sounds rather programmatic -- you're going to need conditional logic, parsing and data manipulation on top of a `helm_template`.  Sounds like that ask is for support of a specific adoption scheme of existing resources (migration?) and what's needed here is not a `helm_template` module but a `helm_sleepybrett_migration` module.

[2021-02-09 04:21] #296 closed

[2021-02-09 20:03] foroozf001 opened #365 "Ansible fails to connect to Kubernetes cluster"
##### SUMMARY
Running an Ansible playbook against my cluster results in a failed connection error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- community.kubernetes.k8s
- namespace
[code]
[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- WSL Ubuntu 18.04 LTS
- Linux Mint (Cinnamon)

##### STEPS TO REPRODUCE
I can not establish any Ansible conne

[2021-02-09 21:24] tima commented on #365
@foroozf001 Can you verify what version of the kubernetes python library you are now using there? This sounds like #314 where [kubernetes 12.0 causes previous.y working code to break](https://github.com/ansible-collections/community.kubernetes/issues/314#issuecomment-737713543).

[2021-02-09 21:30] foroozf001 commented on #365
@tima I'm using now Kubernetes Python library 11.0.0

[2021-02-09 23:08] tima commented on #365
@foroozf001: OK so maybe not #314. Thought we could take a shortcut figuring out the root of your problem.

We will need more info to try and reproduce this.

* You said "I have used Ansible with community.kubernetes before without fail. I expect to connect to my cluster." When did it start failing? What changed? Did you upgrade the collection or ansible itself?
* What version of kubernetes.core/c

[2021-02-09 23:49] tima commented on #356
@oshoval & @spikeburton: What version of `community.kubernetes` are you using here?  The latest version is 1.1.1 and that is more recent than ansible 2.9.14, the version @oshoval reported using. If you are just using the built-in version, I'd need you to upgrade to try again with 1.1.1 and let us know if you're still experiencing this error.

[2021-02-10 02:05] spikeburton commented on #356
Ansible 2.10 / `community.kubernetes` 1.1.1 here

[2021-02-10 02:05] spikeburton commented on #356
Will test again tomorrow to confirm

[2021-02-10 11:49] Akasurde commented on #314
Update on 10 Feb 2021 -

<table>
<tr>
	<td> Ansible
	<td> Kubernetes-python
	<td> Openshift
	<td> Works
<tr>
	<td> 2.9.17
	<td> 11.0.0
	<td> 0.11.2
	<td> Yes
<tr>
	<td> 2.9.17
	<td> 12.0.1
	<td> 0.11.2
	<td> Yes
<tr>
	<td> 2.10.5
	<td> 11.0.0
	<td> 0.11.2
	<td> Yes
<tr>
	<td> 2.10.5
	<td> 12.0.1
	<td> 0.11.2
	<td> Yes
</table>

[2021-02-10 11:58] Akasurde commented on #365
I am not able to reproduce this with -

[code]

[2021-02-10 12:11] Akasurde commented on #365
You are using `community.kubernetes 1.1.0` which reproduces this behavior

[code]

[code]

Please remove the older community.kubernetes collection and upgrade to latest i.e. `1.1.1`.

[2021-02-10 16:14] foroozf001 commented on #365
I upgraded from Ansible 2.9 to 2.10. I have upgraded the collection as well.

[code]

Yes it is the same playbook.

The K8S role is simply this.
[code]

[2021-02-11 04:04] Akasurde commented on #365
@foroozf001 Are you still facing issue after upgrading?

[2021-02-11 16:14] tima opened #367 "A module for rendering Helm3 templates"
##### SUMMARY

Create a module for rendering Helm3 templates --  the functional equivalent of the [`helm template`](https://helm.sh/docs/helm/helm_template/) command.

This comes out of discussion in #285.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`helm_template`

##### ADDITIONAL INFORMATION

Sometimes a chart needs to be different under under different conditions so a template is u

[2021-02-11 16:19] tima commented on #285
I've created a separate issue for the `helm_template` in #367. I'm going to recategorize and keep this issue around for now because I think it includes things beyond just that module.

[2021-02-11 22:27] #365 closed

[2021-02-15 22:52] tima opened #369 "Implement "loop flattening" in `k8s`"
##### SUMMARY

Using a loop to process a batch of file means a fork and API call is made for each item in the loop. This adds a substantial amount of overhead to process each file that could be avoided if the list of files are "flattened" and submitted with one API call. The proposal here is to build this "flattening" logic into the `k8s` module itself where optimal handling of a batch of files is

[2021-02-16 17:19] #344 closed

[2021-02-16 18:07] tima commented on #244
I believe this something using the module proposed in #367 should address this.

[2021-02-16 20:05] #314 closed

[2021-02-17 13:01] #367 closed

[2021-02-22 06:15] Akasurde commented on #244
@gaborho Could you please check if #367 solves your requirement and let us know?

needs_info

[2021-02-26 19:35] emersonramos opened #371 "missing 1 required positional argument: 'body'"
##### SUMMARY

I'm using community.kubernetes modules to create any rolebindings using a template.

##### ISSUE TYPE
- Bug Report
I used for days this template and it was working.

Error message:

[code]

##### COMPONENT NAME

common.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux release 8.3 (Ootpa)

##### STEPS TO REPRODUCE

I'm us

[2021-02-26 19:37] goetzc opened #372 "Support globally the "ansible_kubectl_context" variable"
##### SUMMARY
Just as many modules support the `K8S_AUTH_CONTEXT` environment variable, globally supporting the `ansible_kubectl_context` variable would be handy.

Such as here:
https://github.com/ansible-collections/community.kubernetes/blob/0377a892d5ce7ee39ad683d80be8be58dbef7360/plugins/connection/kubectl.py#L83-L90

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`community.kubernetes.*

[2021-02-28 15:03] Akasurde commented on #371
I am not able to reproduce

[code]

[code]

I am trying other things to reproduce this.

[2021-03-01 10:13] Akasurde opened #373 "k8s module failing with openshift version v0.12.0 released on Feb 25th 2021"
_From @codeaprendiz on Mar 01, 2021 09:49_

##### SUMMARY

With the latest release of `openshift` version `0.12.0` we started facing issue with ansible module `k8s`. The k8s module works fine with openshift version `0.11.2`
The following is the actual error which we are getting
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

How we are using the module

[code]

##### ANSIBLE VERSION
[

[2021-03-01 10:15] Akasurde commented on #373
@codeaprendiz  Thanks for reporting this issue. Could you please provide the following

[code]

[2021-03-01 10:17] codeaprendiz commented on #373
Thanks @Akasurde , The following is the output

[code]

[2021-03-01 17:56] emersonramos commented on #371
It's crazy because I have no changes on my environment.

I tried upgrade to 1.2.0, but I get same error.

[2021-03-02 03:13] Akasurde commented on #373
@codeaprendiz Please update the collection version to the latest i.e., 1.2.0. This issue is resolved in this specific verison.

[2021-03-02 23:55] salanisor opened #374 "group/k8s does not work with community.kubernetes.k8s_auth as documented"
##### SUMMARY
Following the [documentation](https://docs.ansible.com/ansible/2.10/collections/community/kubernetes/k8s_auth_module.html#examples) wrote a sample role which fails due to missing required argument host.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Using `group/k8s` in `group_defaults` does not work with `community.kubernetes.k8s_auth`

##### ANSIBLE VERSION

[code]

##### CO

[2021-03-03 07:26] codeaprendiz commented on #373
Ah okay, let me check this and update you. Thanks a lot for your amazing support 🙏

[code]

![image](https://user-images.githubusercontent.com/18071639/109767321-cf0d2c00-7c10-11eb-94be-82302f105798.png)

okay what ? Is the ansible-galaxy down or what ?

okay looks like they fixed it in time.

[code]

And it works now, I am not longer getting the error in k8s module.  :)

[code]

[2021-03-03 13:38] abikouo commented on #6
Hi @tima
Should we add this in the 2.0 release ?

[2021-03-03 13:50] abikouo commented on #233
Hi @wayne-o
I take the freedom to close the issue and if something similar happen again please reopen the issue

[2021-03-03 13:50] #233 closed

[2021-03-03 14:41] tima commented on #374
@salanisor The `k8s_auth` module was moved over to [the OKD/OpenShift collection](https://github.com/ansible-collections/community.okd) and was [renamed openshift_auth (with a k8s_auth alias in place)](https://github.com/ansible-collections/community.okd/tree/main/plugins/modules). Please try that version of the module and report any continuing problems in that repo if they persist.

[2021-03-03 14:42] #374 closed

[2021-03-03 19:31] emersonramos commented on #371
I find out a difference between success and error logs.

On success, the module search patch is:

ansible-playbook 2.9.13
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/var/lib/awx/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']

  On error logs, I get:

  ansible-playbook 2.9.13
  config file = /etc/ansible/ansible.cfg
  configured module search pat

[2021-03-04 00:47] tima commented on #373
@codeaprendiz We did extensive amount of work in dealing with the breaks the kubernetes v12 client introduced (that the openshift client replies upon) before releasing 1.2.0 of this collection. See #314 for more.

It looks like you may have resolved this issue by upgrading. I'm going to close this one as a duplicate of the problem behind #314.

[2021-03-04 00:47] #373 closed

[2021-03-04 04:37] Akasurde commented on #285
[`helm_template`](https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/modules/helm_template.py) can be used to create a template. Hence, closing this issue. Feel free to open a new issue if required.

[2021-03-04 04:37] #285 closed

[2021-03-04 07:44] Akasurde commented on #240
resolved_by_pr #376

[2021-03-04 07:50] Akasurde commented on #328
@tashoyan Could you please confirm if the above solution works for you? Thanks.

needs_info

[2021-03-04 10:22] tashoyan commented on #328
@Akasurde Yes, this workaround works for me

[2021-03-04 10:27] Akasurde commented on #328
@tashoyan Thanks for the feedback.

[2021-03-04 10:30] Akasurde commented on #328
@tashoyan @tima @geerlingguy @gravesm Do you think a lookup plugin will be sufficient to solve this requirement?

The lookup plugin will basically replace the `set_fact` task with user intervention.

[code]

[2021-03-04 12:40] tashoyan commented on #328
In my opinion, using lookup plugin is a quite obscured way. If one wants to deal with Kubernetes, he tries the k8s plugin first. It's not obvious that some Kubernetes-specific functions are provided by lookup(...). Practically it looks same as the workaround with lookup(file) - no way to figure out the correct way without help from an Ansible contributor.

[2021-03-04 15:19] ganeshr2 opened #378 "How to Connect database within and execute commands using ansible plugin"
##### SUMMARY
use case:  Maria DB deployed as a pod in kubernetese, needs to have a database created post-deployment and few tables. When we execute via exec, I am able to pass only one command. but if we need to execute a series of command post opening a connection how do we do this?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
K8s_exec
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2021-03-04 17:56] tima commented on #371
In the error, your system is only looking in the module content that ships with AWX itself while the success runs is looking in modules (collections) installed into AWX and the system Ansible that presumably includes the latest version of this collection. Are you running all of this through AWX or Tower? I'm pretty sure that is where your problem is at.

[2021-03-04 18:13] tima commented on #328
I've been wondering if this use (reading a batch of files from a directory) could be worked into #369. I'm still of the mind we need to be careful here and refrain from adding too much and resource specific logic that could make things unwieldy and confusing. I understand why a `lookup` may not be ideal, but I'm hesitant to build too much for this specific use case into the module. We could do som

[2021-03-05 03:46] jmontleon opened #380 "apis being overwritten in cluster_info"
##### SUMMARY
When I do this I seem to get one API per group:
[code]

I changed this: line
https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/modules/k8s_cluster_info.py#L209
to this and I get the full list of APIs:
`results[resource.kind + "." + resource.group] = {`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_cluster_info

##### ANSIBLE VERSION
[code]

####

[2021-03-06 06:28] CodingSpiderFox opened #381 "How to install a storageClass using this collection?"
##### SUMMARY
After deploying a new cluster with kubespray, it has no storageClasses at all and I want to use ansible to provision a default storageClass.

##### ISSUE TYPE
- Feature reqeust

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04

##### STEPS TO REPRODUCE

See kubespray documentation for setting up kubespray

[code]

[2021-03-06 15:59] geerlingguy commented on #381
@CodingSpiderFox - Typically you'd do that by deploying a StorageClass object / manifest using the module. The way a specific StorageClass is configured is very vendor/provider-specific. But in general, it is deployed using `k8s` just like any other resource in Kubernetes.

[2021-03-08 03:59] Akasurde commented on #381
@CodingSpiderFox Like @geerlingguy said -

[code]

Closed as per above.

[2021-03-08 03:59] #381 closed

[2021-03-08 04:00] Akasurde commented on #381
Feel free to open a new issue if there is any problem. Thanks.

[2021-03-08 07:21] Akasurde commented on #378
@ganeshr2 Thanks for reporting this issue. Please provide `-vvv` output for the run.

[2021-03-08 07:59] Akasurde commented on #378
@ganeshr2 If I understand your requirements correctly, you want to execute several SQL commands to configure the database. I think this can be done using multiple ways.

A few of them as follows -

1. Importing SQL file to MySQL

[code]
Here, `file.sql` contains your SQL statements.

2. Configuring MySQL after deploying the container with `configMaps`

You can use `configmaps` and execute several

[2021-03-08 17:24] #240 closed

[2021-03-08 23:15] AcelinkIT opened #384 "openshift `0.12.0` issues"
##### SUMMARY

ansible' community.kubernetes.k8s returns `Failed to get client due to 404`

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.kubernetes.k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

expected results returned when reverting to openshift==0.

[2021-03-08 23:35] #371 closed

[2021-03-08 23:41] tima commented on #384
@AcelinkIT This sounds like a symptom of all of the python kubernetes-client 12.0 breaking change work that was in the 1.2.0 release. See #314 for all of the work that went into that. Install kubernetes.core 1.2.0 and try that with openshift 0.12 or keep with openshift 0.11 and the version of this collection you already have.

[2021-03-09 05:48] AcelinkIT commented on #384
@tima thanks for the response.  Did not see those issues during my search, probably would have saved a hours of troubleshooting.  Closing ticket as this type of issue appears to be known.  Thanks!

[2021-03-09 05:48] #384 closed

[2021-03-09 10:27] mwalser opened #385 "Helm plugin ignores `context` and `K8S_AUTH_CONTEXT` setting"
##### SUMMARY
For the `community.kubernetes.helm` module [it is documented](https://docs.ansible.com/ansible/latest/collections/community/kubernetes/helm_module.html#parameter-context) that the `context` parameter, its alias `kube_context` and alternatively the `K8S_AUTH_CONTEXT` environment variable can be used to control the K8S context used for executing the helm command.

Except for `kube_cont

[2021-03-10 13:44] abikouo commented on #380
Hi @jmontleon,

Thanks for taking time to report this issue.
It appears that there are some apis not belonging to any group (value is empty) and even there are multiple api_version with the same name, like describe below
[code]

We need to agree then on how to return this api list. For instance we can return a list of apis per group, like this

[code]

[2021-03-10 14:08] jmontleon commented on #380
Yes, the empty group is expected. Your example output above makes sense and I should have known better that I was still overwriting the duplicate versions with my workaround above; these are also expected.

[2021-03-11 10:02] b0rski opened #388 "not possible to replace/update objects via "apply: yes" or "force: yes" in OpenShift 3.11"
##### SUMMARY
There are actually 2 problems we face. The first one is that large definitions are not updated at all when `apply: yes` is used. We have a file with CRD definition that has over 7500 lines. Ansible does not show any errors and it looks like the the update was made. However after inspecting the CRD on the server you can see that no update took place. You can use the Kafka CRD from the

[2021-03-11 14:31] wolfwolker commented on #135
same problem here in ubuntu 20.04, reinstalling with pip3 worked for me :)
thanks a lot

[2021-03-15 04:05] ganeshr2 commented on #378
Yes thank you, I choose to use the ansible kubectl plugin to resolve the issue. Appreciate your assistance!

Thank you!

[2021-03-15 04:05] #378 closed

[2021-03-15 04:21] Akasurde commented on #378
For posterity, I wrote a blog about this here - https://medium.com/@AbhijeetKasurde/creating-mysql-pod-with-preloaded-database-2c01c002fdc3

[2021-03-15 04:34] #385 closed

[2021-03-15 15:17] tima opened #390 "Document and test breaking change in k8s_cluster_info and provide porting guidance"
##### SUMMARY

The PR #389 introduces a breaking change to address the problems introduced in issue #380. This needs to be called out in the documentation. Further, [as noted here](https://github.com/ansible-collections/community.kubernetes/pull/389#issuecomment-799404473), current testing of this module is inadequate and did not pickup the original issue or the breaking change that was submitted

[2021-03-15 20:18] tima commented on #388
@abikouo: I don't have the depth of knowledge and expertise to resolve this myself, but here are some initial thoughts to put out there n trying to work towards something.

1. We are not testing Kubernetes 1.11 (the version that shipped OCP 3.11) at this point. That said, I have it on good word that the K8s API shouldn't have changed in this particular area. It may be challenging for us to reprodu

[2021-03-16 09:19] Chup4Chups opened #391 "Playbook not fetch connection parameters from k8s.yml inventory file"
##### SUMMARY
Use of k8s inventory plugin with playbook is not fetching connection parameters.
The play is looking for kubeconfig whereas host + api_key are specified in the connection from k8s.yaml

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.kubernetes.k8s – Kubernetes (K8s) inventory source
- https://docs.ansible.com/ansible/latest/collections/community/kubernetes/k8s_invento

[2021-03-16 09:31] abikouo commented on #388
Hi @b0rski,

Please have a look at the comment above from @tima

[2021-03-16 13:05] #232 closed

[2021-03-16 13:05] #242 closed

[2021-03-16 13:13] #241 closed

[2021-03-16 13:36] tima commented on #391
@Chup4Chups What version of this collection are you actually using? Have you installed the latest and tried to reproduce this? Reason I ask it that this sounds like something we fixed.

[2021-03-16 13:57] Chup4Chups commented on #391
@tima
Thanks for looking at this issue, we are using version 1.2.0

[code]

[2021-03-16 14:10] tima commented on #391
OK. Thanks. I'll see about reproducing this and debugging what's going wrong here.

[2021-03-16 14:37] gravesm commented on #391
@Chup4Chups this particular problem sounds like one that was the result of a breaking change in the python kubernetes client version 12. This was fixed in version 1.2.0 of this collection and backported to Ansible version 2.9.17. My suggestion would be to first try upgrading to the latest version of Ansible 2.9 and see if that fixes your problem. Let us know, and if not, we'll see if we can figure

[2021-03-16 15:19] Chup4Chups commented on #391
@gravesm I removed ansible installation from apt and installed version 2.9.19 from pip but still same issue

[code]

[code]

Also tried with 2.9.17 and same issue as well

[2021-03-18 02:00] msven commented on #163
I was looking at picking this issue up and wanted to make sure I followed the discussion correctly - as a lookup does this just end up being a wrapper around a shell command out to `kustomize`?

Can this be achieved with the existing `pipe` lookup? e.g.

    - k8s:
          definition: "{{ lookup('pipe', 'kustomize build ./kustomize-dir') }}"

And if so, is there much value in adding a kustomize

[2021-03-18 02:17] jam01 commented on #163
Hey @msven we ended up implementing our own plugin for this. Let us know what you think

https://github.com/MS3Inc/tavros/blob/main/plugins/lookup/kustomize.py

[2021-03-19 13:13] gravesm commented on #391
@Chup4Chups I think what's happening here is that you are using `localhost` in your playbook but that (I'm guessing) does not appear in your dynamic inventory. Without connection info the module will eventually fall back to looking for a kube config file.

[2021-03-19 15:41] hguerrero opened #393 "wait is not honored if resources does not exist yet"
##### SUMMARY

When using the `k8s_info` module with `wait: yes`, if the first query returns no results, the task ends without honoring the wait block. If the resource exists, then it blocks as expected until the `wait_condition` is met.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS Big Sur

[2021-03-19 15:55] gravesm commented on #393
@hguerrero this behavior should be fixed in #360. Could you make sure you are running the latest version of the module (1.2.0) and let us know if this fixes your problem?

[2021-03-19 15:56] tima commented on #393
This is a duplicate of #344  that was fixed in PR #360.

[2021-03-19 19:01] hguerrero commented on #393
Hey y'all

@gravesm I update to 1.2.0 and can confirm that the module blocks now. However, it is an incomplete solution as it is not handling correctly the timeout with the missing resource. It returns an `ok` instead of a fail exception.

This is the output after a few seconds of the same task as above:

[code]

It should have failed as it the condition was not met before the timeout.

[2021-03-22 13:48] gravesm commented on #393
So this is currently the intended behavior. I could imagine a case where the absence of a resource would be considered a success, for example, if you wanted to make sure there were no pods running in a particular namespace. The typical usage of `k8s_info` would be to examine the returned `resources` list and take whatever actions you need based on that.

[2021-03-22 13:58] Chup4Chups commented on #391
@gravesm
Actually, I already tried using "all" or another element that appear in my dynamic inventory like "k8smaster_6443" but it looks like the playbook try to run against all sub elements (namespace, pods etc...) which make no sense for my example as I just want to create a namespace.

Maybe I misuderstood how it supposed to work by I expect that "ansible-playbook  -i k8s.yml kube.yml"
will use

[2021-03-22 14:23] Akasurde commented on #391
@Chup4Chups K8S Inventory plugin works like https://github.com/ansible-collections/community.kubernetes/issues/226#issuecomment-691963521

If you want to create a namespace, you may need to include k8s cluster nodes rather than pod names in your inventory.

[2021-03-22 14:51] Chup4Chups commented on #391
@Akasurde  I am not sure to clearly understand what do you mean as I didn't specify pod names in the inventory but only host and api_key.

Also, from the example [#226 (comment)](https://github.com/ansible-collections/community.kubernetes/issues/226#issuecomment-691963521) I think that the plugin is using the default kubeconfig of kubectl client which is exactly what I don't want to do.

In my cas

[2021-03-22 14:53] hguerrero commented on #393
I was expecting to have a similar result as we do when issuing the `wait` command with `kubectl` where you get an error if the resource does not exist. So you can then retry and block to wait for the condition. Having success instead makes me add more handling logic to check that in fact, the success was because of the correct condition vs just not finding the resource.

[2021-03-23 03:52] ginigangadharan commented on #135
Perfect. It worked.

lucky, I was using it inside venv !

thank you @geerlingguy

[2021-03-23 10:48] stiller-leser opened #394 "Spec not updated when default(omit) is used"
##### SUMMARY
Using the Ansible-Operator from the Operator-SDK, we have created a Custom Resource that is essentially a wrapper around a `namespace` and a `resourceQuota` called `Project`. In the `spec` of `Project` we can define:

[code]

which translates into a `resourceQuota` that looks like this:
[code]

Now when we change the request for memory to e.g. `240Gi` the `resourceQuota` is updated a

[2021-03-23 14:25] stiller-leser commented on #394
Closing, adding `force: true` to replace the resource (as described [here](https://docs.ansible.com/ansible/2.10/collections/community/kubernetes/k8s_module.html)) will work with `omit`.

[2021-03-23 14:25] #394 closed

[2021-03-24 23:19] nergalex opened #397 "playbook in error when using openshift lib 0.12"
##### SUMMARY
Error encounter when using openshift 0.12 package and community.kubernetes.k8s. See attached file: error_with_openshift_0.12.json.txt
community.kubernetes.k8s works well with openshift 0.11.2 pakage. See attached file: ok_with_openshift_0.11.2.json.txt
[error_with_openshift_0.12.json.txt](https://github.com/ansible-collections/community.kubernetes/files/6200968/error_with_openshift_0

[2021-03-24 23:52] tima commented on #397
@nergalex What version of this collection are you using? Is it the latest stable, v1.2?

[2021-03-25 11:11] oshoval commented on #356
Sorry cant work on it right now
Thanks

[2021-03-25 15:27] nergalex commented on #397
Sorry, please find attached error ouput with community.kubernetes version: 1.2.0 (and not 1.1.1 in the previous message)

[code]

[error_with_openshift_0.12_and_collection_1.2.0.json.txt](https://github.com/ansible-collections/community.kubernetes/files/6205877/error_with_openshift_0.12_and_collection_1.2.0.json.txt)

[2021-03-26 15:34] RafalSkolasinski opened #398 "Support of binary_path for kubectl go binary"
##### SUMMARY

Helm modules allow to specify `binary_path` - see [docs](https://docs.ansible.com/ansible/2.10/collections/community/kubernetes/helm_module.html).

It would be nice if one could also specify `kubectl` binary when using the main [community.kubernetes.k8s](https://docs.ansible.com/ansible/2.10/collections/community/kubernetes/k8s_module.html) module.

##### ISSUE TYPE
- Feature Idea

[2021-03-26 15:42] gravesm commented on #398
Hi @RafalSkolasinski, the helm modules and the k8s module function a bit differently. For the helm modules we call out to the helm binary, but the k8s module uses the python kubernetes client, not kubectl to interact with kubernetes.

[2021-03-26 15:46] RafalSkolasinski commented on #398
Hi @gravesm, okay, great, so basically there is no dependency on the `kubectl` binary being present on the host system?
That is even better news :)

[2021-03-26 18:44] gravesm commented on #398
That's correct. The one caveat is that if you are using the k8s inventory plugin or the kubectl connection plugin they will require that kubectl is present.

[2021-03-26 18:45] #398 closed

[2021-03-29 08:15] kiwo opened #399 "community.kubernetes/blob/main/plugins/modules/helm.py has_plugin fails when helm is outputting multiline description"
##### SUMMARY

We get an Exception in has_plugin in
community.kubernetes/blob/main/plugins/modules/helm.py 421
When testing for helm plugins this is our helm Output:

The failing output line is "usage:". This results in ValueError: not enough values to unpack (expected 2, got 1) because everything around it gets trimmed.

As a workaround i just ignored every line with single result:

`
    cmd = c

[2021-03-29 08:35] Akasurde commented on #399
@kiwo Thanks for reporting this issue. What is the version of `helm` binary used?

[code]

I see there is extra `usage` line in your `helm plugin list` which is not available in my `helm plugin list` output =

[code]

[2021-03-29 08:37] kiwo commented on #399
Hi @Akasurde

helm version
version.BuildInfo{Version:"v3.2.4", GitCommit:"0ad800ef43d3b826f31a5ad8dfbb4fe05d143688", GitTreeState:"clean", GoVersion:"go1.13.12"}

[2021-03-29 08:41] kiwo commented on #399
The Plugin which is making this multiline output

name: "registry"
version: "0.7.0"
usage: "app-registry client to Helm"
description: |-
  This plugin provides app-registry client to Helm.
  usage:
    $ helm registry install quay.io/charts/gitlab-ce --namespace ci
    $ helm registry upgrade quay.io/charts/jenkins --set imageTag=latest
ignoreFlags: false
useTunnel: false
command: "$HELM_PLUGIN_DI

[2021-03-29 08:50] Akasurde commented on #399
@kiwo ok. This is an issue with parsing logic and will need fixing.

[2021-03-29 11:48] Akasurde commented on #399
resolved_by_pr #400

[2021-03-29 11:49] Akasurde commented on #399
@kiwo Could you please check if #400 works for you and let me know? Thanks.

[2021-03-29 13:23] kiwo commented on #399
Hi @Akasurde

I switched both packages to your branch (there seems to be some transition from community.kubernetes to kubernetes) and thats working fine :)

thank you for this quick fix =)

[2021-03-29 14:24] gravesm commented on #397
@nergalex I am unable to reproduce this. Specifying the path to the kubeconfig file works for me.

[2021-03-29 16:42] tima commented on #391
@Chup4Chups If all you are doing is providing the connection info to call the API service, do you really need an inventory plugin at all? I've been wondering if the inventory plugin is needed at all. (See #226)

[2021-03-30 14:43] tima opened #402 "A new module for copying files to/from a Pod"
##### SUMMARY

Create a module for copying files to/from a running Pod analogous to the `kubectl cp` command.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

k8s_cp

##### ADDITIONAL INFORMATION

Copying files in and out of running Pods with Ansible is generally useful for various scenarios including backup/restore operations.

One option today would be to use the core `copy` module with

[2021-03-30 23:53] goetzc commented on #290
I also stumbled upon this "int vs string" issue, exactly with the same `replicas` key while using a `loop`.

Might be worth adding this workaround to the `README`, as this ticket is not easy to find and looks to be a more and more common.

[2021-03-31 00:06] andiolsi commented on #290
Just some feedback to future readers:
For a while I used ANSIBLE_JINJA2_NATIVE=1 , as it does the trick.

Recently I went completely around it. I am now generating the kubernetes manifest files and then kubectl applying them.
This has the added benefit of giving you the option to debug the manifest itself too.

[2021-03-31 00:12] goetzc commented on #290
@andiolsi Interesting. Thanks for the tip!

[2021-03-31 05:58] Chup4Chups commented on #391
The rational answer is, no I don't.

I was just trying to figure out how this plugin inventory is working without a local kubectl client already configured.
It seems the inventory plugin is for k8s internal objects and not a set of k8s cluster.

If I wish to trigger a playbook on a specific a k8s, the example [#226](https://github.com/ansible-collections/community.kubernetes/issues/226) is fine.
H

[2021-04-02 23:50] seocam opened #408 "Wrong examples in k8s module"
There is no template argument in the roof of module k8s as stated in the examples:

https://github.com/ansible-collections/community.kubernetes/blob/5fc3dd02bf19fd4d70d99278969d786100b18feb/plugins/modules/k8s.py#L185-L196

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
k8s module

[2021-04-03 15:15] tima commented on #408
What version of the collection are you using? That param was added in v1.1.0.

[2021-04-03 15:18] tima commented on #408
@seocam https://github.com/ansible-collections/community.kubernetes/blob/5fc3dd02bf19fd4d70d99278969d786100b18feb/plugins/modules/k8s.py#L306

[2021-04-03 15:19] #408 closed

[2021-04-04 05:26] jobcespedes opened #409 "k8s lookup return a dictionary"
##### SUMMARY

Using the k8s lookup, it returns a dictionary. I was expecting a list

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s lookup
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 32

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A list; even though, there is only one item

##### ACTUAL RESULTS

A dict. There is only one item

[2021-04-04 09:46] belenot commented on #397
I have this issue too.
It's solved when I patched common.py in /usr/local/lib/python3.8/dist-packages/ansible_collections/community/kubernetes/plugins/module_utils/common.py on line 263.
[code]

I don't know how to watch version, and have not time for this anymore.
I can give more info, if needed and if someone tell me how to obtain it )

[2021-04-05 10:49] Akasurde commented on #409
@jobcespedes Thanks for reporting this issue. I can confirm when there is the only an item returned by API, lookup plugin returns a dictionary.

[code]

I will check if there are any other cases where it returns a dictionary.

[2021-04-06 22:22] nergalex commented on #397
thx @belenot . I would not prefer to modify kubernetes ansible collection because it's loaded for each job by Tower (collections/requirements.yml is used).

@gravesm
using a config.yaml file located in a AWX project, the module invocation differs:
- kubernetes collection 1.2.0 : invocation.module_args.**kubeconfig**: "**config.yaml**" --> error_with_openshift_0.12_and_collection_1.2.0.json.txt lin

[2021-04-08 07:59] abikouo commented on #321
@jmazzitelli I am working on this issue.
as the default behavior now is to abort when one resource creation failed (the validation step is already configurable), the boolean should be `continue_on_error` with the default value `false` for backward compatibility

[2021-04-08 13:53] uda opened #412 "Add context argument to k8s_cluster_info module"
##### SUMMARY
Add context argument to the `k8s_cluster_info` module so I can get the relevant cluster's info (like version)

Currently this module only gives me the option to get the info of the default context.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugins/modules/k8s_cluster_info.py

##### ADDITIONAL INFORMATION
[code]

[2021-04-10 12:17] ishigoya opened #413 "Documentation of default kubeconfig location"
##### SUMMARY

References to the location of the default kubeconfig file are not consistent. In some places, it's `~/.kube/config`, and in others it's `~/.kube/config.json`.

I think `~/.kube/config` is correct; as listed in the [kubernetes docs](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/),  and judging by the behaviour of the module.

##### ISSUE TYPE
-

[2021-04-10 18:51] danielburrell opened #414 "Unusual k8s_info behavior with kubeconfig"
##### SUMMARY

There are 2 scenarios to be compared:
**CI Scenario:**
I have a CI environment where a clean control box is stood up, and a clean target box is stood up. CI will run the installer from the control box and install kubernetes to a target box as part of the playbook. The target box's kubeconfig file `~centos/.kube/config` is copied to the control box at the same location `~centos/.kube

[2021-04-12 11:14] rgordill opened #415 "Json merge_type is not applying"
##### SUMMARY
When using json merge, the playbook is running ok but not doing anything. It is the same as https://github.com/ansible/ansible/issues/65897 that was automatically closed by the repo migration.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora release 33 (Thirty Three)
Linux musashi 5.11

[2021-04-13 14:48] gravesm commented on #414
@danielburrell I can confirm that the module looks for the kubeconfig on whichever host it is being run on. It will work fine on a managed node and look for the kubeconfig on that node. There should be no need to copy the kubeconfig from the managed node to the controller. I am unable to reproduce the behavior you describe using:

ansible 2.10.8
community.kubernetes 1.2.1
openshift 0.12.0
kubernet

[2021-04-13 17:13] senpai-d opened #416 "Proxy param does not accept authentication header"
##### SUMMARY
When setting a proxy url in the proxy param, the username:password header is not read. It only accesses the URL, which returns a 407 if authentication is required for the proxy.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
WSL Ubuntu 18.03
Pythion 3.6 virtual environment

##### STEPS TO REPR

[2021-04-16 09:51] sanzenwin commented on #135
Good job !

[2021-04-16 10:43] dannystaple opened #419 "Ability to wait on arbitrary status value"
##### SUMMARY

Not all k8s resources implement the conditions in their status. However it may still be necessary to wait on them being ready. Since operations in K8s are asynchronous, an item later depending on this may fail.

A good example is the kind Service. This does not implement conditions as shown in https://github.com/kubernetes/kubernetes/issues/80828. My ansible may need to wait for thi

[2021-04-16 15:43] atreides322 opened #420 "Allow Setting Helm Timeout Independent of Wait"
For the Helm module, the `wait_timeout` provides the the `--timeout` argument to the helm command:

https://github.com/ansible-collections/community.kubernetes/blob/f99614370c4fd3457dbcf9581217df7997ba86fd/plugins/modules/helm.py#L343-L346

However, the `--timeout` argument also effects Helm independently of `--wait`. It can be used to specify a timeout for all Kubernetes commands. https://helm.sh

[2021-04-21 21:07] akamac opened #421 "Server-side apply support"
##### SUMMARY
It would be great if `k8s` module supported server-side apply.
https://kubernetes.io/docs/reference/using-api/server-side-apply/
https://kubernetes.io/blog/2020/04/01/kubernetes-1.18-feature-server-side-apply-beta-2/

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`k8s` module

[2021-04-27 20:04] tchellomello opened #422 "k8s_scale does not work for Statefulset"
##### SUMMARY

k8s_scale does not work for Statefulset

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`k8s_scale`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 34

##### STEPS TO REPRODUCE

1. Run playbook below

[code]

##### EXPECTED RESULTS

Statefulset to be scaled down

##### ACTUAL RESULTS

Error!

[code]

**NOTE**
Statefulset is present a

[2021-04-27 20:09] tchellomello commented on #422
Closing as it worked using the collection `community.kubernetes.k8s_scale`

[2021-04-27 20:09] #422 closed

[2021-04-28 13:45] benjdudas opened #423 "`diff: no` is not respected with k8s"
##### SUMMARY

When running a playbook with the diff option,  diff results are being listed when `diff: no` is  configured for the task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.kubernetes.k8s

##### ANSIBLE VERSION

[code]
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Diff results will be disabled for

[2021-04-29 13:08] ffirg opened #424 "k8s module documentation has missing google.auth requirement"
##### SUMMARY
k8s module documentation has missing google.auth requirement

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
k8s_module docs - https://docs.ansible.com/ansible/latest/collections/community/kubernetes/k8s_module.html

##### ANSIBLE VERSION

[code]

[2021-05-03 16:18] jmazzitelli opened #426 "can_i checks still not working"
##### SUMMARY
I originally reported this last year here: https://github.com/ansible-collections/community.kubernetes/issues/234
Some work was done to address it - PR is here: https://github.com/ansible-collections/community.kubernetes/pull/237
However, I still do not see it work; I'm getting the same error as before.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### CONFIGURATION
[co

[2021-05-03 16:44] jmazzitelli commented on #426
Seems you have to provide the fully scoped name of the k8s task to get this to work. When I made this change to my test playbook, it all worked:

[code]
Closing this issue since this doesn't appear to be a bug in the collection.

[2021-05-03 16:44] #426 closed

[2021-05-05 14:12] mcandre opened #427 "Bad name"
##### SUMMARY

Don't call this the "Kubernetes" collection when in fact it only works for specifically OpenShift Kubernetes clusters, not regular Kubernetes clusters. This is misleading and confuses users.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

The collection.

##### ANSIBLE VERSION

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

#####

[2021-05-17 15:58] unai-ttxu opened #428 "Resource creation from template fails due to action plugin redirection issues in Ansible 2.9"
##### SUMMARY
Resource creation from template fails due to action plugin redirection issues in Ansible 2.9.

I think this is caused after https://github.com/ansible-collections/community.kubernetes/pull/299 merge. Ansible only supports `plugin_routing` redirect from 2.10 version.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`k8s module`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[c

[2021-05-18 03:52] sbuvaneshkumar opened #429 "Passing jinja2 file to template"
`template` - Provide a valid **YAML template definition file** for an object when creating or updating
https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/modules/k8s.py#L104

But one of the examples passes jinja2 file to the template.
https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/modules/k8s.py#L185
This will result in error.
[code]
I have

[2021-05-18 08:05] haroonb opened #430 "feature request for k8s_scale - label_selector"
##### SUMMARY

I would like to suggest a label_selector feature be added to the k8s_scale module

##### ISSUE TYPE
- Feature Idea
You can scale using labels instead of explicit names.

##### COMPONENT NAME

k8s_scale with a label_selector field
##### ADDITIONAL INFORMATION

You could scale groups of deployments/statefulsets, which are linked by labels

[code]

[2021-05-18 15:43] avorima opened #431 "feature request: module to drain node(s)"
##### SUMMARY

Currenty I'm using a `command` with kubectl to drain node(s). It is technically possible to implement this via `k8s` and `k8s_info` by listing all pods on the given node and then deleting them. I would prefer to be able to use the eviction API though, which is what `kubectl drain` tries to do before falling back to deletion, as well as some of the ways that eviction can be tweaked u

[2021-05-19 12:36] QCU266 opened #432 "array with empty dict, will change every time it is applied"
##### SUMMARY
When k8s module is used for Kubernetes Networkpolicy (apply=true) , egress(`[{}]`) will change every time it is applied.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

- networkpolicy manifest:
[code]
- playbook:
[code]

##### EXPECTED RESULTS
egress is `[ {} ]

[2021-05-19 14:41] contd opened #433 "Trying to deploy newrelic-bundle and says it deployed, but is not"
##### SUMMARY
I setup a helm install task to install the new relic client bundle based on the documentation of the helm command.  The helm install from CLI with the same values/options works but running the ansible helm install doesn't work.  The ansible output says it was deployed and no errors but when I check the kubenetes cluster none of the PODs or DaemonSets are there as they are when helm i

[2021-05-19 15:09] Akasurde commented on #433
@contd Thanks for reporting this issue. I think you need to specify a dictionary for `values` like -

[code]

Let me know if it does not work for you? Thanks.

[2021-05-19 15:27] contd commented on #433
Holy cow!  YES!! It worked.  Thank you so much!!!!

[2021-05-19 16:06] Akasurde commented on #433
@contd Cool. I will add this example in `helm` docs so that `values` will be clear. Thanks.

[2021-06-02 13:11] sathieu opened #435 "helm `release_namespace` is ignored"
##### SUMMARY

With the following:

[code]

The following command is run:

[code]

i.e. `release_namespace` is ignored.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[ `helm` module](https://docs.ansible.com/ansible/2.10/collections/community/kubernetes/helm_module.html).

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

#

[2021-06-02 13:26] sathieu commented on #435
Proposed fix in #436.

[2021-06-04 13:36] Timoses opened #437 "kubectl connection plugin tries to create directory '~ansible/.ansible/tmp' which fails with Permission denied"
##### SUMMARY

Using `community.kubernetes.kubectl` connection plugin throws permission denied error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.kubernetes.kubectl

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should print the `hostname` of the pod.

##### ACTUAL RESULTS

kubect

[2021-06-04 13:38] Timoses commented on #437
I manually `k exec -i` into container which defaults to path `/`:
[code]

The image in use is built using the following:
[code]