[2020-01-29 20:06] geerlingguy opened #1 "Restructure former role into collection"
##### SUMMARY

Restructure this repository's structure from a role into a collection (it contains the historical commits / data from https://github.com/ansible/ansible-kubernetes-modules).

##### ISSUE TYPE

- Feature Idea

[2020-01-29 20:07] geerlingguy opened #2 "Get tests working for k8s modules"
##### SUMMARY

The old modules used openshift/origin, which is no longer maintained. We could use kind like the Operator SDK uses for Ansible tests, or we could find some other way to run a test cluster and test against it with all the modules in this collection.

##### ISSUE TYPE

- Feature Idea

[2020-01-29 20:09] geerlingguy opened #3 "Update README with installation and usage instructions"
##### SUMMARY

Currently the README covers the former role whose history this project inherited. The README needs to be updated to cover the current scope of the project, as well as installation and usage instructions.

##### ISSUE TYPE

- Documentation Report

##### COMPONENT NAME

[code]

[2020-01-29 21:55] geerlingguy commented on #1
See: https://docs.ansible.com/ansible/latest/dev_guide/developing_collections.html#migrating-ansible-content-to-a-collection

[2020-01-29 22:12] geerlingguy commented on #1
And eventually, this collection will go into https://galaxy.ansible.com/community, so it will be `community.kubernetes`.

[2020-01-29 22:17] geerlingguy commented on #2
It looks like we can use GitHub Actions, or maybe integrate with Shippable like some other collections are doing (e.g. `community.general`). Zuul may also be an option.

[2020-01-29 22:25] geerlingguy commented on #2
Example for running via `ansible-test` on GitHub Actions: https://github.com/ansible-collections/grafana/blob/master/.github/workflows/ansible-test.yml

[2020-01-30 16:38] geerlingguy commented on #1
Using the following vars in `site.yaml` from the content_collector:

[code]

Also ran into two issues with the content_collector:

  - https://github.com/ansible/content_collector/issues/20
  - https://github.com/ansible/content_collector/issues/21

[2020-01-30 18:16] geerlingguy commented on #2
Hmm... looks like there's also a number of things in the openshift space in Ansible that needs to be extracted, like the test scaffolding for openshift/k8s modules:

`test/lib/ansible_test/_internal/cloud/openshift.py`

[2020-01-30 18:46] geerlingguy commented on #2
Hmm... according to some internal discussion that ansible-test plugin will remain part of Ansible core/`ansible-test` for now, with no plans for allowing it to move into the collection itself.

So the integration tests can still be managed from the collection, but the test plugin will live on in ansible/ansible. _For now_. It would be nice to be able to manage it from here, because it's running th

[2020-01-30 19:40] geerlingguy commented on #2
Also noticed that there's a reference to/dependency on the core integration role `setup_remote_tmp_dir`, and it can't be referenced when running the tests in the collection—so instead, I've added a task include file `setup_remote_tmp_dir.yml`

[2020-01-30 19:55] geerlingguy opened #5 "Migrate doc_fragments into collection"
##### SUMMARY

Not quite sure how to do this yet, as content_collector doesn't do it automatically and it looks like there might be an issue with the namespacing for doc fragments: https://github.com/ansible/ansible/issues/59226

But basically, there are missing doc fragments that are in ansible/ansible and haven't made it into this collection yet:

  - https://github.com/ansible/ansible/blob/deve

[2020-01-30 19:55] geerlingguy commented on #5
Relates to #1

[2020-01-30 20:01] geerlingguy commented on #5
Note that the Grafana collection includes a doc_fragment: https://github.com/ansible-collections/grafana/tree/master/plugins/doc_fragments

[2020-01-30 20:29] geerlingguy commented on #1
I have most everything complete _so far_, and integration tests are now passing (though sanity is not)—working on that in #2.

[2020-01-30 20:31] geerlingguy commented on #2
Here are the current errors when running `ansible-test sanity --docker -v`:

[code]

I might be able to just drop the `oc` and `kubernetes` aliases since this is a new collection and I'm not sure if we would need to keep those aliases anymore. They may just be too much trouble for what they're worth.

[2020-01-30 20:38] geerlingguy commented on #2
Other errors:

[code]

[code]

[2020-01-30 21:09] geerlingguy commented on #2
Interesting, for k8s `validate`'s `strict` option, the arg spec defaults to `True`, but the documentation says the default is `False`. So, bugfix there...

[2020-01-30 21:36] geerlingguy commented on #5
I have the fragments in, but they aren't accounted for in the sanity check, it seems.

[2020-01-30 21:36] geerlingguy commented on #2
Sanity now returns:

[code]

Those are all from doc_fragments (see #5).

[2020-01-30 21:43] geerlingguy commented on #2
Looks like that was related to not namespacing the `extends_documentation_fragment` options, which I've now done and should get at least most of the rest of the errors fixed.

`resource_definition` uses a custom type `list_dict_str`, so not sure if that's going to throw a wrench in the works.

[2020-01-30 22:07] geerlingguy commented on #5
Opened follow-up issue to get the last two errors cleared: https://github.com/ansible/ansible/issues/66968

[2020-01-30 22:10] geerlingguy opened #6 "Add valid type parameter to documentation for resource_definition"
##### SUMMARY

Inside `common.py`, the `resource_definition` argument uses a custom type, `list_dict_str`.

Because of this, and the ansible-test bug [Unable to pass validate-modules sanity check if using custom type for arg spec](https://github.com/ansible/ansible/issues/66968), I can't get the argument in the documentation fragment `k8s_resource_options.py` to pass the `validate-modules` test. I

[2020-01-30 22:17] geerlingguy opened #7 "Add k8s_exec module to collection"
##### SUMMARY

A new `k8s_exec` module would allow execution of command in a pod container through the API:
https://docs.okd.io/latest/dev_guide/executing_remote_commands.html#protocol

See: https://github.com/ansible/ansible/pull/55029

Currently the only easy way to do this (without using a custom module) is via `kubectl` and the `command` or `shell` module, which requires more dependencies and

[2020-01-30 22:19] geerlingguy commented on #2
Darn, on GitHub still getting a few more errors:

[code]

[2020-01-30 22:37] geerlingguy opened #8 "Add k8s_event module to collection"
##### SUMMARY

A `k8s_event` module would be nice to have in certain circumstances. If you want to be able to add events attached to certain resources, this module could help you do that.

See: https://github.com/operator-framework/operator-metering/blob/master/images/metering-ansible-operator/roles/meteringconfig/library/k8s_event.py

##### ISSUE TYPE
- Feature Idea

##### ADDITIONAL INFORMATION

[2020-01-30 22:38] geerlingguy opened #9 "Add k8s_status module to collection"
##### SUMMARY

A k8s_status module would be nice to have in certain circumstances. If you want to be able to set a status for a given resource, this module could help you do that.

See: https://github.com/operator-framework/operator-metering/blob/master/images/metering-ansible-operator/roles/meteringconfig/library/k8s_status.py

##### ISSUE TYPE
- Feature Idea

##### ADDITIONAL INFORMATION

Exampl

[2020-01-30 22:50] #2 closed

[2020-01-30 22:50] #5 closed

[2020-01-30 22:51] geerlingguy commented on #1
Done for now; moving on to testing locally and documenting everything in #3.

[2020-01-30 22:51] #1 closed

[2020-01-30 23:19] geerlingguy opened #10 "Figure out what to do with OpenShift tests"
##### SUMMARY

Currently, the tests run by `ansible-test` (e.g. `ansible-test integration --docker -v --color`) are running on OpenShift 3.9.0 (`openshift/origin:v3.9.0`), which has been out of support for some time.

The current release of OpenShift 3 is 3.11, though the Docker Hub image for that version is 2 years old (https://hub.docker.com/r/openshift/origin/tags), and also uses Kubernetes 1.1

[2020-01-31 21:00] geerlingguy commented on #3
PR submitted: https://github.com/ansible-collections/kubernetes/pull/11

[2020-02-01 15:45] #3 closed

[2020-02-05 15:20] geerlingguy opened #13 "CI Builds started failing with "cannot import name '_distro'""
##### SUMMARY

CI builds (using ansible-base) started failing in the past day or two with "cannot import name '_distro'"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test

##### ANSIBLE VERSION
ansible-base devel

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESULTS

[code]

[code]

[2020-02-05 15:21] geerlingguy commented on #13
Looks like it's related to https://github.com/ansible-community/collection_migration/pull/277

[2020-02-05 15:23] geerlingguy commented on #13
It should start working again in ~24 hours.

[2020-02-05 16:43] geerlingguy commented on #13
Apparently if I build ansible-base directly, it may clear things up... also could uncover any other issues.

[2020-02-05 17:54] geerlingguy commented on #13
On Ubuntu 18.04, to generate Ansible Base NWO, I'm trying:

[code]

Takes absolutely forever though.

[2020-02-06 21:22] fabianvf commented on #10
yeah, I like the idea of moving to the official kind tool. Basically our test pipeline would then be

`install kind -> kind create cluster -> invoke tests`

I'd hazard a guess that a lot of what ansible-test gets you doesn't help us a ton since we have pretty simple host management and mostly just need to interact with a kubernetes API. In the long run I plan to make a kind molecule driver, but fo

[2020-02-06 21:43] gundalow opened #15 "Code coverage support"
##### SUMMARY

One ansible-minimal is working again.
* Copy what grafana has for code coverage
* generate codecov.io token
* Enable Codecov commenting on PRs

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-02-07 20:33] geerlingguy commented on #13
I got things back to a working-ish state (see PR #17), but now I'm getting more sanity test errors:

[code]

[2020-02-11 19:54] geerlingguy opened #18 "Add `k8s_wait` module"
##### SUMMARY

Just wanted to throw this out here, since it's something that would be convenient in a number of circumstances.

A common pattern for K8s deployments is:

  1. Apply a manifest to create a new Deployment.
  2. Wait for all the Pods in this Deployment to be Ready.
  3. Do other stuff.

Currently, for number 2, you can futz around with the returned data from `k8s` or `k8s_info` and us

[2020-02-11 19:54] geerlingguy commented on #18
This feature request stems from https://github.com/geerlingguy/ansible-collection-k8s/issues/5, where I was originally ruminating over it.

[2020-02-11 22:46] #13 closed

[2020-02-11 23:12] geerlingguy commented on #15
@gundalow - I have a draft PR up now that tests are passing again; see https://github.com/ansible-collections/kubernetes/pull/19

How can I get a token for this repository from codecov.io? Do I just ask you?

[2020-02-11 23:40] #15 closed

[2020-02-11 23:52] geerlingguy opened #21 "Code coverage upload issues to codecov.io"
##### SUMMARY

Code coverage reports from `master` branch CI runs are not being uploaded to codecov.io.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

CI

##### ADDITIONAL INFO

See:

  - https://codecov.io/gh/ansible-collections/kubernetes
  - https://github.com/ansible-collections/kubernetes/pull/19

It looks like maybe when I fixed the syntax issue in the `coverage.sh` file (see commit h

[2020-02-11 23:57] geerlingguy commented on #21
Above commit re-adds the bash syntax error, maybe one of the flags was preventing the coverage reports from being auto-detected or something.

[2020-02-12 00:01] geerlingguy commented on #21
Now getting:

[code]

So there's something in these flags that's causing the command to ignore the found coverage results:

[code]

[2020-02-12 15:24] geerlingguy commented on #21
Might be able to switch to tokenless codecov and use the codecov-action GitHub action; see https://github.com/codecov/codecov-action/issues/29#issuecomment-581540357 and https://github.com/codecov/codecov-action

[2020-02-12 21:33] geerlingguy commented on #10
@fabianvf - Ha, just realized @ssbarnea closed https://github.com/ansible-community/molecule/issues/2043 a few days ago, which was your initial idea of putting a kind driver into molecule itself.

Right now in the above PR (#22), I'm pursuing setting up Kind via a GitHub action, then using the `delegated` driver, but long-term I think it would be nice for all the downstream projects testing with K

[2020-02-13 19:21] geerlingguy opened #23 "Stop using json_query in integration test waiter.yml"
##### SUMMARY

Currently there's a task in the molecule integration tests (part of #22 / #10) which uses the `json_query()` filter, which is moving out of Ansible core into the `community.general` collection:

[code]

This filter depends on the jmespath library, which [might not be actively maintained anymore](https://github.com/jmespath/jmespath.py/issues/192), and it also requires the installati

[2020-02-13 21:26] geerlingguy opened #24 "Fix validate_certs test in molecule integration test 'full.yml'"
##### SUMMARY

As part of fixing https://github.com/ansible/ansible/pull/57418 (ansible/ansible PR https://github.com/ansible/ansible/issues/56640), a task was added to the `full.yml` test playbook which is run in molecule's `default` scenario:

[code]

This fails now that we have molecule running tests on a full cluster (see #22) with the following message:

[code]

We should make it so that test

[2020-02-13 22:18] geerlingguy commented on #23
This was fixed by referencing the var directly, without searching the list with json_query. Seems stable enough through 6 successful test runs that I don't think json_query adds anything extra of value that we _need_.

[2020-02-13 22:19] #23 closed

[2020-02-13 23:50] geerlingguy commented on #10
Reopening—remembered that moving to kind for some of the integration tests is only part of this issue's impetus; we still need to figure out:

  - If we want to move the remaining bits from the ansible-test integration test over to the molecule test (so it runs on a more modern Kubernetes version)
  - If there's any more modern OpenShift 4.x+ environment we can use in CI so we can still test thing

[2020-02-14 20:16] #7 closed

[2020-02-17 21:13] geekifier opened #27 "Support the selector option in the k8s module when applying service definitions"
##### SUMMARY

This is a copy of the following GH issue: https://github.com/ansible/ansible/issues/67316.

The k8s module should support specifying selectors when applying resource definitions, similar to how `kubectl` supports it.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
k8s module

##### ADDITIONAL INFORMATION

Some commonly used projects, such as Knative, require you to apply the

[2020-02-18 01:23] tima opened #28 "Support for helm package management"
##### SUMMARY

This collection should include a module for Helm package management.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

helm and/or helm_cli

##### ADDITIONAL INFORMATION

Helm is the Kubernetes package manager and maintained by the CNCF. While not every Kubernetes tool belongs in this one collection, Helm is too vital not to be included. It should be a core part of any Ansible

[2020-02-18 17:44] bmillemathias opened #29 "unrelated files provided in collection release"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
I just did a `ansible-galaxy collection install community.kubernetes` and look what was provided and found such files.
[code]
and also .DStore
[code]

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/a

##### OS / ENVIRONMENT
N/a

[2020-02-18 17:46] bmillemathias commented on #29
I don't know if it is possible to ignore directories and files when doing a `ansible-galaxy collection publish`

[2020-02-18 17:53] geerlingguy commented on #29
@bmillemathias yikes! I did it from my Mac, which is why the .DS_Store files were there. And I had run some tests, which is likely why those other files were there. But we should definitely ignore things like .DS_Store files and test artifacts when building and publishing (no matter what system it's done from).

I'm looking at the docs to see if there's a way to ignore things (e.g. similar to giti

[2020-02-18 17:56] geerlingguy commented on #29
Hmm... from the [Building collections](https://docs.ansible.com/ansible/latest/dev_guide/developing_collections.html#building-collections) docs:

[2020-02-18 18:01] geerlingguy commented on #29
Here's one way to do it—basically a manual pruning of everything pre-release: https://github.com/mattclay/ansible-collection-aws/blob/master/Makefile

I could run `git clean -x -d -n` (without `-n` to actually do it) but I'm not 100% sure if that will remove hidden files and directories too.

[2020-02-18 18:19] geerlingguy commented on #29
Opened upstream issue: https://github.com/ansible/ansible/issues/67543

I also just found https://github.com/ansible/ansible/issues/67130 which _seems_ to suggest there's a `build_ignore` key in `galaxy.yml` that might work for this purpose? Maybe... but it doesn't seem to cover globbing and such.

[2020-02-18 19:32] s-hertel commented on #29
I think the documentation is out-of-date. Globbing works for `build_ignore`. As the issue above indicates, things required for building the [MANIFEST.json ](https://docs.ansible.com/ansible/latest/dev_guide/collections_galaxy_meta.html#structure) don't currently get excluded.

build_ignore docs in the default galaxy.yml template:
[code]

[2020-02-18 20:03] geerlingguy commented on #29
@s-hertel thanks for the update; I think the fix, then, is to make sure whomever is building the artifact uses devel (until it's in a public release) and we should add at least the test files and the macOS files to the `build_ignore` setting in `galaxy.yml`.

[2020-02-18 20:45] fabianvf commented on #10
I vote yes

I think the only way we could do this is to hook into the openshift prow system, which may not be possible from this org. We could also just test against upstream kubernetes and if OpenShift deems it a priority we could set up a downstream repo that has a few additional openshift-specific tests. Since the basic APIs between openshift and kubernetes are the same and there's no good CI f

[2020-02-19 16:28] geerlingguy opened #30 "Test with Molecule 3.0 alpha"
##### SUMMARY

Molecule 3 will be a bit of a rearchitecture, which means some things are going, and some things are changing. We are using the `delegated` provider for KinD (for now, at least), which should work fine with Molecule 3. See the [Molecule 3 migration checklist](https://github.com/ansible-community/molecule/issues/2560) and [Molecule 3 changelog PR](https://github.com/ansible-community

[2020-02-19 16:33] geerlingguy opened #31 "Find a home for new module documentation"
##### SUMMARY

We have two new modules in this collection as of today:

  - k8s_exec: https://github.com/ansible-collections/kubernetes/pull/14
  - k8s_log: https://github.com/ansible-collections/kubernetes/pull/16

These modules have appropriate documentation with examples, but currently there is nowhere public that the docs are displayed. For the other existing modules, which were included in An

[2020-02-19 16:35] ssbarnea commented on #30
Please do! I am eager to get some feedback before adding the tag. Is called alpha but is more of a rc. Unless someone identifies a serious bug this will be the release.

[2020-02-19 17:42] geerlingguy commented on #30
@ssbarnea - looks like it worked without issue, following your migration checklist.

[2020-02-19 18:19] gundalow commented on #31
Once https://github.com/ansible/ansible/pull/59761 is done you should get this for free
Something along the lines of docs.ansible.com/collections/community/kubernetes/modules/k8s_exec.html

Once that's done you could update README to point to these URLs

[2020-02-19 18:23] geerlingguy commented on #31
@gundalow - From some of my quick reading of that PR and other related issues, it seems like it might be basing things on BOTMETA and some of the migration scripts... which would be great for existing stuff in 2.9 that's being migrated—but what about the new modules?

Will we need to file PRs against ansible/ansible any time we want to add a new module and get its docs added to the docsite? Or wil

[2020-02-19 18:26] gundalow commented on #31
I *think* we will generate all documentation for any collection listed in BOTMETA, not limited to only files listed in BOTMETA, though let me go and check.

[2020-02-20 15:19] geerlingguy commented on #28
I think a Helm module would fit in this collection nicely, as it is a tool that is exclusively used with Kubernetes, and as you mention, it is a fairly standard tool used in many deployments.

I've commented in the other PR in ansible/ansible and asked if the author would be willing to submit a PR against _this_ repository.

[2020-02-20 16:30] geerlingguy opened #33 "Two sanity tests are failing in CI"
##### SUMMARY

`ansible-test` sanity checks are currently failing in CI:

[code]

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

CI / Documentation

[2020-02-20 16:54] #30 closed

[2020-02-21 17:13] #33 closed

[2020-02-21 17:46] fabianvf commented on #18
@geerlingguy does the `wait` parameter in the `k8s` module fall short?

[2020-02-21 17:49] geerlingguy commented on #18
To be honest, I might have not been thinking about that parameter when I originally wrote up the issue in my collection repo... I think it was when I was writing up this example in Ansible for Kubernetes: https://github.com/geerlingguy/ansible-for-kubernetes/blob/master/cluster-local-vms/test-deployment.yml#L15-L27

I'll see if I can get that to work with the `wait` parameter instead...

[2020-02-21 17:50] fabianvf commented on #9
I'm not sure this is a module we should include in the core kubernetes collection, as the use case is pretty specific to writing controllers in Ansible. We've got an [operator-framework collection that contains the module](https://galaxy.ansible.com/operator_sdk/util), and I think that may be a better place for it to live since if you aren't writing an operator you probably shouldn't be setting th

[2020-02-21 17:53] fabianvf commented on #8
Would it make more sense to add this to the [operator-framework util collection](https://galaxy.ansible.com/operator_sdk/util), or is there a good use case for emitting events when you aren't writing a controller? Not super familiar with the events API or its uses.

[2020-02-21 17:55] geerlingguy commented on #9
@fabianvf - Oh, I didn't even realize there was a separate collection for the Operator SDK. Makes sense to keep it there, and I'll close out this issue. We might want to find a way to link that to this or from the Kubernetes Working Group (assuming you'd want the WG to also help out with / be aware of that module / collection?)

[2020-02-21 17:55] #9 closed

[2020-02-21 17:56] geerlingguy commented on #8
@fabianvf - That might make more sense, since the use case is more restricted to something like an operator than general Kubernetes management.

[2020-02-21 17:57] fabianvf commented on #9
@geerlingguy we should definitely link them together and I'd love for it to be under the purview of the WG if people are open to that

[2020-02-21 17:57] geerlingguy commented on #8
Migrated to https://github.com/operator-framework/operator-sdk-ansible-util/issues/2

[2020-02-21 17:57] #8 closed

[2020-02-21 18:03] geerlingguy commented on #9
@fabianvf I went ahead and added info to the WG Wiki page: https://github.com/ansible/community/wiki/Kubernetes

[2020-02-21 18:05] fabianvf commented on #6
initially I used the custom type because the `from_yaml` filter did not support multidocument yaml, so the only way to parse it was either forcing the user to do it by manually splitting the file (gross), or loading it in as a string ourselves. It also supports lists because a multidocument yaml is conceptually just a list of resources, and we added the `from_yaml_all` filter that returns a list.

[2020-02-21 18:12] geerlingguy commented on #6
I'd be happy to go that way, especially since this new collection gives us an opportunity to make little changes which may affect some edge use cases that we don't want to support anyways—if we make that change here, people using Ansible 2.9 still won't be affected, and when they move to this collection's content (either before or after 2.10's release) they'll likely need to tweak some things anyw

[2020-02-21 18:43] fabianvf opened #36 "Remove module inheritance"
##### SUMMARY

Currently we have the [`KubernetesAnsibleModule`](https://github.com/ansible-collections/kubernetes/blob/master/plugins/module_utils/common.py#L267) and [`KubernetesRawModule`](https://github.com/ansible-collections/kubernetes/blob/master/plugins/module_utils/raw.py#L65) that most of our modules inherit from, but this is a bad pattern and has already bitten us with the `k8s_scale` m

[2020-02-21 20:07] geerlingguy commented on #18
It works great, not sure why I didn't use the `wait` parameter earlier. Downstream issue: https://github.com/geerlingguy/ansible-for-kubernetes/issues/32

Closing this request as it's redundant (and would just add complexity where none is needed).

[2020-02-21 20:26] geerlingguy opened #37 "Allow templates to be passed directly through to k8s module"
##### SUMMARY

Frequently, when using the `k8s` module to apply a Kubernetes manifest, I have a manifest template with one or more resource definitions that I would like to have templated via Ansible/Jinja.

The current way I do this is:

[code]

It seems like it would be much simpler to have a `template` option for `k8s` which would use Ansible's `Templar` (only available if the template is being

[2020-02-21 21:05] tima commented on #28
Also to your point @geerlingguy and looking at it another way -- what collection would a helm module go otherwise? I don't see there being more than one module really ever. Maybe a module_util or some supporting code gets identified? To me it would seem silly to create and maintain a collection with so little content just because helm != k8s.

[2020-02-21 21:56] tima opened #38 "Seamless handling of ansible vaulted files in K8s modules"
##### SUMMARY

The `kubeconfig` parameter in the k8s module and all others such seamless detect and decrypt ansible-vault'ed files.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

module_utils/common.py (This seems to be where the underlying logic is handled.)

##### ADDITIONAL INFORMATION

If you are storing a kubeconfig file in a repo -- maybe you are working with multiple clusters or pe

[2020-02-21 22:26] geerlingguy commented on #38
I'm assuming the use case for this would be to have a kubeconfig file stored in the source repository, but encrypted via `ansible-vault`? (Rather than requiring users of the playbook or Tower/other execution environments to acquire and securely store a kubeconfig locally.)

[2020-02-25 20:30] geerlingguy opened #40 "Figure out the best way to handle CHANGELOG updates"
##### SUMMARY

Ansible core uses 'changelog fragments' (see docs for [creating a changelog fragment](https://docs.ansible.com/ansible/latest/community/development_process.html#creating-a-changelog-fragment)) to make building a release-specific CHANGELOG file easier.

That might be overkill for a project with the reduced scope we have in this collection, but we still need a way to make sure all rel

[2020-02-25 20:32] geerlingguy commented on #40
Another (perhaps simpler) option would be `towncrier`: https://towncrier.readthedocs.io/en/actual-freaking-docs/

[2020-02-25 20:38] geerlingguy commented on #40
Also it was suggested we might be able to rely on https://github.com/ansible/ansible/blob/devel/packaging/release/changelogs/changelog.py — maybe that could be made more generic / abstracted into the community space, so it can be used by all Collections.

[2020-02-27 17:11] geerlingguy commented on #10
@fabianvf - I've also heard that there's a possibility that `ansible-test` will someday (not sure when) be one of the backends to molecule, so molecule could run whatever integration tests are needed. Not sure how that will work, or when it will be worked on, but that could make it simpler to run all the proper tests through one tool.

[2020-02-28 11:30] aharrisson opened #41 "Add roles to install Kubernetes"
##### SUMMARY

It would be interesting if this collection also included roles and playbook(s) for installing a cluster.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
roles

##### ADDITIONAL INFORMATION

To have a community supported and well structured set of roles to install Kubernetes with Ansible would be a good starting point for people with Ansible knowledge to create a Kubernetes cl

[2020-02-28 15:11] geerlingguy opened #42 "CI integration test started failing last night with missing 'pip' module"
##### SUMMARY

Example build: https://github.com/ansible-collections/kubernetes/runs/474129151#step:5:401

This error occurs during the CI 'integration' workflow:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible-test integration

##### ANSIBLE VERSION

ansible-base (latest)

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED

[2020-02-28 15:20] geerlingguy commented on #42
Related: https://github.com/ansible-community/collection_migration/pull/468

[2020-02-28 18:16] geerlingguy opened #43 "Publish new collection versions from git tags automatically"
##### SUMMARY

Right now the Kubernetes collection release process is fully manual, and therefore prone to error. We've already hit our first minor bump in #29 — having a fully automated process should make the release process more foolproof, and also lighten the load on collection maintainers.

Using a process similar to the one outlined in this post ([Automatically building and publishing Ansibl

[2020-02-28 18:17] geerlingguy commented on #43
(Also posting related issue https://github.com/geerlingguy/ansible-collection-k8s/issues/6)

[2020-02-28 18:17] geerlingguy commented on #29
Opened related issue #43

[2020-02-28 20:26] geerlingguy commented on #42
Well now getting a new / unrelated error...

[2020-02-28 20:41] geerlingguy opened #44 "Bare variable deprecation warning in CI tests"
##### SUMMARY

The CI molecule test currently results in a few deprecation warnings; we should fix those so we don't run into failures once Ansible 2.12 is out.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

CI

##### ANSIBLE VERSION

N/A

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

    molecule test

##### EXPECTED RESULTS

No deprecation warnings are i

[2020-02-28 20:42] geerlingguy commented on #42
CI is passing now, though I opened a follow-up issue: https://github.com/ansible-collections/kubernetes/issues/44

[2020-02-28 20:42] #42 closed

[2020-03-04 18:38] fabianvf commented on #41
I think this is probably out of scope for this project. There is an existing project which is focused around the deployment and maintenance of Kubernetes clusters, and I think any effort to improve management of Kubernetes nodes via Ansible is probably best spent in that repo: https://github.com/kubernetes-sigs/kubespray

[2020-03-04 20:03] aharrisson commented on #41
Thank you for your comment, @fabianvf.
I am well aware of Kubespray, which itself is a great project. It does (imho) suffer from structural problems though. I have previously spoken to contributors, who would love if Kubespray was implementing roles in a collection, but the complex nature of the project combined with roles that are not independent makes it really hard to refactor without risking s

[2020-03-04 20:17] geerlingguy commented on #41
@aharrisson - The one reason I tend to agree with @fabianvf's point here is that in maintaining my `geerlingguy.kubernetes` role (which does install Kubernetes via kubeadm 'without bells and whistles'), I've found that for as complex a system as Kubernetes is to manage, you have to hardcode some assumptions (bells and whistles) to make it minimally useful... and at some point (pretty quickly if yo

[2020-03-04 20:17] fabianvf commented on #41
Ok, I'll open it back up for discussion, more thoughts below

I think the maintenance burden for even a minimal set of deployment roles would likely quickly exceed the current team's maintenance capacity, especially if we started to get support questions/etc

If we do decide that this is something we'd like to explore, since kubespray exists and has a sizeable community of contributors that are al

[2020-03-04 20:23] geerlingguy commented on #44
Opened https://github.com/ansible-collections/kubernetes/pull/45

[2020-03-04 20:38] #44 closed

[2020-03-04 20:40] aharrisson commented on #41
I fully understand your concerns and also agree that leveraging the expertise of the Kubespray community sounds very reasonable.
Whether this would eventually result in a collection based Kubespray 3.0 or some generic roles in the collection here, I would appreciate the effort and of course offer to help with the implementation.

[2020-03-05 14:20] geerlingguy opened #46 "Drop token from codecov, as it's no longer required"
##### SUMMARY

Codecov supposedly doesn't require a token anymore; see https://github.com/codecov/codecov-action/issues/55#issuecomment-594965149

We should remove the token from our code (and maybe use the GitHub Action instead of the custom shell script), and see what happens.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

CI, codecov

##### ADDITIONAL INFORMATION

N/A

[2020-03-05 14:21] geerlingguy commented on #46
Related: https://github.com/ansible-collections/kubernetes/issues/21

[2020-03-05 15:32] #46 closed

[2020-03-05 15:32] geerlingguy commented on #21
#46 neatly covered this for us, by making the script unnecessary.

[2020-03-05 15:32] #21 closed

[2020-03-06 15:46] fabianvf opened #48 "What to do about vendor-specific Kubernetes features"
##### SUMMARY
Currently in the `k8s` module we do a bit of special casing for `Projects`, an OpenShift-specific resource, and there is another PR raised to do something similar for `BuildRequests`, also OpenShift-specific. As a project, we should decide whether we want to accept and support vendor-specific Kubernetes resources, or if we should target vanilla Kubernetes and encourage other vendors

[2020-03-06 16:17] geerlingguy commented on #48
Agreed. From one point, the collection is named `kubernetes`, so it would make some sense to limit it to the general kubernetes structure.

However we have ideas of incorporating things like a Helm module (#28), and as you mention there is already some nominal OpenShift-specific support... so I think I'd be okay with incorporating some wider Kubernetes functionality maybe.

If we do expand OpenShi

[2020-03-06 16:17] geerlingguy commented on #48
Also linking #39 here as that's the BuildRequests PR.

[2020-03-06 16:19] geerlingguy commented on #48
And finally, wanted to mention the kubevirt modules (e.g. [`kubevirt_vm`](https://docs.ansible.com/ansible/latest/modules/kubevirt_vm_module.html)), because they are also coupled tightly to the current k8s module libraries, though they are not in this collection.

[2020-03-08 07:55] hswong3i commented on #41
I could contribute my roles from https://github.com/alvistack/ansible-collection-kubernetes which already coming with a complete solution for deployment Kubernetes + CephFS.

Any idea?

[2020-03-08 08:48] aharrisson commented on #41
Thank you for the comment, @hswong3i . I have seen your collection and really like what I see in regards of the role structure. I admit that I have not yet reviewed the role implementations, but that is definitely on my todo-list.

When I posted this issue, I wished for "a community supported and well structured set of roles", and I was actually implicitly referring to Kubespray as a community sup

[2020-03-09 14:35] gundalow opened #49 "Check for missing commits vs devel"
##### SUMMARY
The "Big Migration" has now taken place.

As this collection already exists, we need to carefully check to see if any further commits went into devel since this repo was created.

Please check the contents of https://github.com/ansible-collection-migration/community.kubernetes against this repo

##### ISSUE TYPE
- Bug Report

[2020-03-09 15:09] geerlingguy commented on #49
@gundalow - Just noting that this repo has also had some commits since it was forked out of `devel`, but I believe https://github.com/ansible-collections/kubernetes/commit/4b6fdb1615f20d58e44c3e562f43cbd72dd30e0c is where we could do a one-by-one diff of the relevant files. I'll work on that today. I tried to make sure none of the PRs against ansible/ansible tagged with `k8s` were unaccounted for

[2020-03-09 15:53] gundalow commented on #49
Clarification:
* Please do a per-file level diff against every file in the ansible-collection-migration repo and this one
* Pay care to files added and removed.
* During the last two weeks there have been lots of fixes, especially around and tests, dependencies, and new collection features e.g. meta/action_groups.yml

[2020-03-09 19:09] geerlingguy commented on #49
[code]

Here's the output from a one-for-one diff of the two repos (from this repo):

[full-diff.txt](https://github.com/ansible-collections/kubernetes/files/4308491/full-diff.txt)

[2020-03-09 19:48] geerlingguy commented on #49
File-by-file breakdown:

- (new) `meta/action_groups.yml` - New file, not sure what this is for?
- (new) `meta/routing.yml` - New file, not sure what this is for?
- (missing) `plugins/connection/kubectl.py` - This is not in the auto-migrated collection
- `plugins/doc_fragments/k8s_auth_options.py` - new param `persist_config`... will need to investigate
- `plugins/doc_fragments/k8s_scale_options.p

[2020-03-09 20:06] geerlingguy commented on #49
For the missing file, that was a mistake on my part, I forgot to route `kubectl.py` to this collection so it was dumped into `community.general`. I've opened two follow-up issues to fix it:

  - https://github.com/ansible-collection-migration/community.general/issues/1
  - https://github.com/ansible/ansible/issues/68121

[2020-03-09 20:31] geerlingguy commented on #49
Two fixes didn't make their way into this collection's code:

  - https://github.com/ansible/ansible/pull/60726 — not sure how since this was merged in September and this repo forked from devel a month ago :/
  - https://github.com/ansible/ansible/pull/63219 — also not sure since this was in December
  - https://github.com/ansible/ansible/pull/65424 — that was merged into devel after this repo for

[2020-03-10 15:46] uditgaurav opened #50 "k8s module should have some basic filtering power(JSON output)"
**SUMMARY**

While using `k8s_info` modules we get the output in JSON format in the `register` variable then we have to add an extra task (can be a `set_fact` ) to filter the useful values. Can/ Do we have `k8s_info` modules with some basic filtering power so that we don't need to add an extra task for getting one value inside our JSON output?

**ISSUE TYPE**

- Feature Idea

**COMPONENT NAME**

M

[2020-03-10 16:14] fabianvf commented on #48
I'm currently leaning to using a separate collection for vendor-specific behavior, but I have one major concern - is it currently possible to share code across collections, or would we need to copy the module_utils content to get access to those classes/methods?

[2020-03-10 16:22] jamescassell commented on #48
I'd hope there's a way to declare cross collection deps, to make them available. Cc @gundalow

[2020-03-10 16:31] geerlingguy commented on #48
@fabianvf / @jamescassell - I _believe_ you can just declare a dependency in your `galaxy.yml` and as long as the other collection is present, you can use code from it (module_utils or modules). I think the `libvirt_*` modules inside `community.general` actually depend on code in this collection already. Not sure if it's actually working or not, but that should be possible.

[2020-03-10 16:38] geerlingguy commented on #50
Just noting that I've seen _some_ people use the [`json_query`](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#json-query-filter) filter, but that depends on a possibly-unmaintained library, jmespath.

I don't know if we'd want to pre-process and re-arrange the output in the module itself, as it would add a lot of complexity and is not really the pattern used in other mo

[2020-03-10 17:02] jamescassell commented on #50
It ships in RHEL 8, and it's very common in playbook and roles from what I've seen. Would you recommend a new jq-based filter?

[2020-03-12 14:11] geerlingguy commented on #49
I'm going to try to get the rests of these fixes in today.

[2020-03-12 16:33] geerlingguy opened #53 "Add Probot/stale bot to mark issues as stale and close after certain period"
##### SUMMARY

For my own GitHub repos, I've [configured the probot/stale bot](https://www.jeffgeerling.com/blog/2020/enabling-stale-issue-bot-on-my-github-repositories) to mark issues as stale after 90 days with no activity, and close after an additional 30 days if no further activity is found.

For the long-term maintenance of this collection, it might be nice to do the same thing here, just to

[2020-03-12 18:58] geerlingguy commented on #49
I created the above three PRs with commits attributed to the original authors, once tests pass I'll merge them in order. It seems like they will not conflict in any way so it should just be a matter of waiting for all of them to pass.

Note that #55 and #56 at least (not sure about #54) were slated for 2.10, so if we add the change to the 0.9.x release series it would be a feature addition that wo

[2020-03-12 21:00] geerlingguy commented on #49
Those three PRs are in, but I'm going to have to pause the fixing of the rest of the minor changes (mostly taking out `version_added` since that's not relevant in this collection anymore...).

[2020-03-12 22:11] webknjaz commented on #40
FYI I have a GitHub App for enforcing towncrier change fragments in PRs (example check: https://github.com/tox-dev/tox/pull/1529#partial-pull-merging). src: https://github.com/sanitizers/chronographer-github-app

[2020-03-17 09:34] Akasurde opened #57 "k8s_info ignores authorization parameters"
_From @kazito1 on Mar 16, 2020 22:34_

##### SUMMARY
k8s_info is ignoring username: and password: fields

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.7, ansible 2.9. The remote OCP cluster is OCP 4.3

##### STEPS TO REPRODUCE

1. Create a playbook that connects to a RHEL 7.7 box that is try

[2020-03-17 19:49] fabianvf commented on #57
I don't think the username and password options will work for openshift, I think you'll need to use the `k8s_auth` module to generate an API token and then use that https://docs.ansible.com/ansible/latest/modules/k8s_auth_module.html

[2020-03-17 20:54] kazito1 commented on #57
Actually the documentation is incorrect: The only way you can make it work is by using api_key + host + username, but it won't work as per the examples in the documentation (with just api_key)

[2020-03-17 20:57] fabianvf commented on #57
Ah, the examples set a host and ca_cert with the `module_defaults`, that should probably be highlighted

[2020-03-19 20:51] geerlingguy commented on #10
One proposal: We split out into a `community.openshift` collection.

[2020-03-20 20:27] geerlingguy opened #58 "Decide whether to add a meta/action_groups.yml file"
##### SUMMARY

In #49, I found that there was an extra `action_groups.yml` file added to the automatically-migrated Kubernetes collection: https://github.com/ansible-collection-migration/community.kubernetes/blob/master/meta/action_groups.yml

The file seems to be useful for defining `module_defaults` groups (see docs on [Module Defaults](https://docs.ansible.com/ansible/latest/user_guide/playbook

[2020-03-20 20:27] geerlingguy commented on #49
I'm not going to add `action_groups.yml` for now; see https://github.com/ansible-collections/kubernetes/issues/58 for follow-up.

[2020-03-20 20:28] geerlingguy commented on #49
Not going to touch the `routing.yml` file for now either. Not sure if any of that is required since this collection is not going to support deprecated modules.

[2020-03-20 20:43] geerlingguy commented on #49
PR with final fixes for this issue: https://github.com/ansible-collections/kubernetes/pull/59

[2020-03-20 21:03] #49 closed

[2020-03-20 21:08] geerlingguy opened #60 "Release version 0.10.0"
##### SUMMARY

With the addition of `k8s_exec` and `k8s_log`, we need to bump a minor pre-1.0 release version. There are also a number of other small cleanups that will be included in this release. The CHANGELOG needs to be updated (manually, for now, since #40 is not complete), and then I'll make sure to follow the new process to make sure extra files aren't dropped in (thus preventing #29 from h

[2020-03-22 00:12] kazito1 commented on #57
Mmm, in such case, the documentation should have host, ca_cert and username in module_defaults, and not only host and ca_cert (Only providing host without username does not work).

[2020-03-23 12:59] onknows opened #62 "[WARNING]: - collection was NOT installed successfully: Content has no field named 'owner'"
##### SUMMARY

This collection willl not install as described in README.md because an owner field is missing.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible Galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 LTS

##### STEPS TO REPRODUCE
You only need Ansible installed to reproduce this bug

[code]

##### EXPECTED RESULTS

i expect

[2020-03-23 14:53] geerlingguy commented on #62
@onknows - In the output, it looks like it's trying to install roles:

[code]

I can't reproduce this error with Ansible 2.9.5 (haven't installed 2.8.3 to test with that version though). Note that `owner` is not a required field for collections, so I'm not sure where that message comes from—however doing some searches I found issues like https://github.com/ansible/galaxy/issues/2037#issuecomment-5

[2020-03-23 14:53] #62 closed

[2020-03-23 17:30] geerlingguy opened #63 "Update CI to use ansible/ansible instead of deprecated ansible-base"
##### SUMMARY

Today, ansible/ansible is now what [ansible-base](https://github.com/ansible-collection-migration/ansible-base/) once was.

We need to use devel for CI tests (or at some point after 2.10 is released, we could maybe stick to a stable release of 2.10.x from that point forward).

##### ISSUE TYPE

- Bug Report

[2020-03-23 17:48] #63 closed

[2020-03-23 17:56] geerlingguy commented on #60
Working on this in the afternoon, I hope to have a release out by end of day.

[2020-03-23 20:37] geerlingguy commented on #60
[code]

And it's live: https://galaxy.ansible.com/community/kubernetes

[2020-03-23 20:37] #60 closed

[2020-03-26 15:58] abadger opened #65 "Open CVE against the kubernetes connection plugin"
##### SUMMARY
There is an unembargoed security issue with the kubectl connection plugin:

https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2020-1753

The kubectl connection plugin has two parameters that hold secret data:
* kubectl_password https://github.com/ansible-collections/kubernetes/blob/master/plugins/connection/kubectl.py#L108
* kubectl_token https://github.com/ansible-collections/kubernet

[2020-03-26 16:01] geerlingguy commented on #65
@abadger is this related to @bcoca's fix here? https://github.com/ansible-collections/kubernetes/pull/51

[2020-03-26 16:03] geerlingguy commented on #65
I have never used these options and am very happy to get rid of them, however I believe that many people who use OpenShift might use/require them? Not sure the specific use case but that's all I remember seeing in past issues...

[2020-03-26 16:05] geerlingguy commented on #65
Responding to myself from earlier: https://bugzilla.redhat.com/show_bug.cgi?id=1811008#c11 does mention #51 as the upstream fix.

However, that doesn't change anything in Ansible 2.7.x, 2.8.x, or 2.9.x, since this collection has been forked from there.

[2020-03-26 16:17] abadger commented on #65
#51 is not a fix.  It only documents the problem.

People may be using them but no one should **require** them as they can add the password and token into a config file on their own instead of specifying them where they will be used on the command line.

[2020-03-26 17:13] geerlingguy commented on #41
One other advantage to having any roles in this collection is Galaxy will show a 'content score' (right now _only_ roles are graded for this): https://galaxy.ansible.com/ansible/kubernetes-modules

<img width="1117" alt="Screen Shot 2020-03-26 at 12 11 54 PM" src="https://user-images.githubusercontent.com/481677/77675554-1566ff00-6f5b-11ea-9199-56cda7368bc2.png">

So even if the modules themselves

[2020-03-28 15:06] geerlingguy opened #66 "Sanity tests failing with "No module named 'jinja2'""
##### SUMMARY

[code]

See failed run: https://github.com/ansible-collections/kubernetes/runs/541824333

##### ISSUE TYPE

- Bug Report

[2020-03-28 15:19] geerlingguy commented on #66
Seems to maybe be a bug in devel?

I'm installing with:

[code]

[2020-03-28 15:24] geerlingguy commented on #66
Upstream issue: https://github.com/ansible/ansible/issues/68530

[2020-03-30 09:34] Gabology opened #67 "k8s_module fails on subsequent runs for unpatchable resources"
Cross posted from https://github.com/ansible/ansible/issues/68547. Not sure if this issue tracker should be used instead for k8s module issues.

##### SUMMARY
Module attempts to patch K8s Jobs (and possibly other k8s resources) which is not supported causing a fatal error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_module

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
Create

[2020-03-30 13:55] geerlingguy commented on #67
Testing the creation of a job with `kubectl`, I get:

[code]

Testing the same job definition with the following Ansible playbook:

[code]

I get:

[code]

So it seems to be working for me. Can you provide any more details, like the job template that's being run/patched, which is not working for you?

[2020-03-30 13:57] geerlingguy commented on #66
The upstream issue has been fixed, and test runs are working again. Closing out this issue.

[2020-03-30 13:57] #66 closed

[2020-03-31 03:29] Gabology commented on #67
I wasn't able to reproduce this on my end – closing.

[2020-03-31 03:29] #67 closed

[2020-03-31 04:33] Gabology opened #68 "k8s_log fails to read job logs"
##### SUMMARY
k8s_log module fails to read logs for k8s jobs

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
It should read logs for the pi job

##### ACTUAL RESULTS

[code]

[2020-03-31 18:45] fabianvf commented on #68
so it looks like this is happening because the log turns into a `float` when loaded as JSON (were it serialized into a string we would actually be fine). We should not be loading these logs as JSON at all though so good find

[2020-04-01 14:56] chuckersjp opened #70 "k8s module src directive does not reference files directory when used in a role"
##### SUMMARY

The `k8s` module has a `src` directive for specifying the location of files to provide a path to a file containing a valid YAML definition of an object or objects to be created or updated.  It appears that
this requires a full path name.  When used in a role, this directive doesn't appear to use the roles/x/{files,templates,tasks}/ by default.  It will use it if `"{{ role_path }}/fi

[2020-04-02 16:59] geerlingguy commented on #43
Related project that has a GitHub Action: https://github.com/artis3n/ansible_galaxy_collection/issues/49

[2020-04-03 11:59] SteelCrow opened #71 "k8s module with multi resources manifest has a bad "changed" behaviour"
##### SUMMARY

When create task with k8s module that use multi resources manifest, ansible always report "changed: true"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-04-06 21:48] geerlingguy commented on #71
With most of the content I've tested, I don't see any changes or broken idempotence (whether adding one or multiple resources via one manifest file); so I wonder if something in the https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-rc7/aio/deploy/recommended.yaml file is causing this issue.

I'll attempt to run the same playbook and see what happens locally. Note that since there are m

[2020-04-06 22:00] geerlingguy commented on #71
I tested with:

[code]

Then ran:

[code]

After running multiple times, it always reported a change.

I also downloaded the file from GitHub and ran it locally, and the same thing happened.

[2020-04-06 22:03] geerlingguy commented on #71
So... after digging through that particular manifest, it looks like there's one resource that is causing the idempotence breakage:

[code]

Now... I'm not sure why at a glance Ansible is always reporting a change for that manifest (and none of the others).

But if you drop that into a separate manifest or use it in a definition like:

[code]

Then it still always reports a change.

[2020-04-06 22:04] geerlingguy commented on #71
When using `kubectl` itself to apply the same manifest, I get:

[code]

So, classifying this as a bug.

[2020-04-07 15:16] Akasurde opened #72 "k8s inventory plugin not working as expected"
_From @magick93 on Dec 14, 2018 01:04_

##### SUMMARY

Im trying to create a dynamic inventory from a kubernetes cluster, using the k8s plugin, however I'm unable to get it to work. I've tried various plugin configuration options but _almost_ always get the same result.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

k8s plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

###

[2020-04-07 15:16] Akasurde commented on #72
_From @Akasurde on Apr 01, 2020 09:14_

@magick93 I am not able to reproduce this -

[code]

needs_info

[2020-04-08 20:51] SteelCrow commented on #71
Ok, so by default k8s module use not a 'apply' method, but 'patch' and it leads us to

[code]

but if we use 'apply' we simply get
`127.0.0.1    : ok=8    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0`

Maybe 'patch' method cause resourseVersion update on 'Secret'?!

[2020-04-09 08:53] hawksight commented on #72
It might be that the `--hosts=k8s` isn't needed here looking at the folllowing warning:

[code]

I'd try checking the inventory first without the playbook, like this:

[code]

That should give you a list of available hosts dynamically from the cluster.
Failing that, have you tried just defaulting to using youe `~/.kube/config`?

[2020-04-12 16:25] imjoseangel commented on #40
Today after a PR under Community General Collections I was wondering about this. Why not using by default the changelog in all the projects and even including them in the build as mandatory.

What do you think guys?

[2020-04-14 07:33] 603627156 opened #73 "k8s inventory plugin not working"
Im trying to create a dynamic inventory from a kubernetes cluster, using the k8s plugin, however I'm unable to get it to work.  It's not good to configure according to the document. How to configure？

1、deploy
[code]
2、
[code]

3、error

[code]

[2020-04-14 21:09] coreyoconnor opened #74 "support for synchronize / rsync module"
##### SUMMARY

Support for the `synchronize` (rsync front end) module in the kubectl and oc connection plugins. Or create an equivalent.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- oc
- kubectl
- (external) synchronize

##### ADDITIONAL INFORMATION

This likely requires modification of the `synchronize` module. I'm not even sure this is even possible! :)

An alternative, which might

[2020-04-14 21:11] geerlingguy commented on #74
It would probably be easier to find a way to support the `kubectl cp` command rather than integrate with `synchronize`.

[2020-04-14 21:12] coreyoconnor commented on #74
Forgot to mention: I'm currently using the `copy` module. Which works fine. A goal is to have some incremental copy functionality. Which the standard `copy` module does not appear to have.

[2020-04-14 21:16] geerlingguy commented on #73
I'm not sure why you'd need to use the `k8s` inventory plugin for this particular play—it's operating on a server (`192.168.10.130` I presume) that is running Kubernetes, and the way the kubernetes module works, your setting of `connection: local` seems to indicate it should just work with normal inventory.

How are you configuring the `k8s` inventory plugin to be used? Can you give more of the co

[2020-04-15 01:57] 603627156 commented on #73
error:   Service host/port is not set.
[dev] [root@k8s-node1 ~]# ansible-playbook k8s.yml

PLAY [all] **************************************************************************

TASK [Ensure the myapp Namespace exists.] *******************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: argument of type 'NoneType'

[2020-04-15 01:58] 603627156 commented on #73
errror message

[2020-04-15 01:59] 603627156 commented on #73
[dev] [root@k8s-node1 ~]# cat /etc/ansible/hosts
[test]
192.168.10.131

[2020-04-15 01:59] 603627156 commented on #73
hosts

[2020-04-16 23:01] tima commented on #74
As the original author of the synchronize module I implore you not to do this for the love of humanity.  That module has long suffered from scope creep and is a Frankenstein monster. It makes me sad every time I look at it.

If anything, this should be a new module for express purpose of rsync'ing between a local system to a pod. I'd advise against it though. You need to be very cognizant that thi

[2020-04-17 19:27] bmillemathias-1a opened #75 "No release 0.10 declared on github"
##### SUMMARY
https://github.com/ansible-collections/kubernetes/releases does not list lastest release.

##### ISSUE TYPE
- Bug Report

[2020-04-17 21:56] geerlingguy commented on #75
Yikes! Thanks for catching that; I've added: https://github.com/ansible-collections/kubernetes/releases/tag/0.10.0

This will hopefully someday be impossible to have happen again once https://github.com/ansible-collections/kubernetes/issues/43 is solved, until then I'll try to be more diligent about pushing tags up to origin when I build and release the collection.

[2020-04-17 21:56] #75 closed

[2020-04-18 02:16] bmillemathias-1a commented on #75
thanks !

[2020-04-20 10:42] gundalow opened #76 "Rename repo to community.kubernetes"
##### SUMMARY
Hi,
To be more consistent with the other repos https://github.com/ansible-collections/ I'd like to rename this GitHub Repo to be `community.kubernetes`

* Old URLs for issues and PRs will still work
* Old git URLs will work, though it will be good to update them locally
* We will need to update the URLs in `galaxy.yml`

Are you happy with this?
##### ISSUE TYPE
- Bug Report

[2020-04-20 14:32] geerlingguy commented on #76
@gundalow - Specifically to the third point ("We will need to update the URLs in `galaxy.yml`") — until that is done and a new version is published, would that mean the link from the Galaxy collection page for the repo would be pointing at the wrong location? I presume that would still redirect too since GitHub manages the redirect.

I just want to make sure if I rename the repository nothing else

[2020-04-20 14:40] gundalow commented on #76
GitHub maintains redirects, so nothing should be broken
Notice that https://github.com/ansible-collections/mongodb redirects to `community.mongodb`

[2020-04-21 17:45] geerlingguy opened #77 "Use Github Actions 'checkout@v2' instead of v1 to prevent CI re-run errors"
##### SUMMARY

Testing the PR https://github.com/ansible-collections/kubernetes/pull/61, I've found errors like:

[code]

It seems like that was tracked in https://github.com/actions/checkout/issues/23, and that issue recommends upgrading to the checkout action v2 (we're currently using v1). I don't believe this will break anything in our CI workflow, but it should lead to better stability when re

[2020-04-21 17:47] geerlingguy commented on #77
PR created: https://github.com/ansible-collections/kubernetes/pull/78

[2020-04-21 18:12] geerlingguy commented on #77
With v2 pathing I'm getting:

[code]

[2020-04-21 18:19] geerlingguy commented on #77
checkout@v1 apparently drops you into the checkout directory (instead of the github actions working directory):

[code]

So for v2, I'll need to manually `cd` into the checkout dir, it seems?

[2020-04-21 18:20] geerlingguy commented on #77
Found https://github.com/actions/checkout/issues/167

It looks like you have to manually set the `working-directory: [path here]` for every `run` step now:

Annoying but acceptable...

[2020-04-21 19:09] #77 closed

[2020-04-21 21:14] #68 closed

[2020-04-22 15:47] Skull0ne opened #79 "Add a diff option to k8s module"
##### SUMMARY
Is it possible to add to the k8s module a "diff" option to run a `kubectl diff` instead of a `kubectl apply`

I'm using this code to run a diff before applying my configuration :
[code]

##### ISSUE TYPE

[code]

##### COMPONENT NAME
k8s_module

##### ADDITIONAL INFORMATION

My role :
[code]

Thanks

[2020-04-22 18:32] stmarier opened #80 "k8s module: --diff-mode support only half works with multi-resource manifests"
##### SUMMARY
We have a kustomize lookup plugin that renders a kustomize directory structure into a resource_definition for the k8s module.  We are observing that when the k8s module manages multiple resources, `--diff` does not display inline diffs.

The same process returns inline diffs when the resource_definition is only a single resource.

After spending a bunch of time with this I have a fix

[2020-04-22 18:35] stmarier commented on #80
The resolution I have committed locally is extremely brute-force and just extends all of these upstream conditionals to support the various ways `result` will appear.  I'm not very familiar with this part of the codebase, but I have to wonder if there isn't a more graceful way we can handle passing `result` back to the task handlers that would work with the existing assumptions they make.

[2020-04-22 18:36] tima commented on #79
If this were implemented it should be consistent with other modes and [ansible's native diff mode](https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html#showing-differences-with-diff).

[2020-04-29 22:24] geerlingguy commented on #76
I've renamed the repo itself, and just submitted a PR to update all the relevant links and settings in the collection metadata: https://github.com/ansible-collections/community.kubernetes/pull/81

[2020-04-29 22:36] #76 closed

[2020-05-02 07:53] ericsysmin opened #82 "kubectl package installer role via OS package managers"
##### SUMMARY
Allow a role community.kubernetes.kubectl to install the kubectl requirement for these modules.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.kubernetes.kubectl

##### ADDITIONAL INFORMATION

[code]

[2020-05-02 12:59] elafontaine opened #83 "K8s module doesn't use context namespace which oblige complexity in code"
https://github.com/ansible/ansible/issues/51242#issuecomment-546444097
https://github.com/ansible/ansible/issues/69193
##### SUMMARY
`kubectl` and `oc` are assuming a default namespace on resources for which you do not define a "metadata.namespace" attribute.  This is the default behaviour of `kubectl` as it use the one defined in the configuration of a context required to authenticate to the kube

[2020-05-04 16:06] geerlingguy commented on #43
From @gundalow:

[2020-05-04 16:35] geerlingguy commented on #28
Merged helm modules via https://github.com/ansible-collections/community.kubernetes/pull/61 — this issue can be closed 🥳

[2020-05-04 16:35] #28 closed

[2020-05-04 16:42] geerlingguy commented on #29
PR for this: https://github.com/ansible-collections/community.kubernetes/pull/85

[2020-05-04 17:03] #29 closed

[2020-05-04 23:25] willthames commented on #83
My view is that making namespace non-optional is a safeguarding feature, not a bug, although one could make the same argument for context too (we actually have a context checker at the start of our playbooks to ensure that expected context matches to current context)

[2020-05-04 23:26] willthames commented on #79
Could you just use `k8s` with `check_mode: yes` and check the resulting `diff` output from there?

[2020-05-05 10:44] Roia5 opened #88 "k8s module: apply and force parameters still permit OpenShift secret change"
##### SUMMARY
When attempting to use the `k8s` module to deploy OpenShift objects (secrets, deployments etc.) using operator-sdk, we configured a secret with `apply: no` (also tried `force: no`) to disallow changing the secret contents.
Despite these parameters, changing the input variables in the CustomResource still resulted in the secret contents changing to the new parameters.

##### ISSUE TYP

[2020-05-11 08:53] bmillemathias commented on #73
Hello,

I don't understand what is your problem. Dumping lot of content does not help.

Could you state clearly and shortly what you would like to achieve, how do you do that and what you get ?

[2020-05-11 08:57] bmillemathias opened #89 "become support in k8s"
##### SUMMARY
I'm only using Openshift and never used k8s
One of the nifty feature is to be able to impersonate users so I can do tasks as my personal user to work which have extended privileges (but not admin) and for some tasks I can use oc --as system:admin to perform some as cluster-admin role.

This is not exposed in the k8s module, which could be helpful, expose as a `become` keyword

#####

[2020-05-12 04:35] ShubhamGundawarIBM opened #90 "Invalid kube-config file. No Configurations found"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 I am using the K8s module of Ansible to run a role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
```Red Hat Enterprise Linux Server release 7.8 (Maipo)```

##### STEPS TO REPRODUCE

I am running a role in ansible which is using the k8s module, When I try to run the playbook I get this error

[

[2020-05-12 16:20] tima commented on #90
@ShubhamGundawarIBM You're not using the `k8s` module (as it works today) correctly.

[The 'definition' param takes a data structure like a dict or list, not a file name](https://docs.ansible.com/ansible/latest/modules/k8s_module.html#parameter-resource_definition). In order to read in a file you'd have to do something like this:

`definition: "{{ lookup('template','/home/DevOps/kubedeploy/deploym

[2020-05-12 16:42] ShubhamGundawarIBM commented on #90
Hey tima,

[code]
Even After running this role, The error remains the same.

[2020-05-12 18:29] geerlingguy opened #91 "Remove ANSIBLE_METADATA from modules"
##### SUMMARY

For an explanation, see:

  - https://github.com/ansible-collections/overview/issues/57
  - https://github.com/ansible/ansible/pull/69454

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

all modules

##### ADDITIONAL INFORMATION

See a list of current string occurrences here: https://github.com/ansible-collections/community.kubernetes/search?q=ANSIBLE_METADATA&unscoped_q=ANSI

[2020-05-12 18:55] geerlingguy opened #92 "Use `version_added` for any new modules"
##### SUMMARY

This was a suggestion from #ansible-docs on IRC: use `version_added` in modules that are new in the collection (and were never in Ansible <= 2.9).

This would include, so far:

  - `k8s_exec`: 0.10.0
  - `k8s_log`: 0.10.0
  - `helm`: 0.11.0
  - `helm_info`: 0.11.0
  - `helm_repository`: 0.11.0

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

all modules

##### ADDITIONAL INFO

[2020-05-12 20:01] tima commented on #90
@ShubhamGundawarIBM

From the error message you posted before:

What kube-config params are you feeding the task to access your cluster?

[2020-05-13 04:21] ShubhamGundawarIBM commented on #90
@tima
I have not passed any params in the Kube-config file, The file is currently empty.

[2020-05-13 05:20] ShubhamGundawarIBM commented on #90
@tima
I am using microk8s, And have a single node cluster, I am running my ansible script from MAC, and my target machine is RHEL. Kubernetes was installed by micok8s, I did not configure anything after installation, Kubectl works fine

[2020-05-13 07:14] telemaco opened #93 "Helm support for single or multiple values files"
##### SUMMARY

Could be interesting that the helm module will support single or multiple values files.
Helm command itself support it adding "-f values.yaml -f values2.yaml"
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

* helm

##### ADDITIONAL INFORMATION

[code]

[2020-05-13 11:38] bmillemathias commented on #89
actually impersonation is provided by k8s
https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation

[2020-05-13 15:55] tima commented on #90
My guess is that works for you because microk8s sets you up with a kube-config file to your local cluster and maybe some pathing so kubectl can find on your local environment. (Do you have something like a ~/.kube/config?) Without going too deep, Ansible won't be able to see your local setup. (It's a good idea not to rely on the local environments configuration and be more explicit.) So if you don

[2020-05-13 16:28] ShubhamGundawarIBM commented on #90
Yes I do have ~/.kube/config file with it is empty.

[2020-05-14 14:15] geerlingguy opened #96 "CI sanity test is returning new error about invalid deprecated version"
##### SUMMARY

In sanity tests, this morning's run started getting the following error:

[code]

In context: https://github.com/ansible-collections/community.kubernetes/runs/673416123?check_suite_focus=true#step:5:349

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s_service (I think)

##### ANSIBLE VERSION

N/A

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODU

[2020-05-14 14:17] #91 closed

[2020-05-14 14:37] #96 closed

[2020-05-14 17:23] #92 closed

[2020-05-14 21:28] orjan commented on #93
Since the module is taking values we can combine the files with Ansible without having to use the built in support in helm for multiple files. I'll guess something like this might work?

[code]

[2020-05-17 11:45] alexkunin commented on #90
I had similar issue with `k3s`, it installs own `kubectl` which is aware of special config file placement, but `k8s` module was not able to find it. Adding environment variable `KUBECONFIG` helped:

[code]

Relevant part starts from `environment:`, but you probably need to specify different variable value for `microk8s`.

[2020-05-17 20:19] sharafcmr opened #101 "K8s inventory plugin documentation has wrong connection parameter name in the example."
##### SUMMARY
The actual key/parameter name for adding kubernetes api token to the k8s inventory plugin under the connection properties of "k8s" plugin is "[api_token](https://github.com/ansible-collections/community.kubernetes/blob/9ccec43c6e8120a721d4c6b623075a94f8ed2f3f/plugins/inventory/k8s.py#L48)".
[code]

 However the [example mentioned in the k8s plugin ](https://github.com/ansible-collect

[2020-05-18 04:21] ShubhamGundawarIBM commented on #90
@alexkunin
Where can I find the path of microk8s kube config file

[2020-05-18 06:27] ShubhamGundawarIBM commented on #90
@alexkunin
So mentioning kubeconfig: inside my role did the trick.
Great Thanks

[2020-05-19 14:06] fabianvf commented on #71
Yeah, that looks like a Kubernetes bug. I believe that if the resource doesn't change then Kubernetes is not supposed to change the resourceVersion. I suppose we could say that the resource wasn't changed if only the resourceVersion field is different, but that's kind of a lie as it is accurate to report that the API reported a changed resource.

[2020-05-19 17:55] abadger commented on #31
We will be building the docs for a whole collection.  So if it is a new module in a collection that is already going to be a part of ansible-2.10, it will end up on docs.ansible.com.

@geerlingguy Is that good enough for your uses?  We can close this if so.

[2020-05-19 18:01] geerlingguy commented on #31
@abadger - I'd still like to keep this open until it happens. There are already some modules that currently have no docs page available anywhere, and for now, we may add a temporary `docs` folder in this repo that's generated from the modules in the repo.

[2020-05-20 16:14] geerlingguy commented on #31
See also: https://github.com/ansible-network/collection_prep/blob/master/README.md#doc-generator

[2020-05-21 17:51] geerlingguy opened #104 "CI and PR test builds are failing on wait conditions"
##### SUMMARY

I thought it would just be a one-time issue, but it seems like the past few runs—for PRs as well as scheduled CI jobs—have all been failing on this task:

[code]

This problem started appearing after merging https://github.com/ansible-collections/community.kubernetes/pull/35 — though I'm not 100% sure what the issue is here.

Failing build example: https://github.com/ansible-collect

[2020-05-22 02:56] willthames commented on #104
Hopefully #100 should fix the last of these but I will definitely investigate any others.

[2020-05-22 21:48] xeor commented on #70
I also got trapped by this.. Most of ansible uses relative path's based on whats in roles.
Including role_path like you did is a very nice solution tho. I'm almost tempted to use that permanent, instead of a "magic" relative lookup..

[2020-05-27 19:06] T1loc opened #106 "Implement helm install --replace"
##### SUMMARY

Implement helm install --replace

#### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

helm

##### ADDITIONAL INFORMATION

When a release is uninstalled with `helm uninstall --keep-history`, we are not able to perform a `helm upgrade -i`

[code]

To install by reusing the release name and then keep the history
[code]

Open Questions :
- Should we add a replace option (True/False) o

[2020-05-29 17:40] loomsen commented on #93
I have a similar use case, where I have a common values file, and I'd like to define the overrides in the helm task in the playbook itself, to make it more readable. For example, prometheus could be installed with alertmanager in stg and prd, but without in dev. It would be nice to have a common file, and have tasks in the playbooks like:

[code]

Would be nice to have a way to combine those, like

[2020-05-31 20:34] igrybkov opened #108 "Add Helm --create-namespace flag support"
##### SUMMARY

New Helm integration [suggests](https://github.com/ansible-collections/community.kubernetes/blob/0.11.0/plugins/modules/helm.py#L125) creating namespace manually because Helm 3 does not support creating a namespace for you which is not exactly true. [It has a flag](https://helm.sh/docs/faq/#automatically-creating-namespaces) `--create-namespace` that must be explicitly specified in

[2020-06-01 05:54] abhiTamrakar opened #109 "include an optional --atomic flag with helm install and upgrade"
##### SUMMARY

Helm installation includes ensuring the release is deployed successfully and in most cases can be rolled back automatically without ending up in FAILED state.
helm provides --atomic flag for that purpose and it include --wait as well.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py

[2020-06-01 13:57] kuwv opened #111 "Type conversion error in k8s lookup plugin on Python3"
##### SUMMARY

Doing a `cluster_info` with the k8s lookup plugin returns TypeError using Python3.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s lookup https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/lookup/k8s.py

##### ANSIBLE VERSION

[code]
Tested with Python versions: 2.7.16 and 3.7.7
Tested with Ansible versions: 2.8, and 2.7.
Tested with openshift

[2020-06-01 14:40] geerlingguy commented on #58
https://github.com/ansible-collections/community.kubernetes/pull/107 did the initial work, and I just opened #112 to finish it off for the helm modules.

[2020-06-01 14:40] geerlingguy commented on #108
+1 — this would save writing an extra task for most of the helm charts I've been using.

[2020-06-01 15:42] Akasurde commented on #101
resolved_by_pr #113

[2020-06-01 16:26] Akasurde commented on #111
@kuwv Thanks for reporting this issue. I think this issue is related to `default` callback plugin and not `k8s` lookup plugin. Since `default` callback plugin is not able to handle `set` object while JSON serialization.

I tried to reproduce this without `k8s` lookup plugin and was able to reproduce the same error - https://github.com/Akasurde/ansible-reproducers/tree/master/111

Btw, if you don't

[2020-06-01 16:27] Akasurde commented on #111
Could you please move this issue to `ansible/ansible` repo?

[2020-06-01 19:34] kuwv commented on #111
@Akasurde, I understand. Unfortunately, I do not have the capability to transfer :/

[2020-06-01 20:45] geerlingguy commented on #111
@kuwv - I think what @Akasurde means is could you open this issue in the main ansible/ansible repository (https://github.com/ansible/ansible/issues) and then link this issue to that one and close this issue? Since it's related to the `default` callback plugin and not code in this repository.

[2020-06-02 05:48] #58 closed

[2020-06-02 05:49] #101 closed

[2020-06-02 10:51] Akasurde commented on #109
@abhiTamrakar Could you please check if #115 works for you? Thanks.

[2020-06-02 14:55] kuwv commented on #111
Opened https://github.com/ansible/ansible/issues/69836

Will close this one once the above is recognized.

[2020-06-02 16:34] jpopelka opened #116 "ansible-playbook hangs with k8s module"
##### SUMMARY

Any playbook with k8s module makes ansible-playbook hang because it's waiting for some process.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]
I can see the problem with older 2.9.x versions too.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 32 / 5.6.15-300.fc32.x86_64

I started seeing this after upgrade from F31 to F32. I di

[2020-06-02 18:16] geerlingguy commented on #40
See: https://github.com/ansible-collections/overview/issues/18#issuecomment-637718686

* Install via pip: https://pypi.org/project/antsibull-changelog/
* Docs: https://github.com/ansible-community/antsibull-changelog/blob/master/docs/changelogs.rst
* Syntax example: https://github.com/ansible-community/antsibull-changelog/blob/master/docs/changelog.yaml-format.md

[2020-06-02 18:22] felixfontein commented on #40
The syntax example is for the generated changelog.yaml; it's mostly aimed at people who want to use another changelog generator and want to adjust it / add a plugin which outputs changelog.yaml so ACD can consume it.

[2020-06-03 06:17] Akasurde commented on #116
@jpopelka Thanks for reporting this issue. Could you please debug further using following steps - https://docs.ansible.com/ansible/latest/dev_guide/debugging.html#debugging-remote? This will give us more ideas about failure.

Let me know if you need any help.

[2020-06-03 06:36] Akasurde commented on #111
Ansible Core team decided that the lookup plugin should be handling the data and parse it according to a way in which the callback plugin accepts it.

[2020-06-03 08:11] Akasurde commented on #111
@kuwv Could you please check if PR #118 works you and let me know? Thanks.

[2020-06-03 08:11] Akasurde commented on #111
resolved_by_pr #118

[2020-06-03 11:04] jpopelka commented on #116
This resolved itself after I reinstalled all dependant python modules. Closing.

[2020-06-03 11:04] #116 closed

[2020-06-04 15:43] geerlingguy opened #120 "Add a Contribution Guide"
##### SUMMARY

Add a Contribution Guide to the repo.

At a minimum, we should link to the [Ansible Community Guide](https://docs.ansible.com/ansible/latest/community/index.html). But ideally we'd have a [CONTRIBUTING.md](https://github.com/github/opensource.guide/blob/master/CONTRIBUTING.md) file with more details.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

docs

##### ADDITIONAL INFO

[2020-06-04 15:45] geerlingguy commented on #120
cc @gundalow @jillr - I was wondering do we have a template for community collections? Or should we just kind of modify one like the one that is linked above for our needs?

[2020-06-04 19:34] joeibm2020 opened #121 "Openshift Pod and module error"
##### SUMMARY

In openshift architecture we have ansible deployment running inside of a pod, while running a playbook to connect to openshift using k8s_info or any k8s module is failing

##### ISSUE TYPE
- Bug Report
this is the output error from ansible after to run the playbook,while using module

[code]
##### COMPONENT NAME

we are using k8s_info module
k8s_auth or k8s

##### ANSIBLE VERSION

[

[2020-06-04 21:08] kuwv commented on #111
@Akasurde sure, I'll check it out tonight.

[2020-06-04 21:19] kuwv commented on #111
Verified 3.7

[code]

check 2.7 for regression...

[2020-06-04 21:36] kuwv commented on #111
@Akasurde 2.7 looks good too.

Thank you!

[2020-06-05 06:30] Akasurde commented on #111
@kuwv Thanks for checking. Once merged I will create appropriate backport as well.

[2020-06-05 06:48] #111 closed

[2020-06-05 10:17] Yantrio opened #122 "k8s_exec should error if the process exit code isn't 0"
##### SUMMARY

At the moment if you run k8s_exec and the command returns a non 0 status code the task still returns a successful change. I think it should return an error.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

k8s_exec

##### ADDITIONAL INFORMATION

This could solve issues for playbooks where commands could possibly fail, and carry on unknowningly.

[code]

My python isn't too am

[2020-06-05 17:29] jillr commented on #120
To the best of my knowledge we don't, I have an extremely [WIP](https://github.com/jillr/amazon.aws/blob/contrib_guide/CONTRIBUTING.md) draft  for the AWS collections.  I'm pulling a lot from the Community guide but supplementing it with data that's relevant specifically to the AWS community.  Feedback super welcome.

[2020-06-05 20:34] gundalow commented on #120
My hope was https://github.com/ansible-collections/collection_template would become this.

[2020-06-05 20:36] gundalow commented on #120
Yup, we haven't done that before (not something that I thought of), again would be good to add to the template repo.

[2020-06-08 13:06] elafontaine commented on #83
So, how do we start the discussion?

I would like to suggest that we ensure the namespace isn't "default" unless it's explicitly said to be default?

I would like to ensure we find a good solution :).
My proposition;
- Safe guarding for *default* namespace (unless explicitly defined).
- Use the context namespace when it's not explicitly defined and that it's not default

@willthames could you elab

[2020-06-08 13:18] willthames commented on #83
@elafontaine I'd probably support an `enforce_namespace` which defaults to true - you could then use `enforce_namespace: false` - at that point how it works is not something I'm too fussy about (the check for default namespace seems unnecessary). Using [module_defaults](https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html) would mean you'd only need to set that once.

[2020-06-08 13:48] elafontaine commented on #83
👍 love the idea of having it configurable with a field.

I'm not sure I understand the 2nd paragraph... mind confirming my understanding?
On your personal playbook, you have pre-task to verify the context is matching?  If that's true, is it something you could share as well for people finding this discussion could do the same?

I think it's good, so if we were to update the library, to do as you'v

[2020-06-09 06:49] willthames commented on #83
[code]

We can't necessarily assume that there is a context (because these tasks get run from inside and outside the cluster) so this has been the easiest way to enforce that we're running against the expected cluster

[2020-06-09 06:52] willthames commented on #83
If you want to add an `enforce_namespace` flag, the main tasks would be to write the code (including documenting the new option), and add some tests under molecule/default to ensure that it works as expected.

Please note that there isn't always a context (e.g. when running in-cluster) so be sure to test for that behaviour too

[2020-06-10 18:35] abadger opened #124 "Changelogs and breaking changes"
##### SUMMARY
Hi, I remember we talked and there was a thought that community.kubernetes was going to include backwards incompatible changes that hadn't gone through a deprecation cycle in ansible-2.9.x.

Is that the case still?  If so, I just wanted to make sure those changes get shown in a changelog entry (and porting guide if you have one).

I don't know if you're planning to use the antsibull-

[2020-06-10 18:55] geerlingguy opened #125 "Add 'requires_ansible' requirements to collection"
##### SUMMARY

It has been suggested we add `requires_ansible: '>=2.9.10,<2.11'` to `runtime.yml`.

Doing this more strongly indicates versions of Ansible core with which this collection should work. Honestly I would rather say `>=2.9` just to indicate that it works fine back to 2.9.0 (maybe with 2.8.0 but we don't test with that version so I'd rather not open a can of worms there).

##### ISSUE T

[2020-06-10 22:37] iameli opened #128 "helm action doesn't push changes to local charts"
##### SUMMARY
If you make changes to a chart that's defined in a local directory, Helm won't deploy those changes. It will only attempt to kick off a deploy if the `values` change, not the chart definition itself.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.kubernetes.helm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.15.3

##### S

[2020-06-10 22:44] iameli commented on #128
Not totally sure how to work around this one other than using [helm-diff](https://github.com/databus23/helm-diff) to only kick off a deploy if there are changes.

[2020-06-14 16:00] geerlingguy commented on #40
See: https://github.com/ansible-collections/overview/issues/18#issuecomment-643785507

[2020-06-15 13:05] Akasurde commented on #121
@joeibm2020 I see you have a typo in `k8s_info`

[code]

Should be

[code]

Can you check once?

[2020-06-15 13:12] Akasurde commented on #121
Also, can you check if [`openshift`](https://github.com/openshift/openshift-restclient-python) Python library installed on remote host `host1`?

[2020-06-16 05:33] #90 closed

[2020-06-16 20:06] #125 closed

[2020-06-16 20:08] geerlingguy opened #129 "Add 2.11 sanity ignore list so tests don't start failing tomorrow"
##### SUMMARY

It's not a bug _yet_, but according to [this post](https://github.com/ansible-collections/overview/issues/45#issuecomment-644936188) it will become a bug that fails our automated tests (since we test against ansible devel) tomorrow morning, as 2.11-dev will be branched off sometime today.

We need to duplicate the 2.10 list here for 2.11: https://github.com/ansible-collections/commu

[2020-06-16 20:45] #129 closed

[2020-06-16 21:55] geerlingguy commented on #40
It looks like I can create fragments and backdate releases with:

[code]

[2020-06-16 22:26] geerlingguy commented on #40
Work on this is in #40 — I have a few questions posted about how the changelog generator works, as I had a couple quirks when I was trying to build the changelogs:

  - https://github.com/ansible-community/antsibull-changelog/issues/17
  - https://github.com/ansible-community/antsibull-changelog/issues/18
  - https://github.com/ansible-community/antsibull-changelog/issues/19
  - https://github.com

[2020-06-16 22:27] geerlingguy commented on #124
Closing this and moving changelog-specific discussion over to #40 — for now there are no breaking changes planned, and I'm thinking we'll do a 0.11.1 (or maybe call it a 1.0.0 at some point?) with some of the minor bugfixes/performance improvements we've added since early May.

[2020-06-16 22:28] #124 closed

[2020-06-16 22:32] geerlingguy opened #132 "ansible-test sanity throws error on helm 'import outside toplevel'"
##### SUMMARY

When running `ansible-test sanity` locally in my Python 3.7 environment, I get the following error:

[code]

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

helm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

macOS

##### STEPS TO REPRODUCE

Run the following in this repository:

[code]

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESUL

[2020-06-16 22:33] geerlingguy commented on #132
Looks like the issue is in:

[code]

[2020-06-17 09:16] willthames commented on #80
I just recommend not doing that

Having a simple task loop over resource manifests means that you get a named task per resource with a proper diff (that works with `ansible-playbook -Dvvv`)

I've implemented this pattern (which we use in production) in the kube-resource role:
https://github.com/willthames/ansible-role-kube-resource/blob/master/tasks/main.yml#L66-L68

[2020-06-17 09:28] willthames commented on #71
I've just tried this with latest collection and latest openshift and there is no change using @geerlingguy's dashboard.yml above with:

[code]

I have made a bunch of changes in the last couple of months to reduce diffs and perhaps this one was fixed too.

[2020-06-17 10:23] willthames commented on #79
`ansible-playbook -CDvvv` works as expected now (it's a lot better in the last couple of months, particularly in check mode, but it worked reasonably well before)

[2020-06-17 10:23] #79 closed

[2020-06-17 10:58] stanislaw55 opened #134 "Helm plugin module"
##### SUMMARY
Helm tool provides rich set of plugins that can be used with it. There could be new Ansible module which would allow installing, updating and removing them.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`community.kubernetes.helm_plugin` - that could be the name for new module

##### ADDITIONAL INFORMATION

[code]

[2020-06-18 14:25] telemaco commented on #93
Sorry for the close and reopen. I just want to comment that I've similar situation than @loomsen.

[2020-06-18 19:12] ggee commented on #93
Same situation.  Above works but not clean.

[2020-06-18 20:15] #109 closed

[2020-06-18 20:17] geerlingguy commented on #132
This was fixed in #115.

[2020-06-18 20:17] #132 closed

[2020-06-18 21:26] geerlingguy opened #135 "CI failing with "cannot import name 'AnsibleCollectionLoader'""
##### SUMMARY

CI testing has started failing today with the error message down below.

See failed build: https://github.com/ansible-collections/community.kubernetes/runs/785830751?check_suite_focus=true#step:8:21

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

CI / Molecule

##### ANSIBLE VERSION

TODO.

##### CONFIGURATION

TODO.

##### OS / ENVIRONMENT

GitHub Actions

##### STEPS TO REP

[2020-06-18 21:41] geerlingguy commented on #135
Testing locally with Ansible 2.9.9 there's no issue.

[2020-06-18 21:42] geerlingguy commented on #135
I also tested with 2.11.0.dev0 and didn't have an issue:

[code]

[2020-06-18 21:49] geerlingguy commented on #135
Tried with 2.9.10 and the current 2.10.0 devel too, no problems locally. ???

[2020-06-19 03:54] jobcespedes opened #137 "K8s: Jobs, Pods left behind when deleting CronJobs. Likewise, Pods left behind when deleting Jobs."
##### SUMMARY

Pods are left behind when deleting the respective Job using k8s. Likewise, Jobs are left behind when deleting CronJob.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora release 31 (Thirty One)
crc version: 1.9.0+a68b5e0
OpenShift version: 4.3.10 (embedded in binary)
Kubernetes

[2020-06-19 04:44] geerlingguy commented on #137
I've seen this behavior before in plain K8s in the past, without Ansible; see for example https://github.com/kubernetes/kubernetes/issues/20902 and https://github.com/kubernetes/kubernetes/issues/74741 — can you dig into the pod yams and see if it's missing references to the jobs/cronjobs?

[2020-06-19 10:20] Akasurde opened #138 "k8s support Deployment(Config) rollouts and rollbacks"
_From @djzager on Feb 11, 2019 20:58_

##### SUMMARY

https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

In the same way that the [`k8s_scale` module](https://docs.ansible.com/ansible/latest/modules/k8s_scale_module.html#k8s-scale-module) allows you to scale up|down Kubernetes objects that support the scale subresource, it would be great to have a supported method for rolling o

[2020-06-19 10:20] Akasurde commented on #138
_From @djzager on Feb 13, 2019 15:55_

As far as the ConfigMap use case is concerned, I believe you could simply use the `append_hash` feature coming to the [`k8s` module in 2.8`](https://docs.ansible.com/ansible/devel/modules/k8s_module.html) to version your ConfigMap. In that case, an update to the ConfigMap would give it a new name and require a change also to the Deployment(Config) with a subs

[2020-06-19 10:20] Akasurde commented on #138
_From @sivel on Feb 19, 2019 20:19_

!component =lib/ansible/modules/clustering/k8s/k8s.py

[2020-06-19 10:20] Akasurde commented on #138
_From @willthames on Feb 19, 2019 23:42_

Further to what @djzager said, there's a [blog post](https://willthames.github.io/2019/01/28/immutable-kubernetes-configuration-with-ansible.html) and a [conference talk](https://www.ansible.com/managing-kubernetes-is-easy-with-ansible) on using immutable configmaps with ansible

[2020-06-19 10:20] Akasurde commented on #138
_From @fabianvf on Oct 25, 2019 17:38_

It seems like rollouts are best handled with the immutable configmaps/secrets, but rollback would still be nice to have.

[2020-06-19 20:43] jobcespedes commented on #137
I don't think reference are missing from Job, Pod when creating CronJob; however, owner references from Job are, after CronJob is removed using k8s module, leaving it orphan.
[code]

[2020-06-22 17:41] geerlingguy commented on #135
And... now I can't get the problem to reproduce on GitHub Actions, so I guess it was some weird transient issue.

Closing this.

[2020-06-22 17:41] #135 closed

[2020-06-22 18:00] #40 closed

[2020-06-22 20:43] tima commented on #128
@LucasBoisserie and @Akasurde: Any thoughts on implementing this logic in the helm module?

[2020-06-23 23:53] jamesmarshall24 commented on #135
@geerlingguy I ran into the same today randomly and had to uninstall Ansible and delete the ansible directory under site-packages. After reinstalling Ansible, I could no longer replicate the error.

[2020-06-25 10:48] joao-fidalgo opened #140 "Helm module should use K8S_AUTH_KUBECONFIG when kubeconfig_path isn't specified"
##### SUMMARY
Helm module should use K8S_AUTH_KUBECONFIG when kubeconfig_path isn't specified

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
helm

##### ADDITIONAL INFORMATION
This change would normalize behaviour between modules.

[code]

[2020-06-25 11:06] Akasurde commented on #140
Make sense to me. Working on it.

[2020-06-25 11:29] Akasurde commented on #140
@joao-fidalgo Could you please check if PR #141 works for you? Thanks

[2020-06-25 12:38] ElioLopez-md opened #142 "k8s_log istio support"
##### SUMMARY
Hello,
Seems like currently the k8s_logs module is not supporting Istio enabled clusters.

When using Istio and you create a pod, a sidecar pod is automatically created.
For example, this won't work:
[code]
instead of that, you should specify the container:

[code]
and this is somehow the error we are getting when using the module:

[code]

##### ISSUE TYPE
- k8s_log Istio mode enabl

[2020-06-25 12:55] joao-fidalgo commented on #140
@Akasurde LGTM

[2020-06-25 13:48] jatinderjawanda opened #143 "Helm: Integer values should not be casted as string"
##### SUMMARY
While deploying `https://hub.helm.sh/charts/elastic/elasticsearch`, encountered a issue. Helm module cast integer values to string in temporary generated values.yml file under /tmp/ directory.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
HELM

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Its happening when actual variable is under indentation.
for eg:
[code]
howev

[2020-06-25 16:25] javierdompablo opened #144 "pyhelm library errors with grpc_status:14"
##### SUMMARY
Errors in the `pyhelm` library with status code 14 when deployment a public chart.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
helm module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
MacOSX
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Deploy the chart in local

##### ACTUAL RESULTS
[code]

[2020-06-25 16:31] geerlingguy commented on #144
@javierdompablo - It looks like you're hitting errors with the helm module that ships with Ansible core in 2.9 and earlier. That module was deprecated and is no longer maintained. The version of the `helm` module in this collection is made to work with Helm 3 and later, and is actively maintained.

I would recommend moving off of the older helm module and using this one instead.

(Please correct m

[2020-06-25 16:31] #144 closed

[2020-06-25 16:34] geerlingguy commented on #143
If you replace `runAsUser: "{{ securityContext.runAsUser }}"` with `runAsUser: 1000` does it work? It could be a problem where when you use a jinja var, you have to cast it to an int explicitly, e.g.:

[code]

[2020-06-25 21:05] jatinderjawanda commented on #143
Yes, I tried this too but no luck here. if you see there are other integer values like 9200 and 9300 in generated file  and they are coming as integer. So I try defining values directly without indentation and then the generated file has the right values of integer type.

[2020-06-25 21:11] jatinderjawanda commented on #143
To move ahead, I removed the indentation for those variables. So, here is my current vars section.
[code]

[2020-06-26 08:15] Akasurde commented on #143
@jatinderjawanda This is due to how Ansible parses variables. I am quoting @sivel's comment

[code]

But you can use Jinja Native datatype to solve this problem -

So, Add this value in `defaults` section of ansible.cfg

[code]

And in playbook -

[code]

So this will get as `release_values` in yml file as

[code]

Please try this and let me know. Thanks.

[2020-06-26 10:21] jatinderjawanda commented on #143
Its working !!

[2020-06-26 11:06] Akasurde commented on #143
Nice thanks. I will close this issue then.

[2020-06-26 11:06] #143 closed

[2020-06-26 19:14] fabianvf commented on #142
@ElioLopez-md Can I see the failing task? The `k8s_log` should support multi-container pods without issue as long as you supply the `container` parameter https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/k8s_log.py#L65

[2020-06-29 06:12] ElioLopez-md commented on #142
Hello Fabian,
You're right, it worked properly when specifying the container:

tasks:
  - name: Get a list of all pods from developer portal namespace
    k8s_log:
      kind: Pod
      namespace: developer-portal
      name: developer-portal-backend-v1-5b7cdb9885-22jts
      container: developer-portal-backend
    register: container_logs

My bad, thank you!
Elio

[2020-06-29 13:55] geerlingguy commented on #142
@ElioLopez-md - Thanks for following up and posting the result, and glad we could get this solved for you! Closing this issue as fixed.

[2020-06-29 13:55] #142 closed

[2020-06-29 15:58] geerlingguy opened #145 "Fix module references in documentation to use FQCN"
##### SUMMARY

See: https://github.com/ansible-collections/overview/issues/45#issuecomment-648405709

More generally, I think I'll also take a pass at making sure all the README and docs refer to the FQCN version of the module to prevent any confusion, while still adding a note that for transitional playbooks you can use the `collections` keyword, but to prevent potential issues further down the r

[2020-07-01 11:08] ponkio-o opened #147 "I want to use the value of with_items in a jinja2 template via the k8s module"
I am trying to define a resource on Kubernetes using the [k8s](https://docs.ansible.com/ansible/latest/modules/k8s_module.html) module.

##### SUMMARY

Use a file similar to the one below to match the username listed in with_items We're going to define Deployment, Service, and Ingress as
Service and Deployment can be created successfully, but not for Ingress.
(`mission_type` and `services` is used

[2020-07-01 17:21] #145 closed

[2020-07-01 18:42] geerlingguy opened #148 "Update base branch to 'main'"
##### SUMMARY

In https://github.com/ansible-collections/overview/issues/83, it was decided that all Ansible-maintained collections would default to a 'main' branch instead of the current default, 'master'.

This issue is to track progress on that work for the `community.kubernetes` collection, against https://github.com/ansible-collections/overview/issues/87.

It _seems_ like this should be a fai

[2020-07-01 20:19] geerlingguy commented on #148
It looks like the rest of the collections will be doing this on Monday, July 6th: https://github.com/ansible-collections/community.general/issues/605

[2020-07-01 20:28] felixfontein commented on #148
@geerlingguy it's only community.general doing it then. (community.network will be on July 3rd, community.crypto on July 2nd, and I don't know when the others will change.)

Deleting master should be pretty safe; the only thing to keep in mind that there might exist links from README.md on galaxy to the master branch (like for changelog etc.) that will 404 once master has been deleted.

[2020-07-02 13:18] #140 closed

[2020-07-02 13:23] Akasurde commented on #82
@ericsysmin Thanks for this feature request. Would you be interested in adding roles like `kubectl_installer` under `roles` directory? Let me know.

Thanks,

[2020-07-02 14:14] fabianvf commented on #147
This isn't really related to the k8s module, all the jinja processing happens before anything is handed off to the module. That being said, it looks like in the `ingress.yml.j2` you are iterating over `user`, which is not a list, but a single user dict with `name`, `services`, and `state` keys. If that's the case I would not expect the iteration to succeed. If you wanted to iterate over the servic

[2020-07-02 14:14] #147 closed

[2020-07-02 17:44] Akasurde commented on #73
@603627156 There is typo in your kubeconfig. Username should be 'cluster-admin' instead of 'cluser-admin' in contexts.

[code]

`kubernetes` Python library is not providing actual error. The following PR will change this behavior - https://github.com/kubernetes-client/python-base/pull/201

[2020-07-03 03:13] Akasurde commented on #72
Closing this as no response from the original reporter. Thanks.

[2020-07-03 03:13] #72 closed

[2020-07-03 12:40] ElioLopez-md opened #151 "K8s_info module: error when using variable as app label selector"
##### SUMMARY
The k8s_info module fails when using a variable as label selector.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
macOS Catalina, but also failed on Debian buster Docker Image

##### STEPS TO REPRODUCE

Im using the following directory structure:
[code]
with the following file contents:
[code]

[2020-07-07 06:44] Akasurde commented on #134
resolved_by_pr #154

[2020-07-07 06:44] Akasurde commented on #134
@stanislaw55, Could you please check PR #154 and let us know if it works for you ? <br><br>Thanks. <br><br> needs_info

[2020-07-07 08:54] NicoWde commented on #135
@jamesmarshall24 @geerlingguy I recently ran into it..

think the problem is somehow somewhere between the package-names 'ansible' and 'ansible-base' (in my case: installed via pip)

[2020-07-07 13:16] Akasurde commented on #151
@ElioLopez-md Can you try

[code]

needs_info

[2020-07-08 14:09] ElioLopez-md commented on #151
Thanks @Akasurde, that made the trick.
Regards,

[2020-07-09 11:34] Akasurde commented on #151
@ElioLopez-md I updated EXAMPLE section to reflect this example.

[2020-07-09 16:27] LucasBoisserie commented on #128
@iameli, you can use the parameter force to always trigger the upgrade or bump the version inside the Chart.yaml but this is not optimal

@tima
Helm-diff is a good suggestion. I didn't included it to limit external dependencies

But with helm-diff we could:
* implement ansible diff on chart like k8s module
* have a better management of idempotence

Currently idempotence is based of module input va

[2020-07-10 04:23] Akasurde commented on #108
resolved_by_pr #157

[2020-07-10 04:24] Akasurde commented on #108
@igrybkov Could you please check if PR #157 solves your requirement and let us know? Thanks.

[2020-07-10 04:37] igrybkov commented on #108
@Akasurde, yes, it does exactly what I was asking

[2020-07-10 04:40] Akasurde commented on #108
@igrybkov Thanks for providing the feedback.

[2020-07-10 09:06] Akasurde commented on #122
@Yantrio I added `rc` in k8s_exec which returns the status code of the command, but this is changing the behavior of the module. Since we are `rc` affects ansible task status. Let me know if you want a toggle switch to enable this feature or not.

Thanks,

[2020-07-11 03:15] #108 closed

[2020-07-11 03:20] #65 closed

[2020-07-13 11:05] #151 closed

[2020-07-13 14:16] geerlingguy commented on #148
To anyone following this issue: I'm going to plan on making the switch on July 17, sometime in the morning, US Eastern.

[2020-07-14 16:45] ericsysmin commented on #82
Sure, I can do that. Sorry for the delayed response, I was away on vacation.

[2020-07-15 15:20] chtiouiha opened #161 "helm: support HTTP repository authentication"
##### SUMMARY

I cannot use the helm module to deploy charts from a private repo. The helm CLI has command line flags for username and password.
I tested with inline http authentication in the chart_repo_url but it doesn't work, helm cli doesn't allow this.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2020-07-16 10:58] Mierpo opened #162 "Creating new ingress resources"
##### SUMMARY
Allow users to create new Ingress resources in Kubernetes

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
kind: Ingress

##### ADDITIONAL INFORMATION
This feature would add the ability to create new Ingress resources to Kubernetes clusters.

I couldn't find information on how to achieve this using Ansible modules, besides calling the k8s API directly with a "shell" module. Set

[2020-07-16 11:12] Mierpo commented on #162
This can actually be done with this:

[code]

[2020-07-16 11:12] #162 closed

[2020-07-16 22:11] christianh814 opened #163 "Support for kustomize in the k8s module."
##### SUMMARY

I would like to use kustomize with the `k8s` module. This will allow someone to be able to supply a directory or URI with a `kustomize.yaml` file in it.

This should emulate what `kubectl -k /path/to/dir` does (as close as possible).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Ideally, I would like to have this as part of the `k8s` module. But wouldn't mind having a sepa

[2020-07-16 22:16] christianh814 commented on #163
Or maybe just add `kustomize` as an option?

Something like...

[code]

and...

[code]

I'll let others chime in.

[2020-07-16 22:29] geerlingguy commented on #163
cc @fabianvf — I believe you were actually exploring a `kustomize` module as part of your work with the Operator Framework. It would be interesting to see what kind of ideas you have for it too.

[2020-07-17 13:53] geerlingguy commented on #148
Working on it now.

[2020-07-17 14:03] geerlingguy commented on #148
I just switched the branch for all the PRs from `master` to `main`, and also documented the process for switching my fork:

First, in my local checkout, I made sure I had `main` available, then pushed that branch to my fork on GitHub:

[code]

Then I went to my fork on GitHub and switched the default branch:

![switch-branch-master-main](https://user-images.githubusercontent.com/481677/87794419-34

[2020-07-17 14:06] felixfontein commented on #148
@geerlingguy don't forget to change the default branch in codecov (you need to log in, go to settings, and there you can change it).

[2020-07-17 14:07] geerlingguy commented on #148
@felixfontein - Thanks for the reminder. I would've completely forgotten; it's done now.

[2020-07-17 14:30] geerlingguy commented on #148
Looks like CI is successful on the new branch, and all the other relevant links have been updated.

There may be some broken links here and there as many files are linked to directly for docs (since Galaxy currently doesn't display module documentation), but all that I've found I've fixed so far.

That might be one of the more annoying aspects of the move—I'm realizing that for many repos, I have

[2020-07-17 14:30] #148 closed

[2020-07-17 16:03] alexgeek opened #164 "Support for helm secrets?"
Sorry for not using the templates provided but nothing seemed relevant.
I was just wondering if helm secrets is supported?

[2020-07-19 18:06] tylerauerbeck commented on #163
@christianh814 The question I have here is what version of `kustomize` would you support here? Do you stick with 2.X to keep in line with what is bundled with `kubectl`, a more recent release? Or do you allow this to be configurable (which seems like it could get fairly complex)

[2020-07-19 18:13] christianh814 commented on #163
@tylerauerbeck

I think that it should be consistent with what's packaged with `kubectl`. Since my idea here is to emulate `kubectl`

[2020-07-20 16:59] geerlingguy commented on #135
Grr, I just ran into this again locally, after I was installing Ansible 2.9.10, then 2.10 pre, then ansible-base, then Ansible 2.9.10 again.

The fix was as @jamesmarshall24 and @NicoWde stated:

  1. `pip3 uninstall ansible`
  2. `rm -rf /usr/local/lib/python3.7/site-packages/ansible` (things that weren't automatically removed)
  2. `pip3 install ansible`

[2020-07-20 20:23] felixfontein opened #165 "Missing modules/plugins"
##### SUMMARY
Ansible-base is redirecting several 2.9 modules and lookup plugins to this collection, which do not exist here:

* ansible-base modules k8s_facts redirects to community.kubernetes.k8s_facts (to be removed in Ansible 2.13, alias of k8s_info)
* ansible-base modules k8s_raw redirects to community.kubernetes.k8s_raw (was deprecated, but had no explicit removal version)
* ansible-base mod

[2020-07-20 20:46] geerlingguy commented on #165
`k8s_raw`, `openshift_raw`, and `openshift_scale` are confirmed to be on the chopping block for 2.10—see https://github.com/ansible/ansible/pull/40745/files#diff-17f6095114b424618de51bb5bf0bcdafR45-R47

[2020-07-20 20:48] felixfontein commented on #165
@geerlingguy ah great. I would mention the alternative in the removal text, so that users don't have to start searching when they get an error.

[2020-07-20 21:04] geerlingguy opened #167 "CI runs started failing on ansible devel install due to new installation warning"
##### SUMMARY

CI test runs are now failing on the molecule job with the following:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

CI - GitHub Actions

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Look at CI builds: https://github.com/ansible-collections/community.kubernetes/runs/891624024?check_suite_focus=true

###

[2020-07-20 21:21] geerlingguy commented on #167
Hmm... it seems that molecule is requiring a 'stable' version of Ansible, and not detecting that ansible base 2.11.0 meets that requirement?

[code]

See: https://github.com/ansible-collections/community.kubernetes/pull/168/checks?check_run_id=891671654#step:6:39

This is causing a new error since `ansible-base` was installed but Pip installed `ansible-2.9.10` on top of it when installing molecule

[2020-07-20 21:43] geerlingguy commented on #167
Well, after manually uninstalling and reinstall ansible, I get the following from Molecule:

[code]

[2020-07-20 21:51] geerlingguy commented on #167
Opened an upstream issue: https://github.com/ansible-community/molecule/issues/2757

[2020-07-21 17:30] wkulhanek opened #169 "Multi-patch and Remove don't seem to be available in k8s module."
##### SUMMARY
There does not seem to be a way in k8s to do either multi-patch of a resource or deletion of something in a resource. E.g.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
All

As requested by @fabianvf

[2020-07-21 17:46] fabianvf commented on #163
For our molecule testing in operator-sdk we were hitting some annoying issues where our testing overlays had to be pretty huge and modified on disk during tests (with changes we definitely had no intention of keeping). Because of that, I was playing with the idea of a `kustomize` module that would allow you to inline `kustomization` that Ansible would lay down as an overlay. It would return the re

[2020-07-21 17:51] fabianvf commented on #169
The underlying client supports this pretty easily, but I don't think we have a way to pass the patches through currently. I could see adding a `patch` field that is mutually exclusive with `src` and `definition` that allows a user to specify that the resource should be patched. I think currently we already support implicitly sending a patch with either the `strategicMerge` or `merge` strategy, so

[2020-07-22 19:28] geerlingguy commented on #31
My laziness could pay off... the testing docs site has a [preview](http://docs.testing.ansible.com/ansible/2.10/collections/community/kubernetes/index.html#plugins-in-community-kubernetes) of what docs could look like in Ansible 2.10.

Still would be nice to have up-to-date rendered docs on Galaxy though.

[2020-07-23 05:22] #122 closed

[2020-07-23 05:28] Akasurde commented on #164
@alexgeek Are you referring this helm plugin [secrets](https://github.com/zendesk/helm-secrets)?

[2020-07-23 08:03] alexgeek commented on #164
Yes indeed.

[2020-07-23 09:17] cmoulliard opened #170 "How to debug locally a module = python file ?"
### Problem

I try to debug using my IDE one of the AnsibleModule = python file (e.g. k8s_log.py) without success as I got a `ModuleNot found exception`

Example:
[code]

What is then the workaround ?

[2020-07-23 15:08] geerlingguy opened #171 "Prepare for a 1.0.0 release"
##### SUMMARY

See: https://github.com/ansible-collections/overview/pull/90

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

Releases

##### ADDITIONAL INFORMATION

TODO.

[2020-07-23 16:01] geerlingguy commented on #171
We currently meet all the criteria defined in https://github.com/ansible-collections/overview/blob/74012f03e9d73e339b01560df3601d79db33d7df/collection_requirements.rst, and after chatting with @fabianvf on IRC, the main concern is ongoing support for `kubectl` or `oc` connection plugins:

But if we have 1.x series correspond to Ansible 2.10.x releases (and target a 2.x series for Ansible 2.11, and

[2020-07-23 17:03] #167 closed

[2020-07-23 17:04] geerlingguy commented on #167
Fix for now is to stick with stable Ansible 2.9.x, unfortunately... we'll switch back to base once the molecule issue linked above is fixed.

[2020-07-23 18:00] #165 closed

[2020-07-23 18:02] geerlingguy commented on #170
@cmoulliard have you tried asking about this in one of the #ansible IRC channels or in the Ansible Project mailing list? I haven't particularly tried debugging with an IDE with a collection, but this seems like something that would affect any collection and not just the kubernetes one.

Note that this collection depends on a working installation of Ansible to be able to run any of the modules, as

[2020-07-23 18:03] geerlingguy commented on #104
I believe this has been adequately fixed by #100, and I haven't seen any related failures in CI since.

[2020-07-23 18:03] #104 closed

[2020-07-23 18:06] geerlingguy commented on #74
I think, based on @tima's warnings above, and also taking another look at the option, I don't think this feature is something we'd want to support through k8s connections; even outside of this collection's context, it's not too common to see people trying to use `rsync` through Kubernetes directly (as there are other mechanisms for copying files into Kubernetes containers and PVs).

I'm going to c

[2020-07-23 18:06] #74 closed

[2020-07-23 18:08] cmoulliard commented on #170
I tried on this channel without success - https://groups.google.com/g/ansible-project/c/SlDn22N-1zM.

I agree with you that such a problem is not specific to k8s but should be addressed ideally by the ansible community.

[2020-07-23 18:09] geerlingguy commented on #31
In https://github.com/ansible-collections/community.kubernetes/pull/172 I updated the links in the README to go to the Ansible 2.10 docs site, where there's an index of all the plugins in this collection: https://docs.ansible.com/ansible/2.10/collections/community/kubernetes/

It would be nice if Galaxy could also render documentation (follow https://github.com/ansible/galaxy/issues/2225 for that)

[2020-07-23 18:09] #31 closed

[2020-07-28 14:14] geerlingguy commented on #137
@jobcespedes - That still seems like something that could be related to K8s instead of Ansible's k8s module. Do you know what version of Kubernetes you're using, and also does any of the information in this comment help? https://github.com/kubernetes/kubernetes/issues/42627#issuecomment-398909699

[2020-07-28 16:04] #171 closed

[2020-07-28 16:18] bmillemathias commented on #170
Debugging modules should be covered by https://docs.ansible.com/ansible/devel/dev_guide/debugging.html
There is a pending PR to update it due to recent changes https://github.com/ansible/ansible/pull/70847

Does it help ?

[2020-07-28 17:54] jobcespedes commented on #137
HI,

It's Kubernetes Version: v1.16.2. I checked the links, thanks. That information and some other reads helped; however, I could not find a way to set the propagation field in Ansible k8s module. I ended up adding labels and some extra tasks to delete orphans based on those labels.

[2020-07-28 21:02] #137 closed

[2020-07-30 06:46] Akasurde commented on #134
Closing this since PR #154 is merged.

[2020-07-30 06:46] #134 closed

[2020-07-30 06:53] Akasurde commented on #161
@chtiouiha Could you please provide the example for this? I remember username and password in helm module was not added due to security reason.

[2020-07-30 07:03] Akasurde commented on #161
@chtiouiha Can you please try [this](https://github.com/ansible-collections/community.kubernetes/pull/61#discussion_r403450143)?

[2020-07-30 11:58] bergmannf commented on #18
I think a module like this might still be useful.

I ran into a case, where waiting for a resource that is not explicitly created via `ansible` is required - in my case I am deploying the `MinIO` Operator via `operatorhub` and the `operator-lifecycle-manager`.

In this case only some resources are created by `ansible` (see: https://operatorhub.io/install/minio-operator.yaml and https://operatorhub

[2020-07-30 14:36] geerlingguy opened #174 "Incorporate (and deprecate?) oc module from community.general"
##### SUMMARY

The `community.general` collection still has an `oc` connection plugin that was never moved into this collection. We should probably move it here then figure out if it should be redirected to `kubectl` (if they're effectively the same) or eventually moved into an OpenShift-specific collection?

https://github.com/ansible-collections/community.general/blob/main/plugins/connection/oc.

[2020-08-03 21:13] tima opened #175 "Proposal: Establish a separate collection for OpenShift (OKD) Content"
# Proposal: Establish a separate collection for OpenShift (OKD) Content

*Author*: Timothy Appnel <@tima>

*Date*: 2020-08-03

- Status: New
- Proposal type: Content Split
- Targeted release: Fall 2020
- Estimated time to implement: TBD

## Motivation

The Ansible k8s content has been a collection of community contributed content for managing Kubernetes resources, applications and services. Throug

[2020-08-03 21:17] geerlingguy commented on #175
I'd be happy with this change, as it would make two things a lot easier:

  1. Removing the remaining openshift 3.x test code from both ansible/ansible and this repository's `ansible-test integration` tests.
  2. Allowing the openshift collection to (hopefully?) integrate with OpenShift's ecosystem testing tools, so that collection's content could be tested against an actual OpenShift 4.x cluster.

[2020-08-03 21:22] geerlingguy commented on #10
See also #175 (which is kinda-sorta a dupe of #48, but more formal and written after some discussion between @tima, @fabianvf, and myself).

[2020-08-03 21:22] geerlingguy commented on #48
Related #175

[2020-08-04 09:46] Akasurde opened #176 "k8s module: Add parameter to invoke the `template` module when given a path to k8s yaml files"
_From @chris-short on Aug 06, 2019 13:17_

##### SUMMARY

k8s module: Add parameter to invoke the `template` module when given a path to k8s yaml files

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
k8s module template processor

##### ADDITIONAL INFORMATION

I think it'd be beneficial for the k8s module (and subsequently operator-sdk) to avoid using Jinja2 templating when possible. In a n

[2020-08-04 09:46] Akasurde commented on #176
_From @geerlingguy on Aug 06, 2019 15:07_

I'm on board with this. I have basically had to add that boilerplate about 7 jillion times, and it would be nice to just have built-in functionality that would allow me to pass a .j2 file with multiple documents that's parsed into the individual docs without writing out an explicit lookup...

[2020-08-04 09:46] Akasurde commented on #176
_From @tima on Aug 06, 2019 15:16_

I also agree. Forcing a lookup template etc is unnecessary repetitive and annoying to keep doing especially given how common reading in a templatized YAML file will be.

[2020-08-04 09:46] Akasurde commented on #176
_From @fabianvf on Aug 06, 2019 15:23_

big +1 from me, would make k8s targeted playbooks/roles much much cleaner

[2020-08-04 09:46] Akasurde commented on #176
_From @willthames on Aug 06, 2019 23:31_

Lovely idea, not at all convinced that it's workable in practice.

How will the module get all the required variables to do the templating?

Write the logic once using e.g. kube-resource role and then move on with your lives. We literally have one kubernetes role that manages *every* kubernetes resource.

https://github.com/willthames/ansible-role-kube-res

[2020-08-04 09:46] Akasurde commented on #176
_From @willthames on Aug 06, 2019 23:44_

One other problem with this idea is that templating is done on the controller but the `k8s` module executes on the target. I'm not sure how many people actually have different controllers and targets for `k8s`.

I'd suggest this would be better as a proposal - it's not a `k8s`-specific concern, and suspect Ansible would need a bunch of changes to make this

[2020-08-04 09:46] Akasurde commented on #176
_From @chris-short on Aug 07, 2019 13:04_

@willthames At a cursory glance, this is marvelous. Will let the others look and dig in while I do the same this morning. But, regardless, thank you. cc @geerlingguy @tima @fabianvf

[2020-08-04 09:46] Akasurde commented on #176
_From @geerlingguy on Aug 12, 2019 17:11_

I'm looking through what it would take to make this possible in the `k8s` module—and a few notes:

  1. Regarding @willthames' concern with templating on the controller but `k8s` on target, there are two ways to overcome that problem:
     1. Executing against `localhost` (this seems to be the norm, in most of the real world usage I've seen, but it is not

[2020-08-04 09:46] Akasurde commented on #176
_From @geerlingguy on Aug 12, 2019 21:14_

I have kind of a PoC in a branch of my k8s collection (see https://github.com/geerlingguy/ansible-collection-k8s/issues/2#issuecomment-520597539)—but I do see how on the module level, it may be impossible to get the templating done when run on a destination machine. (in response to "How will the module get all the required variables to do the templating?"

[2020-08-04 09:46] Akasurde commented on #176
_From @willthames on Aug 15, 2019 11:59_

I'd just like to note that there are also some very hard lessons (the kind that come out of Post Incident Reviews) now encoded in ansible-role-kube-resource that would be more difficult to embed in k8s_template.

This assumes you ever manage a bunch of resources in a single template (an incredibly common pattern)

Basically there's a reason I loop across a

[2020-08-04 09:46] Akasurde commented on #176
_From @willthames on Aug 16, 2019 00:21_

Thinking about this some more, with decent error handling and the loop inside k8s_template, we could be safer from the problem I identify above.

One thing I find hard with the "run one huge manifest in a single task" approach is the lack of error reporting - ok, so my manifest failed because of applying a single resource, but which one? With a looped incl

[2020-08-04 09:47] Akasurde commented on #176
_From @geerlingguy on Feb 21, 2020 20:26_

I've moved this feature request into the Kubernetes collection repository: https://github.com/ansible-collections/kubernetes/issues/37

This request should be closed and further discussion moved to that thread.

[2020-08-04 09:47] Akasurde opened #177 "k8s plugin does not properly delete deployments"
_From @DarrienG on Jun 17, 2019 18:03_

##### SUMMARY
When setting state for a deployment from present -> absent, the deployment is deleted, but the replicaset is not scaled to 0, so the pods the deployment created are still active.

The behavior is idiosyncratic to `kubectl` which scales down the corresponding replicaset when running `kubectl delete deploy $SOME_DEPLOYMENT`

Statefulset does not

[2020-08-04 09:47] Akasurde commented on #177
_From @fabianvf on Oct 25, 2019 18:10_

This was tracked in Kubernetes here: https://github.com/kubernetes/kubernetes/issues/34052

Now that ownerReferences are used to track the ownership of a replicaset, deletions should cascade properly. If you're using an older version of Kubernetes that doesn't use ownerReferences on replicasets, you will have to handle the clean up manually.

I'm not sure wh

[2020-08-04 09:47] Akasurde opened #178 "k8s lookup plugin fails to decode ConfigMap using label_select"
_From @jmazzitelli on Apr 05, 2019 06:12_

##### SUMMARY

Have a ConfigMap in Kubernetes, try to look it up using label_select:

[code]

See it fail:

[code]

Now look it up using resource_name (not label_select) and see it succeed:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s lookup plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ope

[2020-08-04 09:47] Akasurde commented on #178
_From @fabianvf on Oct 25, 2019 17:02_

@jmazzitelli I think the proper argument to the lookup plugin is `label_selector`, not `label_select`, I'm not sure if that would cause this issue or not. Generally I recommend using the `k8s_facts` (called `k8s_info` in 2.9+) instead of the lookup plugin, as it will behave more similarly to the `k8s` module in terms of how it connects to the cluster.

[2020-08-04 09:50] Akasurde opened #179 "openshift inventory plugin, unexpected exception"
_From @aioue on Aug 20, 2018 16:06_

##### SUMMARY

openshift inventory fails to parse

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

openshift

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS X 10.13.6

python == 2.7
pip openshift == 0.6.3
pip PyYAML == 3.13

OpenShift:
openshift v3.7.0
kubernetes v1.7.6

inventory/euc1-inventory-plugin-test/openshif

[2020-08-04 09:50] Akasurde commented on #179
_From @fabianvf on Oct 02, 2018 15:20_

I think this was fixed in #46145

[2020-08-04 09:50] Akasurde commented on #179
_From @aioue on Oct 04, 2018 15:28_

Do you know which version the patch will be available in?

[2020-08-04 09:50] Akasurde commented on #179
_From @willthames on Oct 04, 2018 16:14_

@aioue it will only be in 2.8 without a backport, but you could just pull the contents into plugins/inventory and make sure you set `inventory_plugins = plugins/inventory` in ansible.cfg

[2020-08-04 09:50] Akasurde commented on #179
_From @Akasurde on Oct 06, 2018 09:05_

@aioue Could you please check if #46145 fixes issue for you and let us know ? Thanks

needs_info

[2020-08-04 09:50] Akasurde commented on #179
_From @aioue on Oct 10, 2018 13:22_

As per @willthames instructions, downloaded latest raw openshift.py and placed it the a new plugins directory, and referenced it in `ansible.cfg`.

Issue persists in ansible `2.7.0`.

[code]

[2020-08-04 09:50] Akasurde commented on #179
_From @aioue on Oct 23, 2018 12:15_

@Akasurde @willthames happy to test further

[2020-08-04 10:49] jmazzitelli commented on #178
In this case, lookup is being used specifically to build up items in a loop, so using k8s_info is not available for me here. For example, what if I needed to do something like this:

[code]

In the example above, you can see I'm using `query` not lookup (it's been a while since I had to work around this issue - I think that was my solution - use query instead), but the idea is the same - what if I

[2020-08-04 15:56] choppedpork commented on #128
I believe I've hit a similar issue with the same underlying cause - I've created a helm chart which uses uses a `.Release.Time` based annotation when the container image tag is set to `latest` which combined with `pullPolicy: Always` allows for using `helm upgrade` to re-deploy an updated `latest` image quite neatly. We're been using this approach for a "bleeding-edge" test environment.

Similar a

[2020-08-04 16:49] Akasurde opened #181 "k8s module doesn't support multiple configs in KUBECONFIG env variable"
_From @LuciferInLove on Nov 07, 2019 08:07_

##### SUMMARY
When multiple configs are set up in KUBECONFIG env variable, k8s module doesn't work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 29 (Twenty Nine) 5.0.13-200.fc29.x86_64

##### STEPS TO REPRODUCE
There are two configs in $HOME/.kube - $HOM

[2020-08-04 17:14] geerlingguy commented on #10
Moving this issue over to https://github.com/ansible-collections/community.okd/issues/2

[2020-08-04 17:14] #10 closed

[2020-08-04 17:50] maxamillion commented on #175
:+1: shipit

[2020-08-05 09:07] willthames commented on #175
I'm hugely negative on

I've spent a lot of effort putting kubernetes features that the ansible k8s modules depend upon into that module, there are a lot of great features in there. Just because of the name doesn't mean it's not a great python module for managing kubernetes, and this proposal ignores that legacy.

I'm cool with the rest of it though, I don't like even having to see openshift issue

[2020-08-05 09:17] willthames commented on #175
To be clear, the following features in the openshift-restclient-python library are heavily relied upon by the k8s modules:
* client-side apply
* diff
* append_hash
* transparent merge_type
* validate

Admittedly those cases all have excellent test coverage if you just wanted to reimplement them inside the collection, but also I'm not sure why you'd bother. There's also a super close collaboration

[2020-08-05 11:51] JnMik commented on #177
I've started seeing this recently as well ! Kubernetes 1.17 EKS on aws.

[2020-08-05 15:27] fabianvf commented on #177
I don't think this is anything we can/should fix in the modules, this is the responsibility of the kubernetes garbage collector

[2020-08-05 15:27] #177 closed

[2020-08-05 20:15] geerlingguy commented on #174
Moved to https://github.com/ansible-collections/community.okd/issues/4

[2020-08-05 20:15] #174 closed

[2020-08-05 20:43] tima commented on #175
@willthames: I appreciate your concern. We're not just going to pull one library out for the other and break things. We're looking at that carefully and are well aware of the technical challenges -- some that you've outlined in your comments which really helpful in identifying areas were the official Kubernetes client is lacking today. We've thought this over and feel taking this on is a worthwhil

[2020-08-05 20:46] felixfontein opened #183 "Inclusion of community.kubernetes in Ansible 2.10"
This collection will be included in Ansible 2.10 because it contains modules and/or plugins that were included in Ansible 2.9. Please review:

* The list of requirements for inclusion in Ansible: https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst
* The roadmap with all important dates for Ansible 2.10: https://github.com/ansible/ansible/blob/devel/docs/docsite/

[2020-08-05 21:52] geerlingguy commented on #183
This has already been done—note that we are currently looking at whether we'll have the `community.okd` collection ready by then, and if so, we might redirect _one_ module over to it (though keeping the same API/usage for the `k8s` module which currently mixes in Projects from OpenShift, but will be extracted in a 2.0.0 release that may be good for Ansible 2.11).

cc @tima

[2020-08-05 21:52] #183 closed

[2020-08-06 10:00] Akasurde commented on #181
@LuciferInLove Can you please share the version of the Kubernetes Python library used? I am not able to reproduce this.

[code]

needs_info

[2020-08-06 10:03] Akasurde commented on #179
@aioue Can you please install latest Kuberentes collection and let us know

[code]

[2020-08-06 10:23] LuciferInLove commented on #181
@Akasurde, hello. I can't reproduce this too now after updating ansible (currently 2.9.7) and python3-kubernetes (currently 11.0.0). Sorry.

[2020-08-06 10:32] Akasurde commented on #181
@LuciferInLove Merging multiple configs is added via https://github.com/kubernetes-client/python-base/pull/94. I am not sure which version of Kubernetes Python it was added in.

I will mark this as closed since updating to latest Kuberenetes Python fixes the issue. Please feel free to open a new issue, if problem persists.

Thanks.

[2020-08-06 10:32] #181 closed

[2020-08-06 11:06] Akasurde commented on #176
Duplicate of #37

[2020-08-06 11:06] #176 closed

[2020-08-06 11:10] Akasurde commented on #121
@joeibm2020 Can you please provide the required information? Thanks.

[2020-08-06 21:03] alaypatel07 opened #184 "allow lookup of the token in current kubeconfig context"
##### SUMMARY

The kubeconfig contains information for current context and if the user is logged in,
it also contains the token with which user is logged in as. The modules should have
a way to lookup the token. It is equivalent of `oc whoami -t`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Lookup Plugins - k8s, k8s_info

[2020-08-06 21:13] alaypatel07 opened #185 "client side rate limiting"
##### SUMMARY

kubernetes client-go has QPS and Burst configurations that will allow us to
rate-limit the number of request hitting the api-server on client side. It would
be great if the k8s module can be backed by rate-limiting client to stop a rogue
playbook bring down api-server

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
probably all components that use the client

##### ADDITIONAL

[2020-08-06 21:38] alaypatel07 opened #186 "support generateName or utils like that"
##### SUMMARY

In order to make sure that resources created by k8s module has unique
name, there is some work involded to be done in ansible. kubernetes
api-server has a `metadata.generateName` field which can be used
to create a name that is within the limits of max chars allowed for the
resource. It would be great if the k8s module allows creation of
resources with generateName so the user does

[2020-08-06 22:36] tima commented on #185
I see the value of this safety net, but I'm not sure how Ansible would facilitate something like this given the distributed and forking nature of its module system. I'll defer to @Akasurde and @maxamillion who have a deeper understanding of the engines internals to see what they think.

[2020-08-06 23:38] tima commented on #89
@bmillemathias Wouldn't using params like `username` & `password` or `kubeconfig` provide the same function of switching users? If not, how?

[2020-08-06 23:46] tima commented on #70
@chuckersjp and @xeor -- have you tried the latest Ansible 2.9? Does the issue persist? With moving to collections things are changing a lot. Our ability to back port fixes is also limited at this time as we work through this transition.

[2020-08-07 08:14] bmillemathias commented on #89
For me this is different, the idea is I can have one user that can use for changes requiring limited permissions, and use impersonation (like `system:admin` often) to make changes to install with higher permissions (like CRD for operators).
Having two different users is less convenient.

I thought also using `become` is a good analogy with the impersonation mechanism to keep the ansible way of esc

[2020-08-07 09:23] Akasurde commented on #186
@alaypatel07 I would use the following task -

[code]

or

[code]

cat generateName.yml
[code]

Since `generateName` is only applicable for `create` whereas `k8s` module uses `apply`.

@fabianvf @tima @willthames @geerlingguy Correct me if I am wrong here.

[2020-08-07 13:48] chuckersjp commented on #70
Had to do some hoop jumping to see if I could replicate this.

Problem still exists for the following:

[code]

[2020-08-07 22:42] tima opened #187 "Migration to kubernetes-client/python Meta-issue"
This meta-issue is part of the execution of the [proposal to establish a separate collection for OpenShift (OKD) Content](#175 ).

The Ansible k8s_* modules and other plugins use the  [openshift-restclient-python library](https://github.com/openshift/openshift-restclient-python) dynamic API client. While this library covers both native K8s functionality in addition to OpenShift specific extensions

[2020-08-10 22:17] Geethree opened #188 "Return helm values even if check_mode is active"
##### SUMMARY
Currently the helm `values` are only returned if check_mode is not active.

https://github.com/ansible-collections/community.kubernetes/blob/666b75eba4d11e4d20b25df74b07acfe8cf7a593/plugins/modules/helm.py#L482-L488

Vs.

https://github.com/ansible-collections/community.kubernetes/blob/666b75eba4d11e4d20b25df74b07acfe8cf7a593/plugins/modules/helm.py#L500-L506

When it comes to constr

[2020-08-11 05:41] Akasurde commented on #186
@alaypatel07 Can you please confirm if this works for you? Thanks.

[2020-08-11 17:15] tima commented on #36
The `k8s_scale` module is a good example of a module that needs work to untangle the code.

[2020-08-11 17:29] tima commented on #41
I understand the desire and utility for such a thing, but given all of the potential variables and permutations one may deploy a Kubernetes environment I believe it is not possible to create something universal enough to be a part of the core kubernetes integration for Ansible. This is not to say this is a bad idea or something of little use, but rather it should be its own role or collection like

[2020-08-11 17:29] #41 closed

[2020-08-11 17:44] tima commented on #48
We're moving ahead with the proposal described in #175 and have established an [ansible-collections/community.okd](https://github.com/ansible-collections/community.okd) collection. Closing this ticket and will track progress through task specific and meta issues like #187 and ansible-collections/community.okd#6.

[2020-08-11 17:44] #48 closed

[2020-08-11 17:51] tima commented on #50
Thanks for this suggestion. This is something better served by the ansible core on the whole than a K8s collection specific solution. The `json-query` filter exists and has been used for this function, but has maintenance issues. A `jq` filter as @jamescassell suggests would be ideal in community.general or the core.

[2020-08-11 17:51] #50 closed

[2020-08-11 17:53] tima commented on #53
I agree. Let's establish this as soon as I finish cleaning up the backlog here.

[2020-08-11 18:08] tima commented on #70
Thanks @chuckersjp.

@Akasurde could you look into this to see why this is happening? Could you also check roles in collections while you are at it? Thinking like #37 we aren't passing this modules params through all the functions like other modules. Just a thought.

[2020-08-11 18:13] tima commented on #71
@SteelCrow is this still an issue for you? With recent releases?

[2020-08-11 18:19] tima commented on #80
@stmarier Does @willthames's suggestion work for you here?

[2020-08-11 20:13] stmarier commented on #80
No, it doesn't work for me here.  The workaround I implemented in my employer's ansible fork has been working fine since April and we didn't have to fundamentally alter the way we were writing tasks.

This remains a bug, IMHO.  I see that you've added a `needs_info` tag to this bug report.  What do you want added to this issue?

[2020-08-12 07:23] Akasurde opened #189 "k8s check mode does not work very well"
_From @hibbert on Jan 28, 2020 20:46_

##### SUMMARY

With ```--check``` mode and k8s resources using the k8s_module (https://docs.ansible.com/ansible/latest/modules/k8s_module.html) it is showing things will change, when run without ```--check``` they don't change, which is correct

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##

[2020-08-12 07:23] Akasurde commented on #189
_From @Akasurde on Jan 29, 2020 05:31_

!component =lib/ansible/modules/clustering/k8s/k8s.py

[2020-08-12 07:23] Akasurde commented on #189
_From @shaunsmiley-xevo on May 01, 2020 22:34_

I see the same issue with multiple different k8s manifests.

This appears to be the same as https://github.com/ansible/ansible/issues/67653.

[2020-08-12 07:23] Akasurde opened #190 "k8s module: bad diff in check mode when creating a service with apply:yes"
_From @atikhono on Feb 21, 2020 15:06_

##### SUMMARY
There's always a diff in check mode against k8s Service resource created with k8s module and `apply: yes` (and it must not be there).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULT

[2020-08-12 07:23] Akasurde commented on #190
_From @willthames on Jul 08, 2020 07:58_

This is fixed in the latest version of the community.kubernetes collection

[2020-08-12 12:08] Akasurde commented on #188
@Geethree Definitely, you can go ahead and create PR for this. Thanks.

[2020-08-12 16:58] tima commented on #163
@fabianvf what you describe sounds good though I think a `kustomize` lookup function similar to the template or file lookups would be more appropriate. Something like...

[code]

Doing so would be consistent to how a user reads and template-ize external definition files now.

[code]

I would be opposed to building kustomize template processing functionality directly into the `k8s` module. Jinja2 i

[2020-08-12 17:11] tima commented on #184
@alaypatel07 How would you use this this token lookup function? The K8s module supports reading in kubeconfig files and has access to the token through that mechanism.

[2020-08-12 17:12] tima commented on #185
cc @fabianvf

[2020-08-12 17:24] tima commented on #189
This issue is closely related to PR #99.

[2020-08-12 17:29] tima commented on #190
@atikhono: Given @willthames comment above, can you check again and verify this has been resolved?

[2020-08-12 17:31] tima commented on #188
Sounds good to me @Geethree.

[2020-08-12 17:39] alaypatel07 commented on #184
@tima some applications may use this token as for auth and authz. For instance, the openshift image-registry can be exposed and you can pull/push images using this token.  My primary requirement was to get the token so I can automate the image-registry login base on current kubeconfig context, instead of asking the user of my playing to perform a couple of manual steps. Not sure if this answers th

[2020-08-12 21:30] tima commented on #184
That helps @alaypatel07. I could see the potential for a module that could read in a kubeconfig file and parse info out of a file into ansible variables could help help here. It would solve all cases though since access tokens could be stored through other means.

[2020-08-17 05:59] Akasurde commented on #186
@alaypatel07 Any news?

[2020-08-18 06:44] Akasurde commented on #178
I am not able to reproduce this -

[code]

[2020-08-18 06:45] Akasurde commented on #178
@jmazzitelli Can you try once again and let us known if you still face the issue?

[2020-08-18 08:16] Akasurde commented on #70
k8s module can run on the local machine as well as the remote machine (`delegate_to` host) so we might need to implement both `src` and `remote_src` if we go `copy` like `src` functionality.

[2020-08-18 12:29] Akasurde commented on #73
PR is merged. Closing.

[2020-08-18 12:29] #73 closed

[2020-08-18 15:24] geerlingguy commented on #43
Here are the instructions—two PRs needed: https://github.com/ansible/project-config/#on-board-new-repo-into-zuul

[2020-08-18 15:32] maxamillion opened #195 "Create downstream release script/tooling"
##### SUMMARY

Need to create a downstream release script, Makefile, and make target.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Makefile

[2020-08-18 15:32] geerlingguy commented on #43
Created the two required PRs:

  1. https://github.com/ansible/project-config/pull/591
  2. https://github.com/ansible/project-config/pull/592

Waiting on upstream, and once they're merged and I can confirm Zuul's working, I'll convert the PR on this repo to 'Open' instead of 'Draft'.

[2020-08-18 15:34] #120 closed

[2020-08-19 09:56] stiller-leser opened #198 "Mock calls to community.k8s"
##### SUMMARY

This is more a request about the feasibility with molecule. If it is possible, I'd be happy to document this. I have two ansible roles, where role B depends on role A. Both roles use calls to `community.k8s.*` to configure the state of a K8s cluster. Since role B is dependend on k8s resources created by role A, I can not test role B without role A.

I wonder though, if it is somehow

[2020-08-19 19:33] geerlingguy commented on #198
I'm not sure if it would be possible to mock data from `k8s_info`—at least, there's no mechanism for doing so that I can think of. You'd need an actual cluster running that you could query to get any information back from the Kubernetes API, and I don't think there's a mechanism in Ansible for building mock data to return from a module.

One option you have is you could write a custom module with

[2020-08-20 08:05] stiller-leser commented on #198
Thank you for the answer, I was expecting something like this. It would be kinda cool to have something like:
[code]
Instead of developing a module with the same API like `community.k8s`, I could also use `set_fact` for `pod` - My goal was using the same task in order to prevent copy and paste errors.

[2020-08-20 18:14] geerlingguy commented on #175
@tima - as it looks like this proposal has been adopted (see `community.okd`), should we close this issue, and also the other `topic/openshift` labeled issues, and propose moving them to the `community.okd` repo?

Additionally, we would need a follow-up issue: Remove the current `integration` tests since they are only running on a severely outdated openshift 3.9 instance set up by `ansible-test` (

[2020-08-20 18:33] tima commented on #175
Agreed @geerlingguy. We're moving ahead with this proposal so it can be closed.

Will file an issue to discontinue running the openshift CI tests here. I've been meaning to go through the topic/openshift labeled issues. I suspect one or two may not be relevant in OCP4.

[2020-08-20 18:33] #175 closed

[2020-08-20 22:46] tima commented on #198
Mock interfaces is not something we can to take on in this collection. It's not something the Ansible community has approached testing traditionally opting to use its automation to setup test systems and work against that. If Ansible where to  begin to support mock data to return from a module that mechanism would get implemented in the Ansible core and not a collection. Besides the `set_fact` app

[2020-08-20 22:47] #198 closed

[2020-08-21 13:14] shanemcd opened #200 "Kubectl connection plugin doesn't seem to work"
##### SUMMARY
Hello. I'm seeing what looks like a bug in the kubectl connection plugin. More details below.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
kubectl connection plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed

##### OS / ENVIRONMENT

Seen on both Fedora 32 and CentOS 8

##### STEPS TO REPRODUCE

[code]

Invocation:

[code]

##### EXPECTED RESULTS

The

[2020-08-21 21:19] fmuyassarov opened #202 "k8s_info doesn't work with Kubernetes Custom Resources (CR)"
##### SUMMARY
Ansible Module k8s_info doesn't recognize Kubernetes Custom Resources (CR) even though `kubectl` client does.

I have created custom resource on my Kubernetes cluster called `Baremetalhost`. I can do any CRUD (create, read, update, delete) operations on that custom resource using `kubectl.`
Example:
[code]
However, when try to use `k8s_info` module, the playbook doesn't print out exp

[2020-08-24 05:31] Akasurde commented on #202
@fmuyassarov Since you are using custom resources, it typically has different `api_version` which is different than default value `v1`. You will need to specify the `api_version` in those cases.

For example - if you create a custom resource `crontab` like https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/ and custom object like https://kubernetes.io/d

[2020-08-24 05:42] Akasurde commented on #202
Let me know if it does not work after specifying `api_version`. I updated the example section for this case - https://github.com/ansible-collections/community.kubernetes/pull/203

[2020-08-24 07:35] fmuyassarov commented on #202
@Akasurde specifying API version worked. Thanks a lot. I forgot to add custom API in the task. But I think it's worth to add a note to the documentation.

[2020-08-24 07:42] Akasurde commented on #202
@fmuyassarov Could you please take a look at #203 and comment if it looks to you? Thanks for the feedback.

[2020-08-24 08:25] Akasurde commented on #200
@shanemcd Thanks for reporting this issue. I am able to reproduce the repetition of `exec` but not able to reproduce the `Failed to create a temporary directory. In...` error. Could you please let me know the container image used in this example? Problem might be container image specific.

[2020-08-24 08:25] Akasurde commented on #200
@shanemcd Also, check if #204 solves `exec` repetition problem.

[2020-08-24 10:24] Akasurde commented on #186
@fabianvf @geerlingguy @tima @willthames Let me know if you think this is right approach. Thanks.

[2020-08-24 15:23] #53 closed

[2020-08-24 15:24] geerlingguy opened #205 "Using a lookup in k8s module 'src' results in Python crashing on macOS"
##### SUMMARY

This is a fun one: sometimes I want to download a manifest from an HTTP endpoint and deploy it into the cluster. When I do this passing it in as `src` or `definition`, instead of giving any helpful error, it ends up crashing Python on macOS:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

k8s

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

macOS 10.15.6

#####

[2020-08-24 16:08] fabianvf commented on #202
Documentation issue addressed in #203

[2020-08-24 16:08] #202 closed

[2020-08-25 04:25] Akasurde commented on #205
@geerlingguy This is a known issue - https://github.com/ansible/ansible/issues/49207. This is due to macOS security model.

[2020-08-25 10:26] Akasurde commented on #179
@aioue Any news?

[2020-08-25 10:26] Akasurde commented on #178
@jmazzitelli Any news?

[2020-08-25 11:06] jmazzitelli commented on #178
No news. It has been a long time (almost a year and a half - I reported this in April of 2019) since I had to workaround this. I do not know if the same problem exists now or not because, due to the original problem, I switched to using the workaround. I probably would have been able to work on this more if we didn't wait months to debug it ;-)

[2020-08-25 11:13] Akasurde commented on #178
@jmazzitelli OK. I agree there has been a delay. But with the introduction of collection, the efforts on K8s modules gained momentum.
I will close this for now. If the problem persists, please feel free to open a new issue with required details.

Thanks for the feedback.

[2020-08-25 11:13] #178 closed

[2020-08-25 15:07] #43 closed

[2020-08-26 04:52] #38 closed

[2020-08-26 14:18] #36 closed

[2020-08-26 14:35] Akasurde commented on #161
@chtiouiha You can install Helm chart from private helm repo as -

[code]

After running -

[code]

Let me know if you need anything from myside. Thanks.

[2020-08-26 17:30] ncauchois opened #207 "helm doesn't detect changes in kubernetes objects"
### SUMMARY

If you make changes directly in a kubernetes object as deployment, helm will not detect these changes and redeploy with good values.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.kubernetes.helm

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
debian

##### STEPS TO REPRODUCE

1. Release the chart
[code]
2. Edit kubernetes deployment and change memory resource re

[2020-08-26 19:18] tima commented on #205
@geerlingguy and @Akasurde this sounds like a "wontfix." Is this worth documenting?

[2020-08-27 06:18] Akasurde commented on #207
@ncauchois Thanks for reporting this issue. Do you think this is similar to https://github.com/ansible-collections/community.kubernetes/issues/128?

[2020-08-27 15:41] #195 closed

[2020-08-27 19:44] geerlingguy commented on #18
I'm... going to reopen this feature request. I ran into a condition today where it would be very useful for me to be able to observe a set of pods that I did not start/manage using `k8s`, but rather an _operator_ set them up. I just need to see when the Pods are `Ready`, and it would be so nice to not have to install `kubectl` in the environment just to use `kubectl wait`.

[2020-08-27 19:52] fabianvf commented on #18
@geerlingguy what do you think about adding the `wait` and `wait_condition` parameters to the `k8s_info` module?

[2020-08-27 19:54] geerlingguy commented on #18
@fabianvf - Well, that would solve the issue for me, and avoid adding yet another module.

[2020-08-28 14:36] ncauchois commented on #207
The problem comes from here: https://github.com/ansible-collections/community.kubernetes/blob/e9d8bf703bcb9bced1ae327d99be99e907d7d83a/plugins/modules/helm.py#L476. The helm command is never launched if there is no force, differences between the values ​​or on the version of the chart.

[2020-08-31 03:59] #200 closed

[2020-08-31 12:16] Akasurde commented on #70
This is addressed via #193

[2020-08-31 12:16] #70 closed

[2020-08-31 12:19] Akasurde commented on #205
@tima I think, Ansible main documentation is the proper location for this because this affects all lookup plugin.

[2020-09-02 06:51] Akasurde commented on #190
@atikhono Could you please check if PR #99 resolves your issue and let us know? Thanks.

needs_info

[2020-09-02 07:53] Akasurde commented on #170
I will close this as this is not specific to k8s but overall Ansible specific. Thanks.

[2020-09-02 07:53] #170 closed

[2020-09-02 07:56] Akasurde commented on #161
@chtiouiha Any news?

[2020-09-02 07:59] Akasurde commented on #121
@joeibm2020 Could you please provide the required information? Thanks.

[2020-09-02 10:51] zhangs-ibm opened #215 "k8s module delete job do not cascading delete the pods which were created by job"
##### SUMMARY
Use K8s module delete job do not trigger cascading delete the pods which were created by job

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
use ansible-operator `quay.io/operator-framework/ansible-operator:v0.17.2`

##### STEPS TO REPRODUCE
1. create any job at k8s cluster
2. use following a

[2020-09-02 10:52] zhangs-ibm commented on #215
Here is the discussion at kubernetes API issues, might related with:
https://github.com/kubernetes/kubernetes/issues/20902#issuecomment-321216843

[2020-09-02 19:17] nathanegillett opened #218 "k8s_info doesn't show "Route" resources"
##### SUMMARY
When using k8s_info module to get select resources under a namespace, none of kind "Route" are returned.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
k8s_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Create route resources in OpenShift, use k8s_info to fetch them.

[code]

##### EXPECTED RESULTS

Gi

[2020-09-02 19:43] geerlingguy commented on #218
I believe `Route` is an OpenShift-specific resource, and as such, special handling for this kind of resource should probably end up in https://github.com/ansible-collections/community.okd (cc @fabianvf).

[2020-09-02 20:36] tima opened #219 "Refactor: Ancillary K8s modules should not inherit from KubernetesRawModule"
[Derived from feedback from @fabianvf]

Ancillary K8s modules such as k8s_service should not inherit from `KubernetesRawModule`. This is problematic in that the inheritance is too broad and includes a lot of implicitly inherited behavior This makes it unclear what is actually shared and sometimes carries through functions or parameters not applicable to the module being implemented.

Examples of i

[2020-09-02 20:48] tima opened #220 "Refactor: Split up perform_action method in module_utils"
Derived from feedback from @fabianvf:

The [`perform_action` method in module_utils/raw.py](https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/module_utils/raw.py#L235) should be refactored into more independent focused bits that make it easier for collection like community.okd to override specific behaviors when needed.

As part of this work, other methods in `raw.py` s

[2020-09-02 20:59] tima commented on #218
@nathanegillett: This for calling this issue to our attention. We're in the process of extracting all OpenShift specific functionality from this collection and moving it into its own collection. We're not going to fix this in community.kubernetes where you've filed this, but would definitely look into over in community.okd.

I'm going to attempt a transfer now.

[2020-09-02 23:59] tima opened #221 "Moving this content to kubernetes.core (v2.0)"
Red Hat Ansible is looking to continue furthering this content collection for downstream applications and packaging. Continuing with the "community" prefix will be confusing and communicate and different status. To address this, this repo will be transferred to a new repo named kubernetes.core. The community.kubernetes collection/repo will remain, but all future development and activity will shift

[2020-09-03 00:46] tima opened #222 "Does the `k8s_auth` module belong in community.okd?"
In reviewing the code of `k8s_auth` I noticed most of the functions and many of the internal variables are prefixed with `openshift_`. Is there a purpose for this module outside of OpenShift? If there is does there need to be an openshift specific k8s_auth module there and a generic (standard) `k8s_auth` here? Or does the `k8s_auth` module need to move over to community.okd?

cc/ @willthames @fabi

[2020-09-03 10:26] Akasurde commented on #219
- [ ] https://github.com/ansible-collections/community.kubernetes/pull/223

[2020-09-03 11:46] atikhono commented on #190
@Akasurde I have just checked that with community.kubernetes 1.0.0 the issue is gone, thanks!

[2020-09-03 11:51] Akasurde commented on #190
@atikhono Thanks for reporting back. I will mark this as closed for now. Please feel free to open a new issue if you face same problem. Thanks.

[2020-09-03 11:51] #190 closed

[2020-09-07 07:12] #106 closed

[2020-09-08 18:28] tima opened #226 "How is the k8s inventory plugin being used?"
In #217, @fabianvf made some modifications to the k8s inventory plugin that we believe improve its overall operation, cuts down on the "noise" and just makes more sense. This begs the question -- how is this plugin being used? Does this refactoring make sense? What is the impact, if any, of the changes? Are there other improvements to be made to help users?

[2020-09-14 10:23] Akasurde commented on #226
@tima I can imagine as following -

[code]

[2020-09-15 18:54] tima commented on #222
Having received not objections here or other conversations amongst contributors, we're going to start migrating this module to community.okd. ansible-collections/community.okd#28.

[2020-09-17 13:32] Akasurde commented on #220
resolved_by_pr #231

[2020-09-17 23:06] mes5k commented on #164
I was able to get rid of `helm secrets` from my chart by using `ansible-vault` to store hard-coded secrets.  My task looks something like this:
[code]
All encrypted secrets are stored in `vault.yml`. Those variables get substituted into the `../files/secrets.yaml.j2` template that gets passed in as my release values to helm.  I also use the [password lookup plugin](https://docs.ansible.com/ansible

[2020-09-19 00:38] tima opened #232 "Remove the KubernetesRawModule class"
As part of refactoring this collections code, KubernetesRawModule was deprecated in #231 for release 1.1. Measures have been taken for modules and plugins that may be using this class in their code. In 2.0.0 we will remove it though.

[2020-09-19 04:25] #220 closed

[2020-09-19 04:26] Akasurde commented on #219
All PRs are merged and can be closed.

[2020-09-19 04:26] #219 closed

[2020-09-20 20:30] fabianvf commented on #88
`apply` is off by default, it uses a 3-way merge strategy in order to generate a diff for a patch. `force` causes the module to issue a `PUT` instead of a `PATCH`. Neither of them will prevent a resource from changing if your parameters change. If you don't want the task to change the resource then you need to skip the task manually

[2020-09-22 09:54] wayne-o opened #233 "Just hangs on any request"
Running this just hangs indefinitely

ansible yml:
[code]

Log output:
[code]

[2020-09-22 09:55] Akasurde commented on #161
I will close this for now as there is no news from the reporter. Please feel free to open a new issue.

[2020-09-22 09:55] #161 closed

[2020-09-22 14:30] geerlingguy commented on #233
Does `~/.kube/config.json` contain a valid kubeconfig file, or do you have `K8S_AUTH_KUBECONFIG` set in the environment to the path of a valid kubeconfig? What kind of cluster are you interacting with?

[2020-09-22 17:17] tima commented on #88
Closing based on @fabianvf's last comment.

[2020-09-22 17:17] #88 closed

[2020-09-22 17:20] #205 closed

[2020-09-22 17:59] jmazzitelli opened #234 "be able to check API access via k8s objects SelfSubjectAccessReview"
##### SUMMARY

Be able to create necessary objects to check for specific permissions - SelfSubjectAccessReview, SelfSubjectRulesReview, etc.

In effect, perform a "kubectl can-i". See: https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access

`k8s` fails to support this.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`k8s`

##### ANSIBLE VERSION

[code]

###

[2020-09-23 18:13] fabianvf commented on #215
hmm, we should probably surface a way to pass [`deleteOptions`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#deleteoptions-v1-meta) through to the API client. I can think of 3 ways we could do this:

1. Add a new `deleteOptions` parameter to the `k8s` module with a schema that matches the linked doc ^
2. Expose (probably only some) of the `deleteOptions` parameters as top-l

[2020-09-23 18:22] tima commented on #215
@fabianvf FWIW I would have a problem with option 3 because it would be frowned upon by the larger Ansible community and core developers. `state` is one of the most common and important params in Ansible modules (it's a desired state engine after all) that overloading it or deviating from how it works in other modules is verboten.

I lean towards option 2 because I'm an Ansible guy first so my pre

[2020-09-23 18:25] fabianvf commented on #215
@time for option 1 I think we'd still have local validation, it would just be a nested parameter instead of top-level due because we've got so many top-level parameters already that I think it would be tough to document them cleanly. Nesting the options under `delete_options` would let us document them/users provide them in a block

[2020-09-27 10:21] servo1x opened #238 "List the rbac permissions required for each module"
##### SUMMARY
It is unclear what RBAC permissions are required for each module.

##### ISSUE TYPE
- Documentation Report

[2020-09-28 04:54] #222 closed

[2020-09-28 05:22] #18 closed

[2020-09-28 06:05] #37 closed

[2020-09-28 13:55] Akasurde commented on #189
This can be closed since the PR #99 is merged.

[2020-09-28 13:55] #189 closed

[2020-09-28 16:20] #234 closed

[2020-09-28 19:19] geerlingguy commented on #238
@servo1x - These modules just use Kubernetes' API to interact with a cluster. The RBAC permissions for any given resource would be documented within the Kubernetes installation itself.

These modules just require some form of authentication/authorization, usually in the form of a kubeconfig file, and then whatever you can do with that and something like `kubectl`, these modules can also do.

There

[2020-09-28 19:32] #238 closed

[2020-09-28 20:50] tima commented on #215
OK. So let's go with option 1.

[2020-09-29 14:16] wayne-o commented on #233
so ~/.kube/config has a valid config and I can use kubectl

it's weird as I just came back to this on another cluster and it's not
working again.

bare metal cluster - everything else is working fine

On Tue, 22 Sep 2020 at 15:31, Jeff Geerling <notifications@github.com>
wrote:

[2020-09-29 14:48] geerlingguy commented on #6
At this point, if we want to incorporate this change (as @fabianvf suggested), I would propose doing that in 2.x since it could be a breaking change.

[2020-09-29 14:50] geerlingguy opened #240 "Remove the k8s_auth module (and other bits moved to okd collection)"
##### SUMMARY

We moved the k8s_auth module to openshift_auth in the `community.okd` collection in this issue: https://github.com/ansible-collections/community.okd/pull/33

We need to now remove the k8s_auth module (and any supporting code/docs) from this collection, but this should be reserved until the 2.0 release of this collection since it is a breaking change.

##### ISSUE TYPE
- Feature Idea

[2020-09-29 14:52] geerlingguy opened #241 "Remove the openshift inventory plugin (moved to okd collection)"
##### SUMMARY

We moved the openshift inventory plugin to the community.okd collection in this PR: https://github.com/ansible-collections/community.okd/pull/3

We need to now remove the openshift inventory plugin (and any supporting code/docs) from this collection, but this should be reserved until the 2.0 release of this collection since it is a breaking change.

##### ISSUE TYPE
- Feature Idea

[2020-09-29 14:56] geerlingguy opened #242 "Remove unused integration tests that run on old OpenShift version"
##### SUMMARY

The integration tests inside tests/integration were built to test OpenShift-specific functionality and run on a specialized old OpenShift 3.x instance that is managed through a test plugin in Ansible core.

For this issue I would like to:

- [ ] Remove the OpenShift-specific integration tests (I believe all of them can be removed).
- [x] <s>File a new issue/PR in ansible/ansible</s>

[2020-09-29 15:01] geerlingguy commented on #221
I think it's important to outline the process for the move; here's what I'd propose:

1. Create `kubernetes.core` repository.
2. Clone exact contents of this repository into that one.
3. Run the script that @maxamillion had created to make `kubernetes.core` content in that repository.
4. Commit all the changes to finish the `community.kubernetes`-->`kubernetes.core` namespace change.
5. Tag a new

[2020-09-29 15:47] geerlingguy opened #243 "Add to new template parameter test case - template file with multiple resource definitions"
##### SUMMARY

After https://github.com/ansible-collections/community.kubernetes/pull/230 was merged, I wondered if multiple YAML documents, e.g.:

[code]

Would be parsed and applied correctly, without the additional use of something like `from_yaml_all` in the `definition` parameter.

Maybe to make sure this behavior continues working in the future (assuming it works now), we could include _two_

[2020-09-29 15:47] geerlingguy commented on #243
cc @tima, @Akasurde

[2020-09-29 18:11] tima commented on #188
Closed by #192

[2020-09-29 18:11] #188 closed

[2020-09-29 22:29] tima commented on #233
@wayne-o I'm trying to reproduce this on my end and I'm not having a problem.

I'm curious about this line in what you're seeing:

Are you running this through sudo on the CLI? I don't see it in the play you provided. Is Ansible stopping and waiting for input from your playbook that it appears to just hang on any request?  What is in your ansible.cfg file?

I'd try running the play without sudo to

[2020-09-30 05:32] wayne-o commented on #233
Hi

Yeah I don’t use sudo for amiable.

It’s a fresh install of Ubuntu that I’m running it on.

If I run it in a vagrant box it works.

So weird

W
On 29 Sep 2020, 23:29 +0100, Timothy Appnel <notifications@github.com>, wrote:

[2020-10-01 06:54] gaborho opened #244 "Helm Post Rendering support"
##### SUMMARY
Helm Post Rendering support

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.kubernetes.helm

##### ADDITIONAL INFORMATION
Post rendering gives chart installers the ability to manually manipulate, configure, and/or validate rendered manifests before they are installed by Helm. It would be great to support this in the helm module. Use case would be to hand over a post

[2020-10-01 10:46] Akasurde commented on #243
resolved_by_pr #245

[2020-10-01 11:57] FWiesner commented on #186
Support for `.metadata.generateName` is highly desirable when the yamls you use are not your own and the projects (for example Knative) make use of it

[2020-10-01 13:56] #243 closed

[2020-10-01 23:44] tima commented on #233
There's nothing in your ansible.cfg or a `become: yes` somewhere? I'm not sure what to say with what you've given us.

[2020-10-02 05:36] nat45928 opened #246 "Helm should include appVersion in it's idempotence check"
##### SUMMARY

When re-deploying a Helm chart using Ansible I noticed no deployment was preformed and the console output listed my task as `ok` instead of `changed`. It appears that the Helm module only uses the `chart` key to determine if a Chart needs to be upgraded during execution, [see here](https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/modules/helm.py#L498). T

[2020-10-03 22:35] tima opened #248 "Improve helm module idempotency checks with optional helm-diff support"
##### SUMMARY

A number of issues have been filed where Ansible does not properly detect changes in a Helm chart depending on the nature of the changes. While improved logic could and should be added to the module, for the best and most complete results, helm-diff should be integrated into the modules logic.

At this time, I am recommending this support should be made optional to avoid another har

[2020-10-05 17:19] #93 closed

[2020-10-06 09:44] stiller-leser opened #249 "k8s_event_info"
##### SUMMARY

Create a new module `community.kubernetes.k8s_event_info` to be able to react to events.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`community.kubernetes`

specifically create a new module `community.kubernetes.k8s_event_info`

##### ADDITIONAL INFORMATION

`community.kubernetes.k8s_event_info` would be used to mimick the workings of `kubectl describe` or in API terms t

[2020-10-06 15:14] tima commented on #57
We couldn't reproduce this in the Ansible content. We believe this might be a big in the specific version of OCP. Closing, but please re-open if you find something to the contrary.

[2020-10-06 16:44] tima commented on #128
We're going to fold addressing this and other related issues into #248.

[2020-10-06 16:44] #128 closed

[2020-10-06 16:45] tima commented on #207
We're going to fold addressing this and other related issues into #248.

[2020-10-06 16:45] #207 closed

[2020-10-06 19:51] geerlingguy opened #250 "CI failing on downstream Ansible 2.9 test during inventory tests"
##### SUMMARY

Our CI is failing currently (starting this morning) with the following exception:

[code]

This exception occurs during this task:

[code]

Located here: https://github.com/ansible-collections/community.kubernetes/blob/main/molecule/default/converge.yml#L85

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

molecule tests for downstream Ansible 2.9.

##### ANSIBLE VERSION

2.9

#

[2020-10-06 19:57] geerlingguy commented on #250
Ansible 2.9.14 was released yesterday, and that seems to have been the inflection point—CI wasn't failing until then: https://github.com/ansible/ansible/blob/stable-2.9/changelogs/CHANGELOG-v2.9.rst#id51

[2020-10-06 19:58] geerlingguy commented on #250
Added critical priority since this technically blocks any merges due to the fact that all CI builds are failing.

[2020-10-07 05:08] Akasurde commented on #250
Fix for -
Stable-2.9 - https://github.com/ansible/ansible/pull/72130
Stable-2.8 - https://github.com/ansible/ansible/pull/72131

[2020-10-07 17:56] tima commented on #250
This is a summary where I think we are on this issue.

A typo was made in backporting a CVE fix to the kubectl connection plugin in ansible/ansible that broke the k8s inventory plugin in this collection.  @Akasurde has submitted PRs to fix the problem in the next releases (pending merge) of 2.8 and 2.9. So that is squared away.

Question: Why is this collection's inventory plugin using the kubectl

[2020-10-07 18:11] tima commented on #250
[This line](https://github.com/ansible-collections/community.kubernetes/blob/0377a892d5ce7ee39ad683d80be8be58dbef7360/plugins/inventory/k8s.py#L280) sets the connection plugin in the hostvars for each pod which is [set to just kubectl ](https://github.com/ansible-collections/community.kubernetes/blob/0377a892d5ce7ee39ad683d80be8be58dbef7360/plugins/inventory/k8s.py#L146)(no namespacing). I _think_

[2020-10-07 18:32] geerlingguy commented on #250
@tima - I'll attempt that quick fix in a PR in a moment.

[2020-10-07 19:58] #250 closed

[2020-10-07 20:40] #246 closed

[2020-10-07 21:30] tima opened #253 "Add a new `delete_options` parameter to the `k8s` module"
### SUMMARY

The `k8s` module needs a way to implement a way to pass `deleteOptions` values through to the K8s API client. This feature request would address the problem reported in #215, where cascading deletes are needed, but cannot be performed with the modules today.

This would entail adding a new `delete_options` parameter to the `k8s` module that can pass through [a complex data structure w

[2020-10-08 14:40] geerlingguy opened #254 "Prepare for a 1.1.0 release"
##### SUMMARY

Today we'd like to release the 1.1.0 version of this collection—at the same time, we will release an identical 1.1.0 version as `kubernetes.core` in preparation for the moving of all of this collection's content into that namespace (see https://github.com/ansible-collections/community.kubernetes/issues/221 for details).

I will need to go through past PRs and make sure they are all

[2020-10-08 15:50] jkupferer commented on #186
I just ran into this issue as well. Using `metadata.generateName` is not equivalent to explicitly setting a name suffix from ansible. We want resource naming to be dictated by kubernetes, not a work around.

As @FWiesner said, we also want to be able to lookup and use resource definitions from other sources that use `metadata.generateName`. The current behavior is broken and should be considered a

[2020-10-08 16:06] Akasurde commented on #186
@FWiesner @jkupferer Thanks for the input.

[2020-10-08 17:25] tima opened #256 "Document the return values of the `helm_repository` module"
The return values for `helm_repository` are not documented.

https://github.com/ansible-collections/community.kubernetes/blob/ef256060f1f12c2fde059ad233bd49ed7520d349/plugins/modules/helm_repository.py#L76

[2020-10-08 20:37] geerlingguy commented on #254
1.1.0 has been tagged on GitHub, and is pushing to Galaxy; still need to:

  - Manually push artifact to `kubernetes.core` on Galaxy
  - Manually push artifact to `kubernetes.core` on Automation Hub.

[2020-10-08 20:43] geerlingguy commented on #254
So far:

[code]

[2020-10-09 13:59] geerlingguy opened #260 "Sanity test 'compile' failing when importing into Automation Hub"
##### SUMMARY

I just tried uploading the `kubernetes.core` downstream tarball to Automation Hub, and it seems like it came back with two errors:

[code]

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

Automation Hub upload

[2020-10-09 14:02] geerlingguy commented on #260
Can reproduce it locally:

[code]

(Why is our CI not failing?)

[2020-10-09 14:07] pabelanger commented on #260
you look to be running ansible-test from devel, automation hub is pinned to use ansible 2.9 ansible-test. This could be why you do not see it.

[2020-10-09 14:19] geerlingguy commented on #260
It's interesting—I reproduced the issue locally with Python 3.8 and Ansible 2.10.1 :-/

[2020-10-09 14:42] tima opened #262 "downstream build script creates a nonsensical sentence in the README"
##### SUMMARY

The downstream build script replaces all occurrences of community.kubernetes with kubernetes.core, but it creates this nonsensical sentence in the README: "This repo hosts the kubernetes.core (a.k.a. kubernetes.core) Ansible Collection."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

README (kubernetes.core)

##### ADDITIONAL INFORMATION

https://galaxy.ansible.com/kubernetes

[2020-10-09 14:43] geerlingguy commented on #262
I mean, it's not _wrong_, it is also known as the same thing it's known as. But it is a rather silly line.

[2020-10-09 14:50] tima commented on #262
Hence nonsencial. I've added low priority just for you @geerlingguy. ;)

[2020-10-09 15:17] #260 closed

[2020-10-09 15:34] geerlingguy commented on #254
This version has been released and submitted to Automation Hub. I will be releasing a 1.1.1 release soon with fixes https://github.com/ansible-collections/community.kubernetes/pull/259 and https://github.com/ansible-collections/community.kubernetes/pull/261 (at least).

[2020-10-09 15:34] #254 closed

[2020-10-09 15:35] geerlingguy opened #263 "Prepare for a 1.1.1 release"
##### SUMMARY

A kind-of 'hotfix' to make sure the code passes ansible-test sanity on import to Automation Hub was required after pushing up 1.1.0 of `kubernetes.core`. So this release should hopefully pass all tests and go a little more smoothly.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

Releases

##### ADDITIONAL INFORMATION

N/A

[2020-10-09 15:50] tima opened #264 "Perform "Galaxy cleanup""
During #254 a kubernetes.core 1.0.0 release was errantly posted to Ansible Galaxy (https://galaxy.ansible.com/kubernetes/core).

This 1.0.0 release should be removed, and 1.1.0 (which was posted shortly after) should be retained.

[2020-10-09 16:01] tima opened #265 "Create kubernetes.core repository"
In preparing for #221, a new kubernetes.core repo needs to be created. Since both of these will need to exist for a time simultaneously this new repo will *not* be a clone or fork of this repo. For the moment, it will be a new repo and should include a README explaining the name change and migration. This will also fix the 404 error on the kubernetes.core collection Galaxy page repo link.

https:/

[2020-10-09 16:35] thedoubl3j commented on #263
rejecting 1.1.0 in favor of 1.1.1 whenever it is posted.

[2020-10-09 16:54] gundalow commented on #265
Created https://github.com/ansible-collections/kubernetes.core with the same owners as `community.kubernetes`

[2020-10-09 17:41] gundalow commented on #265
Please accept the invite to the repo via https://github.com/ansible-collections/kubernetes.core/invitations

[2020-10-09 17:48] tima commented on #265
Thanks @gundalow.

[2020-10-09 17:48] #265 closed

[2020-10-09 17:49] #262 closed

[2020-10-09 18:46] #263 closed

[2020-10-09 18:53] geerlingguy commented on #263
Just uploaded to Automation Hub!

[2020-10-11 16:22] distributorofpain commented on #135
Note, on CentOS 8, i had to change the python path to 3.6 to remove the right directory.  But it fixed my issue.

[2020-10-12 07:16] Akasurde commented on #256
resolved_by_pr #269

[2020-10-12 15:08] tzvifriedman commented on #135
Just a note on the above, aside from also changing the python version, in Ubuntu 18.04, it's `dist-packages` and not `site-packages`. Took me some time to figure that one out.

[2020-10-12 15:20] #256 closed

[2020-10-13 20:36] cynthia-rempel opened #271 "I'd like to help out with writing tests. Is there a specific area that tests would be wanted/needed?"
Thanks for all your help!

[2020-10-13 22:07] geerlingguy commented on #271
Thanks for asking! Currently we are good for tests in this collection, as we have been pretty diligent about adding adequate test coverage for every new feature in it, but I would suggest helping where you can in some of the other collections which are more lacking in coverage.

[2020-10-13 23:46] cynthia-rempel commented on #271
Since you're the one who referred me here, and now are saying there's no need, I'm feeling like my help wasn't wanted in the first place.  Since I was directed to kubernetes.core at the contributor's summit, I reported the lack of interest in their repo.  I feel the right thing to do would have been to tell me no help was needed at the other repo.

[2020-10-14 02:44] geerlingguy commented on #271
@cynthia-rempel - In the other issue, I meant that this is  the repository where active development is happening for the Kubernetes Collection (though that will change at some point in the next month, as we move to the `kubernetes.core` repository).

I know there are some collections in the https://github.com/ansible-collections organization that may need assistance with increasing test coverage,

[2020-10-14 03:26] memelet opened #272 "release_namespace is required even when chart already has a default namespace"
I'm deploying the rancher-monitoring (https://github.com/rancher/charts/tree/main/charts/rancher-monitoring). It by default will use the namespace `cattle-monitoring-system`, which I am happy with. The chart supports overriding the namespace with the value `namespaceOverride`

But I _must_ provide the `release_namespace` as it's required. To ensure that I keep the namespace consistent I am doing

[2020-10-14 14:13] geerlingguy commented on #272
@memelet - It's not the norm, though, that a Chart will have namespace-based variables, whereas it's important to be able to deploy any chart into a specific namespace (unless I'm mistaken, and all or almost all charts have variables similar to `namespaceOverride`?).

And in that case, while it may be annoying to have to put the namespace in twice in those instances, I don't see any easier way to

[2020-10-14 22:03] strarsis commented on #135
Yes, had to uninstall `ansible-base` package, too, not just the `ansible` package: `pip3 uninstall ansible-base`.
`pip3 list` can help finding extraneous packages.
Also note that root user and normal user can easily have different pip packages and therefore ansible versions.
`ansible-base` was installed on normal user and on root user, adding extra confusion and errors when trying to use ansible.

[2020-10-15 17:10] felixfontein commented on #221
With regard to this, what happens to the kubevirt modules in community.general, which depend on community.kubernetes? (I'd really like to remove them from community.general - does anyone wants to have them? :) )

[2020-10-15 17:19] geerlingguy commented on #221
@felixfontein I know @tima was working on https://github.com/tima/community.kubevirt, but was trying to figure out a way to get the CI going when I last spoke with him about it... I'd be perfectly happy to schlepp those modules into @tima's namespace ;)

[2020-10-15 17:33] tima commented on #221
@felixfontein and @geerlingguy: Yes. The contributors of those modules didn't use the standard Ansible tooling for testing and relied upon a static kubevirt cluster. Trying to rectify that in my "free time" has been the issue.

[2020-10-15 18:51] cynthia-rempel commented on #271
Thanks for taking the time to clarify this!  I really appreciate it :)

[2020-10-15 18:51] #271 closed

[2020-10-16 06:58] T0MASD opened #273 "regression caused by kubernetes==12.0.0"
##### SUMMARY
Since running: sudo pip install kubernetes --upgrade I'm getting an error when trying to use
community.kubernetes  collection

please see below

This was reported https://github.com/kubernetes-client/python/issues/1284

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

fedora 32

##### STEPS TO REP

[2020-10-16 20:16] SturmB commented on #135
I just now learned about GitHub Actions and decided to give it a try. My first action is using [ansible-lint](https://github.com/ansible/ansible-lint). And I now get this error message every time I push. However, ansible-lint runs fine locally and I've already corrected all issues it brought up.

Is there something I need to do to correct this, or is it something that's buggy with GitHub's Actions

[2020-10-19 06:51] SpikePy opened #274 "community.kubernetes.helm: release_values makes ansible always show changed state"
##### SUMMARY
When using `values_files: /tmp/{{ role_name }}/values_rabbitmq.yml` in the new helm module ansible always shows a _changed_ state after running it (even though the file has the same content), but if I use
`release_values: "{{ lookup('template', 'values_rabbitmq.yml') | from_yaml }}"` with the same content it just shows ok and only shows change when something actually changed in the g

[2020-10-19 14:06] reneforstner opened #275 "Failed to load kubeconfig due to Invalid kube-config file. No configuration found."
##### SUMMARY
Remote execution of k8s functions is not working

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 community.kubernetes.k8s

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Ansible Controller Host --> Bastion Host --> AWS EKS Kubernetes Cluster

What I want to archive is quite simple: I create an AWS EKS Cluster and a bastion host with Terraform and Terraform triggers a playboo

[2020-10-20 14:24] howardjones opened #277 "helm within awx using wrong credentials"
##### SUMMARY

I have a playbook that uses community.kubernetes.k8s to create a namespace, then community.kubernetes.helm to deploy a chart into that namespace. I want to do this from awx.
I've created a service-account in the k8s cluster to do this, and a credential in awx with the token/CA details from that service-account. I've attached that credential to the job template for the playbook, but

[2020-10-20 15:03] tima commented on #277
@howardjones Just to verify, did you install the community.kubernetes collection into AWX? If so, which version of the collection are you using.

[2020-10-20 16:28] stiller-leser commented on #249
From looking at https://github.com/openshift/openshift-restclient-python/blob/master/openshift/dynamic/client.py it seems the openshift client does not support this yet, right?

[2020-10-20 19:17] howardjones commented on #277
Yes, I have a collections/requirements.yml in my project repo. It calls for 1.0.0

[2020-10-21 08:02] stiller-leser commented on #249
Well, turns out events can be retrieved via

[code]

This allows to formulate the following `json_query`:

[code]

So, yes events can already be retrieved, but the `json_query` is very cumbersome. It would be nice to have a wrapper for it.

[2020-10-21 11:16] el-pako opened #278 "k8s create resource from template fails"
##### SUMMARY
Using k8s module with template parameter to generate kubernetes resources from template file fails with:

"Failed to retrieve requested object: get() missing 1 required positional argument: 'body'",

##### ISSUE TYPE
- Bug Report / Usage error?

##### COMPONENT NAME
k8s

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
NAME="Red Hat Enterprise Linux Se

[2020-10-21 11:22] Akasurde commented on #278
@el-pako Thanks for reporting this issue. Could you please provide content of /home/user/resource.j2?

[2020-10-21 11:45] el-pako commented on #278
@Akasurde I added it to my first comment.

[2020-10-21 11:48] Akasurde commented on #278
@el-pako Thanks. I will try to reproduce this on setup.

[2020-10-21 15:33] Akasurde commented on #278
@el-pako Could you please list the version openshift library used? Also, do you get same error while creating other objects as well? Thanks.

[2020-10-21 17:32] mschdeibmcom commented on #278
@Akasurde

/bin/pip3 show openshift
Name: openshift
Version: 0.11.2
Summary: OpenShift python client

I get this error when using the template parameter, no matter whats written in the resource.j2, also when it is empty.

[2020-10-21 17:33] el-pako commented on #278
@Akasurde

/bin/pip3 show openshift
Name: openshift
Version: 0.11.2
Summary: OpenShift python client

I get this error when using the template parameter, no matter whats written in the resource.j2, also when it is empty.

[2020-10-21 22:50] tima commented on #278
Thanks for the extra info @el-pako. @Akasurde was having trouble reproducing the error so far. That error seems to be coming from the openshift client library which is a bit puzzling.  We're digging deeper and just wanted to make sure we're testing with the same versions.

[2020-10-21 23:15] tima commented on #275
@reneforstner Just to clarify because I don't see it in the snippet you supplied -- where are you delegating the k8s namespace present task to run on your bastion host?  Also, in the copy task you have a `dest` set to `/home/{{ ace_user }}/.kube/config` but in the following task you are getting the kubeconfig from `/home/ubuntu/.kube/config`. Did you meant to do that? Is `ace_user` always equal to

[2020-10-22 00:14] tima commented on #277
@howardjones: FWIW the latest version of that collection is 1.1.1. I doubt that will fix your issue, but I thought I'd just point that out for future reference.

You're also working with a pretty new addition to the AWX code base and it seems that the docs for it haven't caught up to it. Sorry about that.

I'm not an AWX developer, but from what I recall talking to those developers and I see in th

[2020-10-22 00:27] tima opened #279 "Align helm* modules credential options with AWX built-in K8s credential type."
##### SUMMARY

The `helm` modules can use a kubeconfig file path and context to access a k8s cluster. AWX is introducing a K8s built-in credential type that uses environment variables to provide access credentials like so...

[code]

The helm modules being limited to just a kubeconfig file makes using them difficult and inconvenient to use in AWX.

All the helm modules in this collection should su

[2020-10-22 01:03] tima commented on #278
@el-pako: I was able to reproduce it. Could you try using the FQCN like so...

[code]

Without prepending `community.kubernetes` the playbook runner assumes `ansible.builtin`, an older version of the `k8s` module which doesn't support the template param. What I'm still unclear on is why you didn't just get an unrecognized parameter "template" error from the module because it was using the builtin

[2020-10-22 01:50] geerlingguy commented on #279
@tima those types seem to be more relevant to use with OpenShift, and I think we decided to move all the Openshift-auth-specific parts out into the okd collection...

[2020-10-22 06:57] reneforstner commented on #275
@tima   Sorry for this...{{ ace_user }} is "ubuntu" i just hardcoded this for testing purposes. I launch my playbook with an ini file which contains all the vars, as well as the host:

Calling the playbook:
`
ansible-playbook -i bastion.ini playbook.yml -vvvv
`
Start of the playbook:
`
- name: Configure host
  hosts: acebastion
  become: true
`

`
[acebastion]
ip-of-my-host ansible_user=ubuntu ans

[2020-10-22 06:59] arcalys opened #280 "Check mode not working properly for the helm module when deploying releases"
##### SUMMARY

I am trying to install a few Helm releases into a local and staging kubernetes clusters through Ansible using the Helm module. However, when running check mode, it always fails if the release does not exist.

It seems to be related to that change: https://github.com/ansible-collections/community.kubernetes/commit/7946b398a7fd42bd8fa8cfb02ccbf03b2d135a60#diff-25ae73979f193a414d8f45fc

[2020-10-22 07:35] el-pako commented on #278
@tima Using the FQCN for the module, the error is gone and the resource was successfully created in the k8 environment. This time, I referenced the template file in the template folder (but it also works with a full qualified reference):

[code]

[2020-10-22 07:38] el-pako commented on #278
Here is the verbose output.

changed: [<REMOTE_IP>] => {
    "changed": true,
    "invocation": {
        "module_args": {
            "api_key": null,
            "api_version": "v1",
            "append_hash": false,
            "apply": false,
            "ca_cert": null,
            "client_cert": null,
            "client_key": null,
            "context": null,
            "force": false,

[2020-10-22 07:55] reneforstner commented on #275
Hi again,

I just figured out that this issue is related to the newest python kubernetes module (which was released on 15th of October)
Because I just installed any kubernetes module newer than 10.0.0, the latest and greatest was installed.
I changed it to 11.0.0 and everything works as expected.

I'll try to figure out the issue with using the python module natively without ansible and let you kn

[2020-10-22 08:15] Akasurde commented on #275
@reneforstner Do you think this will resolve your issue - https://github.com/ansible-collections/community.kubernetes/pull/276?

[2020-10-22 08:26] Akasurde commented on #280
@arcalys Thanks for reporting this issue. I will try to reproduce this at my end.

[2020-10-22 08:32] reneforstner commented on #275
@Akasurde indeed, when I do not specify any kubeconfig (which I usually do not do) i get the identical error message with the kubernetes module 12.0.0

[2020-10-22 09:32] howardjones commented on #277
Thanks for the in-depth response @tima! I started working on this about 2 weeks ago - hadn't seen the two new release of the collection - I've updated that now. So it seems that my solution for now would be a task to fake up a kubeconfig from the env vars?  That's sounds workable.

[2020-10-22 09:34] Akasurde commented on #280
resolved_by_pr #281

[2020-10-22 09:35] Akasurde commented on #280
@arcalys Could you please check if #281 resolves the issue for you and let me know? Thanks.

[2020-10-22 09:36] Akasurde commented on #275
@reneforstner Thanks for the information.

[2020-10-22 09:36] Akasurde commented on #275
resolved_by_pr #276

[2020-10-22 09:41] arcalys commented on #280
@Akasurde
Just tested it and I can confirm this resolves the issue.
Thanks for the fast response !

Cheers

[2020-10-22 09:45] Akasurde commented on #278
So, the problem is - when we do not specify FQCN for the module, it fails to find the respective action plugin. The `template` logic comes from `k8s` action plugin and resposible for populating required information such as `name`, `kind`. Thus OpenShift library fails to find the required parameter to search resource due to lack of info.

@tima I am talking to Ansible Core team to check if this is

[2020-10-22 13:32] eMCeee89 opened #282 "k8s Secret check_mode issue"
##### SUMMARY
When k8s module is used for Kubernetes Secret (state=present) with a check_mode enabled, then it always returns changed: True. Without check_mode, the very same manifest returns changed: False. Please note this issue only applies to Secret resource type, ConfigMap resource returns expected results.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.kubernetes.k8s

##### A

[2020-10-22 13:56] howardjones commented on #279
@geerlingguy what is the intended way to pass k8s credentials from awx to (e.g.) the helm module if not this? It looks like I could generate a kubeconfig using awx custom credential types, and 18 lines of template jammed into the injector json, but that also doesn't feel optimal.

[2020-10-22 14:18] eMCeee89 commented on #282
One finding regarding the issue:
 - if you use `data` instead of `stringData` and you encode values using b64encode filter, then the issue will not appear hence module behaves as expected

[2020-10-22 14:38] geerlingguy commented on #279
@howardjones - I understand, but I'm more wondering if we might need to figure out a way to make it so modules like the helm ones work better in openshift through some change/fix in the okd collection, or pulling back some of the auth things from that collection to here.

Are you using Helm, in this case, with an OpenShift cluster?

[2020-10-22 15:07] howardjones commented on #279
No, it's regular kubernetes (Azure AKS). My intention is to be able to deploy dev environments on demand to one of several clusters, so I'm aiming to get the choice of cluster into the awx job, not the playbook. Looking at community.kubernetes.k8s, it appears that module already does support these environment variables. Is the plan for that to go away?

(what's OKD?)

[2020-10-22 15:32] geerlingguy commented on #279
@howardjones - Ah! Nevermind then, I was thinking of the wrong thing entirely. Ignore my comments :)

Yes, the Helm modules should be able to support the same env vars as the k8s* modules, so this is missing functionality that needs to be added.

[2020-10-22 19:41] #273 closed

[2020-10-22 19:46] fabianvf commented on #282
Since the k8s module is generic, in check mode it sees that what the user wants is `stringData` with content, and what is there is `data` with different content, and so it assumes that this is a real change and reports that the resource will change (which should be correct for pretty much any other resource).

We can just special case secrets in check mode here to make it work correctly, we just n

[2020-10-22 19:49] tima commented on #279
@howardjones OKD is the community distribution of Kubernetes that powers Red Hat's OpenShift: https://github.com/openshift/okd